<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>A website user just submitted the following information to EcoPractices:</h3><br />
<p>
  <b>Name:</b> <%= @name %><br />
  <b>Email:</b> <%= @email %><br />
  <b>Phone:</b> <%= @phone %><br />
  <b>Ecotag Id:</b> <%= @ecotagid %><br />
  <b>Message:</b> <%= @message %><br />
</p>
</body>
</html>