<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3> A New Prodcuer API <%= @id %> has been successfully created.</h3>
  </body>
</html>