

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Header
  ============================================= -->
  <header id="header" class="full-header">
    <div id="header-wrap">
      <div class="container clearfix">
        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
        <!-- Logo
        ============================================= -->
        <div id="logo">
         <a href='/' data-no-turbolink class="standard-logo" data-dark-logo="<%= image_path("logo-ecocredits.png") %>">
            <%= image_tag("logo-ecopractices.png", {:class=>"img-responsive"}) %>
          </a>
          <a href="#" class="retina-logo" data-dark-logo="<%= image_path("logo-ecocredits@2x.png") %>">
            <%= image_tag("logo-ecocredits@2x.png", {:class=>"img-responsive"}) %>
          </a>
        </div><!-- #logo end -->
        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu">
          <ul>
            <li class="who_we_are"><%= link_to 'WHO WE ARE', controller: 'who_we_are' %></li>
            <li><%= link_to 'HOW IT WORKS', controller: 'how_it_works' %></li>
            <li><%= link_to 'PRODUCE ECOTAGS', controller: 'produce_tags' %></li>
            <li><%= link_to 'BUY ECOTAGS', controller: 'buy_tags' %></li>
          </ul>
          <ul style="border: none;">
            <li><a href="https://producer.ecocredits.me/user/register"><i class="fa fa-lock" style="color: #b4bb00; font-size: 18px !important;"></i> &nbsp;LOGIN</a></li>
          </ul>
        </nav><!-- #primary-menu end -->
      </div>
    </div>
  </header><!-- #header end -->

<!-- Flash Notice
  ============================================= -->
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value.html_safe %></div>
    <% end %>
  </div><!-- #Notice end -->

  <!-- Content
  ============================================= -->
  <section id="content">

    <div class="content-wrap">

      <div class="main-banner section parallax dark nobottommargin header-stick notopborder" style="background: url('<%= image_path("show-head.png") %>') no-repeat center center;background-size: cover;height: 250px;" data-stellar-background-ratio="0.3">
        <div class="container clearfix">
          <div class="buy-header">
            <h2>BUY ECOTAGS</h2>
            <p id="up25">The process for purchasing Ecotags</p>
          </div>
        </div>
      </div>
      
      <div class="container-fluid produce-head">
         <div class="container clearfix produce-head-content">
            <div class="row">
               <div class="col-lg-12">
                  <p>Investing corporate dollars in green initiatives has always been hard. The EcoPractices network provides the first compliance driven and fully auditable solution to investing in our environment. Now you can make your green investment choices with full confidence.</p>
               </div>
            </div>
         </div>
      </div>

      <div class="container" style="margin-top:50px;">
         <div class="row">
            <div class="col-md-6">
               <h2 style="color:#b4bb00; font-size:32px;">HOW TO BUY ECOTAGS</h2>
               <div id="revenue-divider" style="border: 1px solid #222;width: 40px;"></div>
               <br />
               <p style="color:#555555; font-size:28px;font-weight:200;">First, a buyer can search through the list of Ecotags to invest in sustainable practices that meet their green investment criteria.</p>
            </div>

            <div class="col-md-6">
               <%= image_tag("list-screen.png", {:'data-animate'=>"fadeInRightBig"}) %>
            </div>
        </div>
     </div>

     <div class="produce-body">
        <br />
        <div class="container" style="margin-top:50px; padding-bottom:1px;">
           <div class="row">
            <div class="col-md-6 show-small">
               <p style="color:#555555; font-size:28px;font-weight:200;">Buyers can also view an Ecotag to learn more about the sustainable practice implemented on the field and how it benefits the environment.</p>
            </div>
            <div class="col-md-6">
               <%= image_tag("buy-screen.png", {:'data-animate'=>"fadeInLeftBig"}) %>
            </div>
            <div class="col-md-6 hide-small">
               <p style="color:#555555; font-size:28px;font-weight:200;">Buyers can also view an Ecotag to learn more about the sustainable practice implemented on the field and how it benefits the environment.</p>
            </div>
           </div>
         </div>
      </div>
      
      <div class="cert-body" style="margin-top:-1px; padding-bottom:1px;">
         <div class="container clearfix">
            <div class="row">
               <div class="col-lg-7">
                  <div class="produce-head-content">
                     <%= image_tag("cert-badge.png", {:class=>"img-responsive cert-badge-buy"}) %>
                     <p class="cert-p-buy">Buyers can then purchase the Ecotag for a set fee.</p>
                  </div>
               </div>
               <div class="col-lg-5 hide-med" style="background: url('<%= image_path("shake-bg.png") %>') no-repeat center center;background-size: cover;height: 360px; margin-top:-56px;">
               <br />
               </div>
            </div>
         </div>
      </div>
      
      <div class="produce-head" style="margin-top:-1px;">
         <div class="container clearfix">
            <div class="row">
               <div class="col-lg-4 hide-med" style="background: url('<%= image_path("tinted-stamp.png") %>') no-repeat center center;background-size: cover;height: 360px; margin-top:-56px;">
               </div>
               <div class="col-lg-8">
                  <div class="produce-head-content">
                     <p style="margin-top:50px;font-weight:200; text-align:left; padding-left:50px;">After purchasing Ecotags, the buyer will receive a certificate and auditable proof of investment.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="container" style="margin-top:50px;">
         <div class="row">
            <div class="col-md-6">
               <br />
               <p style="color:#555555; font-size:28px;font-weight:200;">In addition, the buyer will receive a media tool kit that will help them promote the Ecotags they purchased. The media tool kit will include social media posts, images, press releases, logos, and materials that the buyer can purchase for their company.</p>
            </div>

            <div class="col-md-6">
               <%= image_tag("social-media.png", {:'data-animate'=>"fadeInRightBig"}) %>
            </div>
        </div>
     </div>

     <div class="contact-container" style="background: url('<%= image_path("inv-form-bg.png") %>') no-repeat center center;background-size: cover;min-height: 560px;height:auto">
      <div class="container">
         <div class="contact-body">
            <div class="row">
               <div class="col-md-12">
               <h3 style="color:#FFF;text-align:center;">CONTACT US TO LEARN MORE ABOUT PURCHASING ECOTAGS</h3>
               </div>
            </div>
            <form action="/buy_eco/index" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
               <div class="row">
                  <div class="col-md-4">
                     <label for="name" style="color:#FFF;">NAME*</label>
                     <input type="text" class="form-control" id="name" name="name">
                  </div>
                  <div class="col-md-4">
                     <label for="name" style="color:#FFF;">EMAIL*</label>
                     <input type="text" class="form-control" id="email" name="email">
                  </div>
                  <div class="col-md-4">
                     <label for="name" style="color:#FFF;">PHONE*</label>
                     <input type="text" class="form-control" id="phone" name="phone">
               </div>
               <div class="row">
                  <div class="col-md-12">
                     <label for="subject" style="color:#FFF;">SUBJECT*</label>
                     <input type="text" class="form-control" id="subject" name="subject">
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12">
                     <label for="message" style="color:#FFF;">MESSAGE*</label>
                     <textarea class="form-control" rows="5" name="message"></textarea>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12">
                     <div class="submit-container">
                        <input type="submit" class="submit-btn" value="send message">
                     </div>
                  </div>
               </div>
            </form>
        </div>
     </div>

    </div> <!-- /.content-wrap -->

  </section> <!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark" style="margin-top:-80px;">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
      <div class="container clearfix">
        <p class="center">Redstone Standard &copy; 2015, All Rights Reserved<br></p>
      </div>
    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->
</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

