

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Header
  ============================================= -->
  <header id="header" class="full-header">
    <div id="header-wrap">
      <div class="container clearfix">
        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
        <!-- Logo
        ============================================= -->
        <div id="logo" class="move-right">
         <a href='/' data-no-turbolink class="standard-logo" data-dark-logo="<%= image_path("logo-ecocredits.png") %>">
         <%= image_tag("logo-ecopractices.png", {:class=>"img-responsive"}) %>
          </a>
          <a href='/' data-no-turbolink class="retina-logo" data-dark-logo="<%= image_path("logo-ecocredits@2x.png") %>">
            <%= image_tag("logo-ecocredits@2x.png", {:class=>"img-responsive"}) %>
          </a>
        </div><!-- #logo end -->
        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu">
          <ul>
            <li class="who_we_are"><%= link_to 'WHO WE ARE', controller: 'who_we_are' %></li>
            <li><%= link_to 'HOW IT WORKS', controller: 'how_it_works' %></li>
            <li><%= link_to 'PRODUCE ECOTAGS', controller: 'produce_tags' %></li>
            <li class="current"><%= link_to 'BUY ECOTAGS', controller: 'buy_tags' %></li>
          </ul>
        </nav><!-- #primary-menu end -->
      </div>
    </div>
  </header><!-- #header end -->


  <!-- Content
  ============================================= -->
  <section id="content">

    <div class="content-wrap">

      <div class="main-banner section parallax dark nobottommargin header-stick notopborder" style="background: url('<%= image_path("checkout-bg.png") %>') no-repeat center center;background-size: cover;height: 250px;" data-stellar-background-ratio="0.3">
        <div class="container clearfix">
          <div class="buy-header">
            <h2>CHECKOUT</h2>
            <p id="up25">Finalize your Ecotags Purchase</p>
          </div>
        </div>
      </div>

      <div class="container clearfix tags-c">
         <div class="row">
            <div class="col-md-8">
               <h3 style="color:#999;">YOUR PURCHASE LIST</h3>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <th>&nbsp;</th>
                    <th>State</th>
                    <th>Sector</th>
                    <th class="green-text">Acres <i class="fa fa-chevron-down"></i></th>
                    <th>Price</th>
                    <th>&nbsp;</th>
                  </thead>
                  <tr class='clickable-row' data-href='/checkout/item?cert=1' data-no-turbolink>
                    <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
                    <td>Iowa</td>
                    <td>Corn</td>
                    <td>150.2</td>
                    <td>$64,064</td>
                    <td class="font18 text-underline"><a href="#"><i class="fa fa-ban"></i> &nbsp;Remove Item</a></td>
                  </tr>
                  <tr class='clickable-row' data-href='/checkout/item?cert=2' data-no-turbolink>
                    <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
                    <td>Iowa</td>
                    <td>Corn</td>
                    <td>110.8</td>
                    <td>$34,015</td>
                    <td class="font18 text-underline"><a href="#"><i class="fa fa-ban"></i> &nbsp;Remove Item</a></td>
                  </tr>
                  <tr class='clickable-row' data-href='/checkout/item?cert=3' data-no-turbolink>
                    <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
                    <td>Iowa</td>
                    <td>Corn</td>
                    <td>90.6</td>
                    <td>$32,096</td>
                    <td class="font18 text-underline"><a href="#"><i class="fa fa-ban"></i> &nbsp;Remove Item</a></td>
                  </tr>
                  <tr class='clickable-row' data-href='/checkout/item?cert=4' data-no-turbolink>
                    <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
                    <td>Iowa</td>
                    <td>Corn</td>
                    <td>81.7</td>
                    <td>$28,954</td>
                    <td class="font18"><a href="#"><i class="fa fa-ban"></i> &nbsp;Remove Item</a></td>
                  </tr>
                  <tr class='clickable-row' data-href='/checkout/item?cert=5' data-no-turbolink>
                    <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
                    <td>Iowa</td>
                    <td>Corn</td>
                    <td>78.5</td>
                    <td>$22,137</td>
                    <td class="font18 text-underline"><a href="#"><i class="fa fa-ban"></i> &nbsp;Remove Item</a></td>
                  </tr>
                  <tr class='clickable-row' data-href='/checkout/item?cert=6' data-no-turbolink>
                    <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
                    <td>Iowa</td>
                    <td>Corn</td>
                    <td>77.4</td>
                    <td>$19,845</td>
                    <td class="font18 text-underline"><a href="#"><i class="fa fa-ban"></i> &nbsp;Remove Item</a></td>
                  </tr>
                  <tr class='clickable-row' data-href='/checkout/item?cert=7' data-no-turbolink>
                    <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
                    <td>Iowa</td>
                    <td>Corn</td>
                    <td>68.5</td>
                    <td>$18,483</td>
                    <td class="font18 text-underline"><a href="#"><i class="fa fa-ban"></i> &nbsp;Remove Item</a></td>
                  </tr>
                  <tr class='clickable-row' data-href='/checkout/item?cert=8' data-no-turbolink>
                    <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
                    <td>Iowa</td>
                    <td>Corn</td>
                    <td>64.6</td>
                    <td>$16,849</td>
                    <td class="font18 text-underline"><a href="#"><i class="fa fa-ban"></i> &nbsp;Remove Item</a></td>
                  </tr>
                  <tr class='clickable-row' data-href='/checkout/item?cert=9' data-no-turbolink>
                    <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
                    <td>Iowa</td>
                    <td>Corn</td>
                    <td>62.8</td>
                    <td>$14,394</td>
                    <td class="font18 text-underline"><a href="#"><i class="fa fa-ban"></i> &nbsp;Remove Item</a></td>
                  </tr>
                  <tr class='clickable-row' data-href='/checkout/item?cert=10' data-no-turbolink>
                    <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
                    <td>Iowa</td>
                    <td>Corn</td>
                    <td>61.4</td>
                    <td>$12,478</td>
                    <td class="font18 text-underline"><a href="#"><i class="fa fa-ban"></i> &nbsp;Remove Item</a></td>
                  </tr>
                  <tr class='clickable-row' data-href='/checkout/item?cert=11' data-no-turbolink>
                    <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
                    <td>Iowa</td>
                    <td>Corn</td>
                    <td>54.4</td>
                    <td>$11,483</td>
                    <td class="font18 text-underline"><a href="#"><i class="fa fa-ban"></i> &nbsp;Remove Item</a></td>
                  </tr>
                </table>
              </div>
           </div>
           <div class="col-md-4">
            <div class="subtotal-container">
              <h3 style="color:#999;">SUBTOTAL <span class="float-right green-text">$274,798</span></h3>
                <h3 style="color:#999;">TAX <span class="float-right" style="color:#000;">$0.00</span></h3>
                <hr style="border-color:#00b033; margin-top:-22px;">
             </div>
             <div class="total-container">
              <h1>TOTAL: <snap class="float-right green-text">$274,798</snap></h1>
              <a href="#"><h1><%= image_tag("checkout-btn.png", {:class=>"img-responsive"}) %></h1></a>
             </div>
           </div>
        </div>
      </div>
    </div> <!-- /.content-wrap -->

  </section> <!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
      <div class="container clearfix">
        <p class="center">Sustainability Partners &copy; 2016, All Rights Reserved<br></p>
      </div>
    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->
</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".clickable-row").mouseover(function(){
      $(".clickable-row").css({'cursor':'pointer'});
    });
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
  });
</script>
