<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Header
  ============================================= -->
  <header id="header" class="full-header">
    <div id="header-wrap">
      <div class="container clearfix">
        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
        <!-- Logo
        ============================================= -->
        <div id="logo" class="move-right">
         <a href='/' data-no-turbolink class="standard-logo" data-dark-logo="<%= image_path("logo-ecocredits.png") %>">
            <%= image_tag("logo-ecopractices.png", {:class=>"img-responsive"}) %>
          </a>
          <a href="#" class="retina-logo" data-dark-logo="<%= image_path("logo-ecocredits@2x.png") %>">
            <%= image_tag("logo-ecocredits@2x.png", {:class=>"img-responsive"}) %>
          </a>
        </div><!-- #logo end -->
        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu">
          <ul>
            <li class="who_we_are"><%= link_to 'WHO WE ARE', controller: 'who_we_are' %></li>
            <li class="how_it_works_load current"><%= link_to 'HOW IT WORKS', controller: 'how_it_works' %></li>
            <li class="produce_tag_load"><%= link_to 'PRODUCE ECOTAGS', controller: 'produce_tags' %></li>
            <li class="buy_tag_load"><%= link_to 'BUY ECOTAGS', controller: 'buy_tags' %></li>
          </ul>
          <ul style="border: none;">
            <li><a href="https://producer.ecocredits.me/user/register"><i class="fa fa-lock" style="color: #b4bb00; font-size: 18px !important;"></i> &nbsp;LOGIN</a></li>
          </ul>
        </nav><!-- #primary-menu end -->
      </div>
    </div>
  </header><!-- #header end -->


  <!-- Content
  ============================================= -->
  <section id="content">

    <div class="content-wrap">

      <div class="main-banner section parallax dark nobottommargin header-stick notopborder" style="background: url('<%= image_path("show-head.png") %>') no-repeat center center;background-size: cover;min-height: 250px;" data-stellar-background-ratio="0.3">
        <div class="container clearfix">
          <div class="buy-header">
            <h2>HOW IT WORKS</h2>
            <p id="up25">How purchasing Ecotags supports a sustainable land management process.</p>
          </div>
        </div>
      </div>

      <div class="container-fluid how-sub" style="background: #343b3b; z-index: 9;">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <ul>
                <li style="padding-left: 0 !important; padding-top: 10px;"><a id="what" href="#what-are-ecopractices">What are Sustainable Practices?</a></li>
                <li><a id="tags" href="#what-are-eco-tags">what are Ecotags?</a></li>
                <li><a id="process" href="#the-process">the process</a></li>
                <li style="border-right: none; border-bottom: none;"><a href='/buy_eco/index' data-no-turbolink>Buy ecotags</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <div class="container-fluid saf-fix content-p" style="background: #135eab; z-index: 5;">

      <!--
      <div class="container-fluid" style="background: #135eab; margin-top: -115px; z-index: 5;">
      -->

        <div class="container receive-text">
          <div class="row">
            <div class="col-sm-12">
              <p style="padding-top: 65px;padding-bottom: 45px;padding-right: 45px;text-align: left; font-weight: 100;">Sustaining our ecosystem is of utmost importance, but there are some challenges, such as doubling our food production; resolving conflicts between government, farmers/ranchers, and industry; and making saving the environment economically attractive and sustainable. Through the use of our Ecotags, we can take steps to tackle those challenges to make sustainability more of a reality. </p>
            </div>
          </div>
        <span id="what-are-ecopractices"></span>
        </div>
      </div>

      <!--
      <div class="col_full common-height">
        <div class="col-md-3 dark col-padding ohidden" style="background: url(<%= image_path("section-challenge-004.jpg") %>) no-repeat center center;background-size: cover">
          <div>
            <h3 style="font-weight: 100;">Meeting Requirements of Mankind - e.g Doubling Food Production</h3>
          </div>
        </div>
        <div class="col-md-3 dark col-padding ohidden" style="background: url(<%= image_path("section-challenge-003.jpg") %>) no-repeat center center;background-size: cover">
          <div>
            <h3 style="font-weight: 100;">Resource consumption is just as neccesary as preserving the environment</h3>
          </div>
        </div>
        <div class="col-md-3 dark col-padding ohidden" style="background: url(<%= image_path("section-challenge-002.jpg") %>) no-repeat center center;background-size: cover">
          <div>
            <h3 style="font-weight: 100;">Resolving the conflicts between government, farmers/ranchers, &amp; industry.</h3>
          </div>
        </div>
        <div class="col-md-3 dark col-padding ohidden" style="background: url(<%= image_path("section-challenge-001.jpg") %>) no-repeat center center;background-size: cover">
          <div>
            <h3 style="font-weight: 100;">Make saving the environment economically attractive and sustainable</h3>
            <span id="what-are-ecopractices"></span>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      -->

      <div class="container" style="margin-top:50px;">
         <div class="row">
            <div class="col-md-6">
               <h2 style="color:#b4bb00; font-size:32px;">WHAT ARE SUSTAINABLE PRACTICES?</h2>
               <div id="revenue-divider" style="border: 1px solid #222;width: 40px;"></div>
               <br />
               <p style="color:#555555; font-size:20px;font-weight:100;">Through the use of our Sustainable Practices, we can take steps to tackle those challenges to make sustainability more of a reality. A sustainable practice is a land management practice that helps reduce nitrogen and phosphorus losses from fields. These practices include no-till, low-till, cover crops, buffers, bioreactors, Soxx<sup>TM</sup>, and more. These practices have documented beneficial impacts on the environment (IDALS, IDNR, & ISU CALS, 2014).</p>
            </div>

            <div class="col-md-6">
            <span class="lg-left"><%= image_tag("corn.png", {:'data-animate'=>"fadeIn"}) %></span>
            </div>
        </div>
        <span id="what-are-eco-tags"></span>
        <h1>&nbsp;</h1>
        
     </div>

     <div class="produce-body" style="padding-bottom: 100px;">
        <br />
        <div class="container">
           <div class="row" style="padding-top:50px;">
            <div class="col-md-6 show-small">
               <h2 style="color:#b4bb00; font-size:32px;">WHAT ARE ECOTAGS?</h2>
               <div id="revenue-divider" style="border: 1px solid #222;width: 40px;"></div>
               <br />
               <p style="color:#555555; font-size:24px;">An Ecotag represents a production acre that is impacted by a sustainable practice. One Ecotag is equal to one acre that is impacted by a sustainable practice. </p>
               <p style="color:#555555; font-size:24px;">For the Soxx<sup>TM</sup> practice, one foot of Soxx<sup>TM</sup> implemented equals one Ecotag. 1 Ecotag = 1 Foot of Soxx<sup>TM</sup> implemented.</p>
            </div>
            <div class="col-md-6 text-left">
               <%= image_tag("eco-photo.png", {:'data-animate'=>"fadeInLeftBig"}) %>
            </div>
            <div class="col-md-6 hide-small text-left">
               <h2 style="color:#b4bb00; font-size:32px;">WHAT ARE ECOTAGS?</h2>
               <div id="revenue-divider" style="border: 1px solid #222;width: 40px;"></div>
               <br />
               <p style="color:#555555; font-size:24px;">An Ecotag represents a production acre that is impacted by a sustainable practice. One Ecotag is equal to one acre that is impacted by a sustainable practice. </p>
               <p style="color:#555555; font-size:24px;">For the Soxx<sup>TM</sup> practice, one foot of Soxx<sup>TM</sup> implemented equals one Ecotag. 1 Ecotag = 1 Foot of Soxx<sup>TM</sup> implemented.</p>
            </div>
           </div>
         </div>
         <span id="the-process"></span>
      </div>
          <%= render :partial => 'shared/j_scroller' %>
        

      <div class="black-bar">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>Now that you know the process behind Ecotags, click below to learn more about producing Ecotags and investing in them.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="section-2">
        <div class="section-2-container">
          <div class="revenue-streams" style="background: url('<%= image_path("revenue-bg.png") %>') no-repeat center center;background-size: cover;min-height: 650px;">
            <div class="revenue-content">
              <div class="revenue-top">
                <h2>add revenue streams</h2>
                <div id="revenue-divider"></div>
                <br />
                <p>As a producer you can add an additional revenue stream just for changing a management practice on one of you fields. You can use one of our partner applications to help identify which practice changes can provide the most benefit for your specific operation.</p>
              </div>
              <p><a href="/produce_tags/index" data-no-turbolink class="learn-more-btn" id="go-bottom">LEARN MORE<i style="padding-left:25px;" class="fa fa-angle-right"></i></a></p>
            </div>
          </div>

          <div class="invest" style="background: url('<%= image_path("invest-bg.png") %>') no-repeat center center;background-size: cover;min-height: 650px;">
            <div class="invest-content">
              <div class="invest-top">
                <h2>invest green</h2>
                <div id="invest-divider"></div>
                <br />
                <p>Investing corporate dollars in green initiatives has always been hard. The Ecotags network provides the first compliance driven and fully auditable solution to investing in our environment. Now you can make your green investment choices with full confidence.</p>
              </div>
              <p><a href="/buy_tags/index" data-no-turbolink class="learn-more-btn" id="go-bottom">LEARN MORE<i style="padding-left:25px;" class="fa fa-angle-right"></i></a></p>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- /.content-wrap -->

  </section> <!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark" style="margin-top:-30px;">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
      <div class="container clearfix">
        <p class="center">Sustainability Partners &copy; 2016, All Rights Reserved<br></p>
      </div>
    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->
</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".buy_tag_load a, .produce_tag_load a, .how_it_works_load a, .who_we_are a").click(function() {
        window.document.location = $(this).attr("href");
    });
    mSub();
  });

    function mSub(){
      $("#what").click(function(){
        $('html, body').animate({
          scrollTop: $("#what-are-ecopractices").offset().top +15
        }, 700);
      });
      $("#tags").click(function(){
        $('html, body').animate({
          scrollTop: $("#what-are-eco-tags").offset().top +100
        }, 700);
      });
      $("#process").click(function(){
        $('html, body').animate({
          scrollTop: $("#the-process").offset().top +10
        }, 700);
      });
    }
</script>