

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Header
  ============================================= -->
  <header id="header" class="full-header">
    <div id="header-wrap">
      <div class="container clearfix">
        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
        <!-- Logo
        ============================================= -->
        <div id="logo">
         <a href='/' data-no-turbolink class="standard-logo" data-dark-logo="<%= image_path("logo-ecocredits.png") %>">
         <%= image_tag("logo-ecopractices.png", {:class=>"img-responsive"}) %>
          </a>
          <a href='/' data-no-turbolink class="retina-logo" data-dark-logo="<%= image_path("logo-ecocredits@2x.png") %>">
            <%= image_tag("logo-ecocredits@2x.png", {:class=>"img-responsive"}) %>
          </a>
        </div><!-- #logo end -->
        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu">
          <ul>
            <li class="who_we_are"><%= link_to 'WHO WE ARE', controller: 'who_we_are' %></li>
            <li class="how_it_works_load"><%= link_to 'HOW IT WORKS', controller: 'how_it_works' %></li>
            <li class="produce_tag_load"><%= link_to 'PRODUCE ECOTAGS', controller: 'produce_tags' %></li>
            <li class="buy_tag_load current"><%= link_to 'BUY ECOTAGS', controller: 'buy_tags' %></li>
          </ul>
          <ul style="border: none;">
            <li><a href="https://producer.ecocredits.me/user/register"><i class="fa fa-lock" style="color: #b4bb00; font-size: 18px !important;"></i> &nbsp;LOGIN</a></li>
          </ul>
        </nav><!-- #primary-menu end -->
      </div>
    </div>
  </header><!-- #header end -->


  <!-- Content
  ============================================= -->
  <section id="content">

    <div class="content-wrap">

      <div class="main-banner section parallax dark nobottommargin header-stick notopborder" style="background: url('<%= image_path("banner-001-lg.jpg") %>') no-repeat center center;background-size: cover;height: 200px;" data-stellar-background-ratio="0.3">
        <div class="container clearfix">
          <div class="buy-header">
            <h2>ECOTAGS SEARCH</h2>
            <p id="up25">Find the perfect green investment for your unique portfolio criteria</p>
          </div>
        </div>
      </div>
      
      <div class="search-section">
        <div class="container clearfix">
          <div class="search-section-content">
            <div class="row">
              <div class="col-md-3 hsm">
                <span class="green-header">filters</span>
              </div>
              <div class="col-md-3">
                <div class="selector-contaniner">
                  <div class="selector-label">state</div>
                  <div class="selector-box">
                  <% if params[:state] != 'Iowa'%>
                    <div class="selected"><%= params[:state] %></div>
                  <% else %>
                    <div class="selected">Iowa</div>
                  <% end %>
                    <div class="down-arrow"><i class="fa fa-angle-down"></i></div>
                    <div class="option-container">
                      <div class="options" data-state="Iowa">Iowa</div>
                      <div class="options" data-state="Kansas">Kansas</div>
                      <div class="options" data-state="Minnesota">Minnesota</div>
                      <div class="options" data-state="Missouri">Missouri</div>
                      <div class="options" data-state="Nebraska">Nebraska</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="selector-contaniner2">
                  <div class="selector-label2">Practice</div>
                  <div class="selector-box2">
                   <% if params[:sector] != 'Bioreactor'%>
                    <div class="selected2" style="font-size: 18px;"><%= params[:sector] %></div>
                   <% else %>
                    <div class="selected2">Bioreactor</div>
                   <% end %>
                    <div class="down-arrow2"><i class="fa fa-angle-down"></i></div>
                    <div class="option-container2">
                      <div class="options2" data-sector="Bioreactor">Bioreactor</div>
                      <div class="options2" data-sector="Buffer">Buffer</div>
                      <div class="options2" data-sector="Cover Crop">Cover Crop</div>
                      <div class="options2" data-sector="No-till ">No-till </div>
                      <div class="options2" data-sector="Low-till">Low-till (conservative/reduced tillage) </div>
                      <div class="options2" data-sector="Soxx">Soxx<sup>TM</sup></div>
                      <div class="options2" data-sector="Nitrification Inhibitor">Nitrification Inhibitor</div>
                      <div class="options2" data-sector="Split Application">Split Application</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="selector-contaniner3">
                  <div class="selector-label3">Impact</div>
                  <div class="selector-box3">
                  <% if params[:impact] != 'Air Quality'%>
                    <div class="selected3"><%= params[:impact] %></div>
                   <% else %>
                    <div class="selected3">Air Quality</div>
                  <% end %>
                    <div class="down-arrow3"><i class="fa fa-angle-down"></i></div>
                    <div class="option-container3">
                      <div class="options3" data-impact="Air Quality">Air Quality</div>
                      <div class="options3" data-impact="Water Quality">Water Quality</div>
                      <div class="options3" data-impact="Carbon Reduction">Carbon Reduction</div>
                      <div class="options3" data-impact="Erosion Control">Erosion Control</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="page-container">
          <%= will_paginate @producer_data %>
        </div>
      </div>
      <div class="container clearfix tags">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <th>&nbsp;</th>
              <th>State</th>
              <th>Practice</th>
              <th>Ecotags <!--<i class="fa fa-chevron-down"></i>--></th>
              <th>Price</th>
              <th>Impact</th>
            </thead>
            <% @producer_data.each do |producer| %>
            <tr class='clickable-row' data-href='/buy_tags/search_results?cert=<%= producer.producer_id %>' data-no-turbolink>
              <td class="font24"><i class="fa fa-arrow-circle-right" style="color: #009fed;"></i></td>
              <td><%= producer.stateName%></td>
              <td><%= producer.practiceTypeName%></td>
              <td><%= producer.quantity %></td>
              <td>$<%= producer.value%></td>
              <td><%= producer.impact%></td>
            </tr>
            <% end %>
          </table>
        </div>
        <div class="page-container">
          <%= will_paginate @producer_data %>
        </div>
      </div>
    </div> <!-- /.content-wrap -->

  </section> <!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
      <div class="container clearfix">
        <p class="center">Sustainability Partners &copy; 2016, All Rights Reserved<br></p>
      </div>
    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->
</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".clickable-row").mouseover(function(){
      $(".clickable-row").css({'cursor':'pointer'});
    });
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
  });
</script>
<script type="text/javascript">
  $(".selector-box").click(function(){
    $(".option-container").toggle(100);
  });
  $(".options").click(function(){
    $(".options").removeAttr('id','active');
    var state = $(this);
    $(".selected").text($(this).data("state"));
    $(this).attr('id','active');
    if (window.location.href.indexOf('?') === -1 ){
      window.document.location = window.location.href+'?state='+$(this).data('state');
    }
    else{
      var temp_url = '';
      var url = window.location.href.split('?');
      var equal_split = url[1].split('&');      
      flg =0;
      for(i=0; i<equal_split.length;i++){
        var equal_splits = equal_split[i].split('=');
        temps = '';
        if(equal_splits[0]=='state'){
          temps = equal_splits[0]+'='+$(this).data('state');
          if(temp_url ==''){temp_url=temps}
          else{temp_url=temp_url+'&'+temps} 
            flg=1;
        }else{
          temps = equal_splits[0]+'='+equal_splits[1];
          if(temp_url ==''){temp_url=temps}
          else{temp_url=temp_url+'&'+temps}
        }
      }
      if(flg!=1){
        temps = 'state'+'='+$(this).data('state');
          if(temp_url ==''){temp_url=temps}
          else{temp_url=temp_url+'&'+temps}
      }      
      window.document.location = url[0]+'?'+temp_url;
    }
  });
  
  $('.pagination a').click(function(){
    window.document.location = $(this).attr("href");
  });

  $(".selector-box2").click(function(){
    $(".option-container2").toggle(100);
  });
  $(".options2").click(function(){
    $(".options2").removeAttr('id','active');
    var sector = $(this);
    $(".selected2").text($(this).data("sector"));
    $(this).attr('id','active');

    if (window.location.href.indexOf('?') === -1 ){
      window.document.location = window.location.href+'?sector='+$(this).data('sector');
    }
    else{
      var temp_url = '';
      var url = window.location.href.split('?');
      var equal_split = url[1].split('&');
      
      flg =0;
      for(i=0; i<equal_split.length;i++){
        var equal_splits = equal_split[i].split('=');
        temps = '';
        if(equal_splits[0]=='sector'){
          temps = equal_splits[0]+'='+$(this).data('sector');
          if(temp_url ==''){temp_url=temps}
          else{temp_url=temp_url+'&'+temps} 
            flg=1;
        }else{
          temps = equal_splits[0]+'='+equal_splits[1];
          if(temp_url ==''){temp_url=temps}
          else{temp_url=temp_url+'&'+temps}
        }
      }
      if(flg!=1){
        temps = 'sector'+'='+$(this).data('sector');
          if(temp_url ==''){temp_url=temps}
          else{temp_url=temp_url+'&'+temps}
      }
      window.document.location = url[0]+'?'+temp_url;
    }

  });

  $(".selector-box3").click(function(){
    $(".option-container3").toggle(100);
  });
  $(".options3").click(function(){
    $(".options3").removeAttr('id','active');
    var sector = $(this);
    $(".selected3").text($(this).data("sector"));
    $(this).attr('id','active');

    if (window.location.href.indexOf('?') === -1 ){
      window.document.location = window.location.href+'?impact='+$(this).data('impact');
    }
    else{
      var temp_url = '';
      var url = window.location.href.split('?');
      var equal_split = url[1].split('&');
      
      flg =0;
      for(i=0; i<equal_split.length;i++){
        var equal_splits = equal_split[i].split('=');
        temps = '';
        if(equal_splits[0]=='impact'){
          temps = equal_splits[0]+'='+$(this).data('impact');
          if(temp_url ==''){temp_url=temps}
          else{temp_url=temp_url+'&'+temps} 
            flg=1;
        }else{
          temps = equal_splits[0]+'='+equal_splits[1];
          if(temp_url ==''){temp_url=temps}
          else{temp_url=temp_url+'&'+temps}
        }
      }
      if(flg!=1){
        temps = 'impact'+'='+$(this).data('impact');
          if(temp_url ==''){temp_url=temps}
          else{temp_url=temp_url+'&'+temps}
      }
      window.document.location = url[0]+'?'+temp_url;
    }

  });
</script>
<!-- Code for refresh url-->
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".buy_tag_load a, .produce_tag_load a, .how_it_works_load a, .who_we_are a").click(function() {
        window.document.location = $(this).attr("href");
    });
  });
</script>
