<% if @producer.count == 0 %>
<%= render file: 'public/404', status: 404, formats: [:html] %>
<% else %>
<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Header
  ============================================= -->
  <header id="header" class="full-header">
    <div id="header-wrap">
      <div class="container clearfix">
        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
        <!-- Logo
        ============================================= -->
        <div id="logo">
         <a href='/' data-no-turbolink class="standard-logo" data-dark-logo="<%= image_path("logo-ecocredits.png") %>">
         <%= image_tag("logo-ecopractices.png", {:class=>"img-responsive"}) %>
          </a>
          <a href='/' data-no-turbolink class="retina-logo" data-dark-logo="<%= image_path("logo-ecocredits@2x.png") %>">
            <%= image_tag("logo-ecocredits@2x.png", {:class=>"img-responsive"}) %>
          </a>
        </div><!-- #logo end -->
        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu">
          <ul>
            <li class="who_we_are"><%= link_to 'WHO WE ARE', controller: 'who_we_are' %></li>
            <li class="how_it_works_load"><%= link_to 'HOW IT WORKS', controller: 'how_it_works' %></li>
            <li class="produce_tag_load"><%= link_to 'PRODUCE ECOTAGS', controller: 'produce_tags' %></li>
            <li class="buy_tag_load current"><%= link_to 'BUY ECOTAGS', controller: 'buy_tags' %></li>
          </ul>
          <ul style="border: none;">
            <li><a href="https://producer.ecocredits.me/user/register"><i class="fa fa-lock" style="color: #b4bb00; font-size: 18px !important;"></i> &nbsp;LOGIN</a></li>
          </ul>
        </nav><!-- #primary-menu end -->
      </div>
    </div>
  </header><!-- #header end -->


  <!-- Content
  ============================================= -->

<% @producer.each do |new_val| -%>     

  <section id="content">

    <div class="content-wrap">

      <div class="main-banner section parallax dark nobottommargin header-stick notopborder" style="background: url('<%= image_path("show-head.png") %>') no-repeat center center;background-size: cover;height: 250px;" data-stellar-background-ratio="0.3">
        <div class="container clearfix">
          <div class="buy-header">
            <h2>ECOTAG - #<%= new_val.producer_id -%></h2>
            <p id="up25">This Ecotag is Available for Purchase</p>
          </div>
        </div>
      </div>

      <div class="container clearfix">
         <div class="return-search" style="font-size: 15px; font-weight: bold;">
            <a href='/buy_tags/index' data-no-turbolink><i class="fa fa-angle-left"></i> &nbsp;BACK TO SEARCH RESULTS</a>
         </div>
         <div class="row">
            <div class="col-md-6">
               <div class="summ-wrapper">
                  <div class="cert-logo">
                     <%= image_tag("cert-logo.png", {:class=>"img-responsive"}) %>
                  </div>
                  <div class="tag-count">
                      <%= new_val.quantity -%>
                     <div class="tag-count-title">
                        certified Ecotags
                     </div>
                  </div>
                  <div class="price">
                     price: <span class="green-text">$<%= new_val.value -%></span>
                  </div>
                  <p>&nbsp;</p>
                  <div class="buy-btn">
                    <div class="purchase-btn" id="purchase" data-toggle="modal" data-target="#inquire">
                      Inquire Now
                    </div>
                   <!-- <a href='mailto:jriediger@agsolver.com?subject="Purchase Ecotag#<%= new_val.value.to_i -%>"' data-no-turbolink><%= image_tag("buy-btn.png", {:class=>"img-responsive"}) %></a>-->
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="overview">
                  <div class="table-responsive">
                     <table class="table">
                        <thead>
                           <th class="black-text">Status</th>
                           <th><span class="green-text">Available</span></th>
                        </thead>
                        <tr>
                           <td class="black-text"><strong>State</strong></td>
                           <td class="text-underline state_id" data-href="/buy_tags/index?state=<%= new_val.stateName -%>"><%= new_val.stateName -%></td>
                        </tr>
                        <tr>
                           <td class="black-text"><strong>Practice</strong></td>
                           <td class="text-underline sector_id" data-href="/buy_tags/index?sector=<%= new_val.practiceTypeName -%>"><%= new_val.practiceTypeName -%></td>
                        </tr>
                        <tr>
                           <td class="black-text"><strong>Impact</strong></td>
                           <td class="text-underline impact_id" data-href="/buy_tags/index?impact=<%= new_val.impact -%>"><%= new_val.impact -%></td>
                        </tr>
                        <!-- This section has been changed 
                        <tr>
                           <td class="black-text"><strong>Nutrient Loss Reductions</strong></td>
                           <td>
                            N Reduction: <strong><%= new_val.nreduction -%></strong><br />
                            P Reduction: <strong><%= new_val.preduction -%></strong>
                           </td>
                        </tr>
                        -->
                     </table>
                     <br />
                    <table class="table">
                      <thead>
                        <th style="color: #000;">Practice Change Details</th>
                      </thead>
                    </table>
                    <table class="table new-table" style="margin-top:-10px;">
                      <thead>
                        <th>&nbsp;</th>
                        <th>Min</th>
                        <th>Max</th>
                        <th>Avg</th>
                        <th>NH4</th>
                        <th>NO3</th>
                      </thead>
                      <tr>
                        <td style="color: #000;"><strong>N reduction</strong></td>
                        <td><%= new_val.minnreduction -%></td>
                        <td><%= new_val.maxnreduction -%></td>
                        <td><%= new_val.nreduction -%></td>
                        <td><%= new_val.nh4nreduction -%></td>
                        <td><%= new_val.no3nreduction -%></td>
                      </tr>
                      <thead>
                        <th>&nbsp;</th>
                        <th>Min</th>
                        <th>Max</th>
                        <th>Avg</th>
                        <th>Total P</th>
                        <th>Soluble P</th>
                      </thead>
                      <tr>
                        <td style="color: #000;"><strong>P reduction</strong></td>
                        <td><%= new_val.minpreduction -%></td>
                        <td><%= new_val.maxpreduction -%></td>
                        <td><%= new_val.preduction -%></td>
                        <td><%= new_val.nh4preduction -%></td>
                        <td><%= new_val.no3preduction -%></td>
                      </tr>
                    </table>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="section container-fluid" style="background: url('<%= image_path("data-bg.png") %>') no-repeat center center;background-size: cover;min-height: 500px;">
        <div class="container clearfix">
          <div class="buy-header">
          <h2 style="font-size: 34px; color:#FFF;">WHAT DOES THIS OFFSET?</h2>
          </div>
          <div class="row">
            <div class="col-sm-4 text-center">
                <div class="stat-img">
                  <%= image_tag("bathtub.png", {:class=>"img-responsive"}) %>
                </div>
                  <br />
                  <div class="stats">
                    <strong>24</strong>
                  </div>
                  <div class="small-stats">
                  <strong>BATHTUBS</strong><br />
                  OF NITRATES<br />
                  OUT OF STREAMS
                  </div>
                  <div class="right-border"></div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="stat-img">
                  <%= image_tag("car.png", {:class=>"img-responsive"}) %>
                </div>
                  <br />
                  <div class="stats">
                   <strong>2</strong>
                  </div>
                  <div class="small-stats">
                    <strong>CARS</strong><br />
                    OFF THE ROAD
                  </div>
                  <div class="right-border"></div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="stat-img">
                  <%= image_tag("dumptruck.png", {:class=>"img-responsive"}) %>
                </div>
                  <br />
                  <div class="stats">
                   <strong>3</strong>
                  </div>
                  <div class="small-stats" style="text-align: center;">
                    <strong>DUMP TRUCKS</strong><br />
                    OF SOIL SAVED
                  </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container clearfix">
         <h2 style="font-size: 34px;color: #000;">WHAT ARE THE DIRECT EFFECTS?</h2>
         <div id="invest-divider" style="border-color:#b4bb00;"></div>
         <br />
         <br />
         <div class="row">
            <div class="col-md-5 field-img">
              <div class="land-stats-container">
                  <% if new_val.image %>
                     <%= image_tag('/assets/images/' + new_val.image, {:class=>"img-responsive"}) %>
                  <% else %>
                     <%= image_tag("field.png", {:class=>"img-responsive"}) %>
                  <% end %>
                  <div class="land-stats-a">
                     acres: <span class="green-text"><%= new_val.acres -%></span>
                  </div>
               
                  <div class="land-stats-e">
                     Ecotags: <span class="green-text"><%= new_val.quantity -%></span>
                  </div>
               </div>
            </div>
            <div class="col-md-7">
               <p class="font22">This Ecotag directly offsets the eco-friendly practices of a specific food producer and helps to supplement the costs if the following good practices for sustainability:
               <br />
               <hr style="border-color:#888;">
               <div class="accordion-wrapper">
                  <div class="accordion-header1">
                     <span class=" arrow-down" style="font-size:30px;"><i class="fa fa-angle-down"></i></span>
                     <span class=" arrow-up" style="font-size:30px;display:none;"><i class="fa fa-angle-up"></i></span>
                     <span class="pad-25-left"><%= new_val.practiceTypeName -%></span> 
                     <span style="padding-left:15px; color:#999; font-size:30px;"><i class="fa fa-question-circle"></i></span>
                  </div>
               </div>
            <hr style="border-color:#888;">
            <div class="accordion-body1">
               <p><%= @content_detail -%>
            </div>               
            <div class="references">
               <div class="ref-header" style="color: #000 !important;">
                  references
               </div>
               <hr style="border-color:#666;">
               <div class="ref-body">
               <% if @ref_details %>
                  <p><%= @ref_details.html_safe -%></p>
               <% end %>
               </div>
            </div>
         </div>
      </div>

  <div class="modal fade" id="inquire" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="background: #333;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 style="color:#FFF;text-align:center;">INQUIRE ABOUT THIS ECOTAG</h3>
        </div>
        <div class="modal-body">
            <form action="#" method="post" id="echotag_enquery">
              <div class="row">
                  <div class="col-md-4">
                     <label for="name" style="color:#FFF;">NAME*</label>
                     <input type="text" class="form-control" id="name" name="name" required>
                  </div>
                  <div class="col-md-4">
                     <label for="name" style="color:#FFF;">EMAIL*</label>
                     <input type="text" class="form-control" id="email" name="email" required>
                  </div>
                  <div class="col-md-4">
                     <label for="name" style="color:#FFF;">PHONE*</label>
                     <input type="text" class="form-control" id="phone" name="phone" required>
                  </div>
              </div>
              <div class="row">
                 <div class="col-md-12">
                    <label for="subject" style="color:#FFF;">SUBJECT*</label>
                    <input type="text" class="form-control" id="subject" name="subject" required>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-12">
                    <label for="message" style="color:#FFF;">MESSAGE*</label>
                    <textarea class="form-control" rows="5" name="message" required></textarea>
                 </div>
              </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12">
                  <div class="submit-container">
                    <input type="submit" class="btn submit-btn btn-default" id="message_submit" value="send message">
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <!-- Sucess Modal -->
                  <div class="modal fade" id="sucessModal" role="dialog">
                    <div class="modal-dialog">
                    
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">INQUIRE ABOUT THIS ECOTAG</h4>
                        </div>
                        <div class="modal-body">
                          <span>Thank you for your interest to invest in sustainable practices. You will be contacted shortly.</span>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                      
                    </div>
                  </div>
    </div> <!-- /.content-wrap -->

  </section> <!-- #content end -->
<% end %>
  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
      <div class="container clearfix">
        <p class="center">Sustainability Partners &copy; 2016, All Rights Reserved<br></p>
      </div>
    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->
</div><!-- #wrapper end -->
<% end %>
<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>
<script type="text/javascript">
  $(".accordion-header1").click(function(){
    $(".accordion-body1").slideToggle("slow");
        $(".arrow-down").toggle();
        $(".arrow-up").toggle();
  });
  $(".accordion-header2").click(function(){
    $(".accordion-body2").slideToggle("slow");
    $(".arrow2").toggleClass("fa.fa-angle-up");
        $(".arrow-down2").toggle();
        $(".arrow-up2").toggle();
  });
</script>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".sector_id").mouseover(function(){
      $(".sector_id").css({'cursor':'pointer'});
    });
    $(".sector_id").click(function() {
        window.document.location = $(this).data("href");
    });
    $(".state_id").mouseover(function(){
      $(".state_id").css({'cursor':'pointer'});
    });
    $(".state_id").click(function() {
        window.document.location = $(this).data("href");
    });
    $(".impact_id").mouseover(function(){
      $(".impact_id").css({'cursor':'pointer'});
    });
    $(".impact_id").click(function() {
        window.document.location = $(this).data("href");
    });
  });
</script>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".buy_tag_load a, .produce_tag_load a, .how_it_works_load a, .who_we_are a").click(function() {
        window.document.location = $(this).attr("href");
    });
  });
</script>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $( "#echotag_enquery" ).on( "submit", function( event ) {
        cert = '<%= params[:cert] %>';        
        $.ajax({
            type: "GET",
            url: "/buy_tags/echotag_enq",
            data : $('#echotag_enquery').serialize() + "&echotag_id=" + cert,
            dataType: "json",
            success: function(data){
             if(data == true){
              $('#inquire').modal('hide')
              $('#sucessModal').modal('show')
             }   
            }
        });
        return false;
      });
  });
</script>