
        <div class="section-2" data-slide="slide1" id="slide1" style="min-height: 650px;">
          <div class="section-2-container">
            <div class="revenue-streams" style="background: url('<%= image_path("tractor.png") %>') no-repeat center center;background-size: cover;min-height: 650px;">
              <div class="revenue-content">
                <div class="revenue-top">
                  <h2>how does the ecopractice process work?</h2>
                  <br />
                  <%= image_tag("step-1.png", {:'style'=>"margin-left:25%"}) %>
                </div>
              </div>
            </div>

            <div class="invest" style="border-bottom:1px solid #ddd;min-height:650px;">
              <div class="invest-content">
                <div class="invest-top">
                  <h2 style="color:#222;">1</h2>
                  <div id="invest-divider" style="border:solid 1px #b4bb00; width:35px; margin-top:-25px;margin-left:-8px;"></div>
                  <br />
                  <p style="color:#555; font-size:30px; font-weight:100;">First, the grower agrees to implement or continue to implement a sustainable practice, such as no-till, low-till, or cover crops.</p>
                </div>
                <p id="go-bottom"><%= image_tag("down-chevron.png", {:class=>"img-responsive", :'data-animate'=>"fadeInUp", :'style'=>"margin-left:35%;"}) %></p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="section-2" data-slide="slide2" id="slide2" data-anchor-offset="100" style="min-height: 650px;">
          <div class="section-2-container">
            <div class="revenue-streams" style="background: url('<%= image_path("step-2-bg.png") %>') no-repeat center center;background-size: cover;min-height: 650px;">
              <div class="revenue-content">
                <div class="revenue-top">
                  <h2>how does the ecopractice process work?</h2>
                  <br />
                  <%= image_tag("step-2.png", {:'style'=>"margin-left:25%"}) %>
                </div>
              </div>
            </div>

            <div class="invest" style="border-bottom:1px solid #ddd;min-height:650px;">
              <div class="invest-content">
                <div class="invest-top">
                  <h2 style="color:#222;">2</h2>
                  <div id="invest-divider" style="border:solid 1px #b4bb00; width:35px; margin-top:-25px;margin-left:-8px;"></div>
                  <br />
                  <p style="color:#555; font-size:30px; font-weight:100;">After agreeing to implement a sustainable practice, the grower must provide documents to verify the sustainable practice was implemented.</p>
                </div>
                <p id="go-bottom"><%= image_tag("down-chevron.png", {:class=>"img-responsive", :'data-animate'=>"fadeInUp", :'style'=>"margin-left:35%;"}) %></p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="section-2" data-slide="slide3" id="slide3" style="min-height: 650px;">
          <div class="section-2-container">
            <div class="revenue-streams" style="background: url('<%= image_path("step-3-bg.png") %>') no-repeat center center;background-size: cover;min-height: 650px;">
              <div class="revenue-content">
                <div class="revenue-top">
                  <h2>how does the ecopractice process work?</h2>
                  <br />
                  <%= image_tag("step-3.png", {:'style'=>"margin-left:25%"}) %>
                </div>
              </div>
            </div>

            <div class="invest" style="border-bottom:1px solid #ddd;min-height:650px;">
              <div class="invest-content">
                <div class="invest-top">
                  <h2 style="color:#222;">3</h2>
                  <div id="invest-divider" style="border:solid 1px #b4bb00; width:35px; margin-top:-25px;margin-left:-8px;"></div>
                  <br />
                  <p style="color:#555; font-size:30px; font-weight:100;">Once it has been verified that the grower implemented the sustainable practice, the grower agrees to sell the number of acres impacted by the sustainable practice as an Ecotag for a fee. One Ecotag is equal to one acre impacted by a sustainable practice.</p>
                </div>
                <p id="go-bottom"><%= image_tag("down-chevron.png", {:class=>"img-responsive", :'data-animate'=>"fadeInUp", :'style'=>"margin-left:35%;"}) %></p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="section-2" data-slide="slide4" id="slide4" data-anchor-offset="200" style="min-height: 650px;">
          <div class="section-2-container">
            <div class="revenue-streams" style="background: url('<%= image_path("step-4-bg.png") %>') no-repeat center center;background-size: cover;min-height: 650px;">
              <div class="revenue-content">
                <div class="revenue-top">
                  <h2>how does the ecopractice process work?</h2>
                  <br />
                  <%= image_tag("step-4.png", {:'style'=>"margin-left:25%"}) %>
                </div>
              </div>
            </div>

            <div class="invest" style="border-bottom:1px solid #ddd;min-height:650px;">
              <div class="invest-content">
                <div class="invest-top">
                  <h2 style="color:#222;">4</h2>
                  <div id="invest-divider" style="border:solid 1px #b4bb00; width:35px; margin-top:-25px;margin-left:-8px;"></div>
                  <br />
                  <p style="color:#555; font-size:30px; font-weight:100;">After a grower agrees to sell the Ecotags they generated through the implementation of an sustainable practice, the Ecotags become available for sale for buyers to purchase.</p>
                </div>
                <p id="go-bottom"><%= image_tag("down-chevron.png", {:class=>"img-responsive", :'data-animate'=>"fadeInUp", :'style'=>"margin-left:35%;"}) %></p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="section-2" data-slide="slide5" id="slide5" style="min-height: 650px;">
          <div class="section-2-container">
            <div class="revenue-streams" style="background: url('<%= image_path("step-5-bg.png") %>') no-repeat center center;background-size: cover;min-height: 650px;">
              <div class="revenue-content">
                <div class="revenue-top">
                  <h2>how does the ecopractice process work?</h2>
                  <br />
                  <%= image_tag("step-5.png", {:'style'=>"margin-left:25%"}) %>
                </div>
              </div>
            </div>

            <div class="invest" style="border-bottom:1px solid #ddd;min-height:650px;">
              <div class="invest-content">
                <div class="invest-top">
                  <h2 style="color:#222;">5</h2>
                  <div id="invest-divider" style="border:solid 1px #b4bb00; width:35px; margin-top:-25px;margin-left:-8px;"></div>
                  <br />
                  <p style="color:#555; font-size:30px; font-weight:100;">A buyer can search for a specific sustainable practice that they want to invest in and can purchase Ecotags generated from the specific sustainable practice. The buyer agrees to purchase the Ecotags for a set fee.</p>
                </div>
                <p id="go-bottom"><%= image_tag("down-chevron.png", {:class=>"img-responsive", :'data-animate'=>"fadeInUp", :'style'=>"margin-left:35%;"}) %></p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="section-2" data-slide="slide6" id="slide6" data-anchor-offset="300" style="min-height: 650px;">
          <div class="section-2-container">
            <div class="revenue-streams" style="background: url('<%= image_path("step-6-bg.png") %>') no-repeat center center;background-size: cover;min-height: 650px;">
              <div class="revenue-content">
                <div class="revenue-top">
                  <h2>how does the ecopractice process work?</h2>
                  <br />
                  <%= image_tag("step-6.png", {:'style'=>"margin-left:25%"}) %>
                </div>
              </div>
            </div>

            <div class="invest" style="border-bottom:1px solid #ddd;min-height:650px;">
              <div class="invest-content">
                <div class="invest-top">
                  <h2 style="color:#222;">6</h2>
                  <div id="invest-divider" style="border:solid 1px #b4bb00; width:35px; margin-top:-25px;margin-left:-8px;"></div>
                  <br />
                  <p style="color:#555; font-size:30px; font-weight:100;">Once the buyer purchases Ecotags, they will receive a certificate and auditable proof of investment.</p>
                </div>
                <p id="go-bottom"><%= image_tag("down-chevron.png", {:class=>"img-responsive", :'data-animate'=>"fadeInUp", :'style'=>"margin-left:35%;"}) %></p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="section-2" data-slide="slide7" id="slide7" style="min-height: 650px;">
          <div class="section-2-container">
            <div class="revenue-streams" style="background: url('<%= image_path("step-7-bg.png") %>') no-repeat center center;background-size: cover;min-height: 650px;">
              <div class="revenue-content">
                <div class="revenue-top">
                  <h2>how does the ecopractice process work?</h2>
                  <br />
                  <%= image_tag("step-7.png", {:'style'=>"margin-left:25%"}) %>
                </div>
              </div>
            </div>

            <div class="invest" style="border-bottom:1px solid #ddd;min-height:650px;">
              <div class="invest-content">
                <div class="invest-top">
                  <h2 style="color:#222;">7</h2>
                  <div id="invest-divider" style="border:solid 1px #b4bb00; width:35px; margin-top:-25px;margin-left:-8px;"></div>
                  <br />
                  <p style="color:#555; font-size:30px; font-weight:100;">Buyers will also receive a marketing tool kit that they can use to help them promote their Ecotag investment.</p>
                </div>
                <p id="go-bottom"><%= image_tag("down-chevron.png", {:class=>"img-responsive", :'data-animate'=>"fadeInUp", :'style'=>"margin-left:35%;"}) %></p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="section-2" data-slide="slide8" id="slide8" data-anchor-offset="400" style="min-height: 650px;">
          <div class="section-2-container">
            <div class="revenue-streams" style="background: url('<%= image_path("step-8-bg.png") %>') no-repeat center center;background-size: cover;min-height: 650px;">
              <div class="revenue-content">
                <div class="revenue-top">
                  <h2>how does the ecopractice process work?</h2>
                  <br />
                  
                </div>
              </div>
            </div>

            <div class="invest" style="min-height:650px; background:#b4bb00;">
              <div class="invest-content">
                <div class="invest-top">
                  <h2 style="color:#222;"></h2>
                  <div id="invest-divider" style="border:solid 1px #b4bb00; width:35px; margin-top:-25px;margin-left:-8px;"></div>
                  <br />
                  <p style="color:#FFF; font-size:30px; font-weight:100;">This process promotes sustainability efforts while meeting demands of mankind and the goals of producers, industry, and the government all at the same time. </p>
                </div>
                <p id="go-bottom"><%= image_tag("down-chevron.png", {:class=>"img-responsive", :'data-animate'=>"fadeInUp", :'style'=>"margin-left:35%;"}) %></p>
              </div>
            </div>
          </div>
        </div>
      </div>