
      <div class="container-fluid slide-container">
         <div class="row">
            <div class="window" id="slide-1">
               <div class="col-sm-6 left-pane" style="background: url('<%= image_path("step-1-bg.png") %>')no-repeat center center; background-size: cover;">
                  <div class="left-content">
                     <div class="left-header">
                        how does the ecopractice process work?
                     </div>
                     <div class="left-page" style="background:url('<%= image_path("step-1.png") %>');"></div>
                     <div class="left-page-2" style="background:url('<%= image_path("step-2.png") %>');"></div>
                     <div class="left-page-3" style="background:url('<%= image_path("step-3.png") %>');"></div>
                     <div class="left-page-4" style="background:url('<%= image_path("step-4.png") %>');"></div>
                     <div class="left-page-5" style="background:url('<%= image_path("step-5.png") %>');"></div>
                     <div class="left-page-6" style="background:url('<%= image_path("step-6.png") %>');"></div>
                     <div class="left-page-7" style="background:url('<%= image_path("step-7.png") %>');"></div>
                     <div class="left-page-8"></div>
                  </div>
                  <div class="left-bg-2" style="background: url('<%= image_path("step-2-bg.png") %>') no-repeat center center; background-size: cover;"></div>
                  <div class="left-bg-3" style="background: url('<%= image_path("step-3-bg.png") %>') no-repeat center center; background-size: cover;"></div>
                  <div class="left-bg-4" style="background: url('<%= image_path("step-4-bg.png") %>') no-repeat center center; background-size: cover;"></div>
                  <div class="left-bg-5" style="background: url('<%= image_path("step-5-bg.png") %>') no-repeat center center; background-size: cover;"></div>
                  <div class="left-bg-6" style="background: url('<%= image_path("step-6-bg.png") %>') no-repeat center center; background-size: cover;"></div>
                  <div class="left-bg-7" style="background: url('<%= image_path("step-7-bg.png") %>') no-repeat center center; background-size: cover;"></div>
                  <div class="left-bg-8" style="background: url('<%= image_path("step-8-bg.png") %>') no-repeat center center; background-size: cover;"></div>
               </div>
               <div class="col-sm-6 right-pane">
                  <div id="up"><%= image_tag("down-btn.png") %></div>
                  <div class="right-page">1</div>
                  <div class="right-body">
                     First, the grower agrees to implement or continue to implement a sustainable practice, such as no-till, low-till, or cover crops.
                  </div>
                  <div id="down"><%= image_tag("down-btn.png") %></div>
               </div>
            </div>
         </div>
      </div>

      <script>
         $(document).ready(function(){
            nav();
            rightPane();
         });

         function rightPane(){
            var page = 1;
            $("#down").click(function(){
               page++;
               if(page==2){
                  $(".left-page").fadeOut(300, function(){
                     $(".right-page").text("2");
                     $(".right-body").text("After agreeing to implement a sustainable practice, the grower must provide documents to verify the sustainable practice was implemented.");
                  });
                  $(".left-bg-2").fadeIn(700);
                  $(".left-page-2").delay(301).fadeIn(700, function(){
                     $(".left-pane").css("background-image", "url('<%= image_path("step-1-bg.png") %>')");
                  });
               }
               if(page==3){
                  $(".left-pane").css("background-image", "url('<%= image_path("step-2-bg.png") %>')");
                  $(".left-page-2").fadeOut(300, function(){
                     $(".right-page").text("3");
                     $(".right-body").text("Once it has been verified that the grower implemented the sustainable practice, the grower agrees to sell the number of acres impacted by the sustainable practice as an Ecotag for a fee. One Ecotag is equal to one acre impacted by a sustainable practice.");
                  });
                  $(".left-bg-2").fadeOut(300);
                  $(".left-bg-3").delay(301).fadeIn(700);
                  $(".left-page-3").delay(301).fadeIn(700, function(){
                     $(".left-pane").css("background-image", "url('<%= image_path("step-3-bg.png") %>')");
                  });
               }
               if(page==4){
                  $(".left-page-3").fadeOut(300, function(){
                     $(".right-page").text("4");
                     $(".right-body").text("After a grower agrees to sell the Ecotags they generated through the implementation of a sustainable practice, the Ecotags become available for sale for buyers to purchase.");
                  });
                  $(".left-bg-3").fadeOut(300);
                  $(".left-bg-4").delay(301).fadeIn(700);
                  $(".left-page-4").delay(301).fadeIn(700, function(){
                     $(".left-pane").css("background-image", "url('<%= image_path("step-4-bg.png") %>')");
                  });
               }
               if(page==5){
                  $(".left-page-4").fadeOut(300, function(){
                     $(".right-page").text("5");
                     $(".right-body").text("A buyer can search for a specific sustainable practice that they want to invest in and can purchase Ecotags generated from the specific sustainable practice. The buyer agrees to purchase the Ecotags for a set fee.");
                  });
                  $(".left-bg-4").fadeOut(300);
                  $(".left-bg-5").delay(301).fadeIn(700);
                  $(".left-page-5").delay(301).fadeIn(700, function(){
                     $(".left-pane").css("background-image", "url('<%= image_path("step-5-bg.png") %>')");
                  });
               }
               if(page==6){
                  $(".left-page-5").fadeOut(300, function(){
                     $(".right-page").text("6");
                     $(".right-body").text("Once the buyer purchases Ecotags, they will receive a certificate and auditable proof of investment.");
                  });
                  $(".left-bg-5").fadeOut(300);
                  $(".left-bg-6").delay(301).fadeIn(700);
                  $(".left-page-6").delay(301).fadeIn(700, function(){
                     $(".left-pane").css("background-image", "url('<%= image_path("step-6-bg.png") %>')");
                  });
               }
               if(page==7){
                  $(".left-page-6").fadeOut(300, function(){
                     $(".right-page").text("7");
                     $(".right-body").text("Buyers will also receive a marketing tool kit that they can use to help them promote their Ecotag investment.");
                  });
                  $(".left-bg-6").fadeOut(300);
                  $(".left-bg-7").delay(301).fadeIn(700);
                  $(".left-page-7").delay(301).fadeIn(700, function(){
                     $(".left-pane").css("background-image", "url('<%= image_path("step-7-bg.png") %>')");
                  });
               }
               if(page==8){
                  $(".left-page-7").fadeOut(300, function(){
                     $(".right-page").hide();
                     $(".right-body").text("This process promotes sustainability efforts while meeting demands of mankind and the goals of producers, industry, and the government all at the same time.");
                  });
                  $(".left-bg-7").fadeOut(300);
                  $(".left-bg-8").delay(301).fadeIn(700);
                  $(".left-page-8").delay(301).fadeIn(700, function(){
                     $(".left-pane").css("background-image", "url('<%= image_path("step-8-bg.png") %>')");
                  });
               }
            });

            $("#up").click(function(){
               page--;
               if(page==1){
                  $(".left-page-2").fadeOut(300, function(){
                     $(".right-page").text("1");
                     $(".right-body").text("First, the grower agrees to implement or continue to implement a sustainable practice, such as no-till, low-till, or cover crops.");
                  });
                  $(".left-bg-2").fadeOut(700);
                  $(".left-pane").css("background-image", "url('<%= image_path("step-1-bg.png") %>')");
                  $(".left-page").delay(301).fadeIn(700);
               }
               if(page==2){
                  $(".left-page-3").fadeOut(300, function(){
                     $(".right-page").text("2");
                     $(".right-body").text("After agreeing to implement a sustainable practice, the grower must provide documents to verify the sustainable practice was implemented.");
                  });
                  $(".left-bg-3").fadeOut(300);
                  $(".left-bg-2").delay(301).fadeIn(700);
                  $(".left-page-2").delay(301).fadeIn(700, function(){
                     $(".left-pane").css("background-image", "url('<%= image_path("step-1-bg.png") %>')");
                  });
               }
               if(page==3){
                  $(".left-page-4").fadeOut(300, function(){
                     $(".right-page").text("3");
                     $(".right-body").text("Once it has been verified that the grower implemented the sustainable practice, the grower agrees to sell the number of acres impacted by the sustainable practice as an Ecotag for a fee. One Ecotag is equal to one acre impacted by a sustainable practice.");
                  });
                  $(".left-bg-4").fadeOut(300);
                  $(".left-bg-3").delay(301).fadeIn(700);
                  $(".left-page-3").delay(301).fadeIn(700, function(){
                     $(".left-pane").css("background-image", "url('<%= image_path("step-3-bg.png") %>')");
                  });
               }
               if(page==4){
                  $(".left-page-5").fadeOut(300, function(){
                     $(".right-page").text("4");
                     $(".right-body").text("After a grower agrees to sell the Ecotags they generated through the implementation of a sustainable practice, the Ecotags become available for sale for buyers to purchase.");
                  });
                  $(".left-bg-5").fadeOut(300);
                  $(".left-bg-4").delay(301).fadeIn(700);
                  $(".left-page-4").delay(301).fadeIn(700, function(){
                     $(".left-pane").css("background-image", "url('<%= image_path("step-4-bg.png") %>')");
                  });
               }
               if(page==5){
                  $(".left-page-6").fadeOut(300, function(){
                     $(".right-page").text("5");
                     $(".right-body").text("A buyer can search for a specific sustainable practice that they want to invest in and can purchase Ecotags generated from the specific sustainable practice. The buyer agrees to purchase the Ecotags for a set fee.");
                  });
                  $(".left-bg-6").fadeOut(300);
                  $(".left-bg-5").delay(301).fadeIn(700);
                  $(".left-page-5").delay(301).fadeIn(700, function(){
                     $(".left-pane").css("background-image", "url('<%= image_path("step-5-bg.png") %>')");
                  });
               }
               if(page==6){
                  $(".left-page-7").fadeOut(300, function(){
                     $(".right-page").text("6");
                     $(".right-body").text("Once the buyer purchases Ecotags, they will receive a certificate and auditable proof of investment.");
                  });
                  $(".left-bg-7").fadeOut(300);
                  $(".left-bg-6").delay(301).fadeIn(700);
                  $(".left-page-6").delay(301).fadeIn(700, function(){
                     $(".left-pane").css("background-image", "url('<%= image_path("step-6-bg.png") %>')");
                  });
               }
               if(page==7){
                  $(".left-page-8").fadeOut(300, function(){
                     $(".right-page").show();
                     $(".right-page").text("7");
                     $(".right-body").text("Buyers will also receive a marketing tool kit that they can use to help them promote their Ecotag investment.");
                  });
                  $(".left-bg-8").fadeOut(300);
                  $(".left-bg-7").delay(301).fadeIn(700);
                  $(".left-page-7").delay(301).fadeIn(700, function(){
                     $(".left-pane").css("background-image", "url('<%= image_path("step-7-bg.png") %>')");
                  });
               }
            });
         }

         function nav(){
            var page = 1;
            $("#down").css({'display':'block'});

            $("#down").click(function(){
               page++;
               if(page>1){
                  $("#up").css({'display':'block'});
                  if(page==8){
                     $("#down").css({'display':'none'});
                  }
               }
               $(".counter").text(page);
            });
            $("#up").click(function(){
               page--;
               $("#down").css({'display':'block'});
               if(page==1){
                  $("#up").css({'display':'none'});
               }
            });
         }
      </script>