<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Name    = <%= @name %></h3>
    <h3>Email   = <%= @email %></h3>
    <h3>Phone   = <%= @phone %></h3>
    <h3>Subject = <%= @subject %></h3>
    <h3>Message = <%= @message %></h3>
  </body>
</html>