

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Header
  ============================================= -->
  <header id="header" class="full-header">
    <div id="header-wrap">
      <div class="container clearfix">
        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
        <!-- Logo
        ============================================= -->
        <div id="logo">
         <a href='/' data-no-turbolink class="standard-logo" data-dark-logo="<%= image_path("logo-ecocredits.png") %>">
         <%= image_tag("logo-ecopractices.png", {:class=>"img-responsive"}) %>
          </a>
          <a href='/' data-no-turbolink class="retina-logo" data-dark-logo="<%= image_path("logo-ecocredits@2x.png") %>">
            <%= image_tag("logo-ecocredits@2x.png", {:class=>"img-responsive"}) %>
          </a>
        </div><!-- #logo end -->
        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu">
          <ul>
            <li><%= link_to 'HOW IT WORKS', controller: 'how_it_works' %></li>
            <li><%= link_to 'PRODUCE ECOTAGS', controller: 'produce_tags' %></li>
            <li class="current"><%= link_to 'BUY ECOTAGS', controller: 'buy_tags' %></li>
          </ul>
        </nav><!-- #primary-menu end -->
      </div>
    </div>
  </header><!-- #header end -->


  <!-- Content
  ============================================= -->
  <section id="content">

    <div class="content-wrap">

      <div class="main-banner section parallax dark nobottommargin header-stick notopborder" style="background: url('<%= image_path("banner-001-lg.jpg") %>') no-repeat center center;background-size: cover;height: 200px;" data-stellar-background-ratio="0.3">
        <div class="container clearfix">
          <div class="buy-header">
            <h2>ECOTAGS SEARCH</h2>
            <p id="up25">Find the perfect green investment for your unique portfolio criteria</p>
          </div>
        </div>
      </div>
      
      <div class="search-section">
        <div class="container clearfix">
          <div class="search-section-content">
            <div class="row">
              <div class="col-md-3 hsm">
                <span class="green-header">filters</span>
              </div>
              <div class="col-md-3">
                <div class="selector-contaniner">
                  <div class="selector-label">state</div>
                  <div class="selector-box">
                    <div class="selected">Iowa</div>
                    <div class="down-arrow"><i class="fa fa-angle-down"></i></div>
                    <div class="option-container">
                      <div class="options" data-state="Iowa">Iowa</div>
                      <div class="options" data-state="Kansas">Kansas</div>
                      <div class="options" data-state="Minnesota">Minnesota</div>
                      <div class="options" data-state="Missouri">Missouri</div>
                      <div class="options" data-state="Nebraska">Nebraska</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="selector-contaniner2">
                  <div class="selector-label2">Practice</div>
                  <div class="selector-box2">
                    <div class="selected2">Bioreactor</div>
                    <div class="down-arrow2"><i class="fa fa-angle-down"></i></div>
                    <div class="option-container2">
                      <div class="options2" data-sector="Bioreactor">Bioreactor</div>
                      <div class="options2" data-sector="Buffers">Buffers</div>
                      <div class="options2" data-sector="Cover Crop">Cover Crop</div>
                      <div class="options2" data-sector="No-till ">No-till </div>
                      <div class="options2" data-sector="Low-till">Low-till (conservative/reduced tillage) </div>
                      <div class="options2" data-sector="Composite Filter Socks">Composite Filter Socks</div>
                      <div class="options2" data-sector="Nitrification Inhibitor">Nitrification Inhibitor</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="selector-contaniner3">
                  <div class="selector-label3">Impact</div>
                  <div class="selector-box3">
                    <div class="selected3">Air Quality</div>
                    <div class="down-arrow3"><i class="fa fa-angle-down"></i></div>
                    <div class="option-container3">
                      <div class="options3" data-sector="Air Quality">Air Quality</div>
                      <div class="options3" data-sector="Water Quality">Water Quality</div>
                      <div class="options3" data-sector="Carbon Reduction">Carbon Reduction</div>
                      <div class="options3" data-sector="Erosion Control">Erosion Control</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="page-container">
          <div class="pagination">
            <p>
              <a href="#"><span class="green-text"><i class="fa fa-angle-left"></i> PREV</span></a> 
              <span class="pages">1</span> 
              <span class="pages green-text">2</span>
              <span class="pages">3</span>
              <span class="pages">4</span> 
              <span class="pages">5</span>
              <a href="#"><span class="green-text pages">NEXT <i class="fa fa-angle-right"></i></span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="container clearfix tags">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <th>&nbsp;</th>
              <th>State</th>
              <th>Practice</th>
              <th class="green-text">Ecotags <i class="fa fa-chevron-down"></i></th>
              <th>Price</th>
              <th>Impact</th>
            </thead>
            <tr class='clickable-row' data-href='/buy_tags/search_results?cert=1' data-no-turbolink>
              <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
              <td>Iowa</td>
              <td>Cover Crop</td>
              <td>150.2</td>
              <td>$64,064</td>
              <td>Erosion Control</td>
            </tr>
            <tr class='clickable-row' data-href='/buy_tags/search_results?cert=2' data-no-turbolink>
              <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
              <td>Iowa</td>
              <td>No-till</td>
              <td>110.8</td>
              <td>$34,015</td>
              <td>Erosion Control</td>
            </tr>
            <tr class='clickable-row' data-href='/buy_tags/search_results?cert=3' data-no-turbolink>
              <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
              <td>Iowa</td>
              <td>Nitrification Filter</td>
              <td>90.6</td>
              <td>$32,096</td>
              <td>Water Quality</td>
            </tr>
            <tr class='clickable-row' data-href='/buy_tags/search_results?cert=4' data-no-turbolink>
              <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
              <td>Iowa</td>
              <td>Nitrification Filter</td>
              <td>81.7</td>
              <td>$28,954</td>
              <td>Water Quality</td>
            </tr>
            <tr class='clickable-row' data-href='/buy_tags/search_results?cert=5' data-no-turbolink>
              <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
              <td>Iowa</td>
              <td>Nitrification Filter</td>
              <td>78.5</td>
              <td>$22,137</td>
              <td>Water Quality</td>
            </tr>
            <tr class='clickable-row' data-href='/buy_tags/search_results?cert=6' data-no-turbolink>
              <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
              <td>Iowa</td>
              <td>Nitrification Filter</td>
              <td>77.4</td>
              <td>$19,845</td>
              <td>Water Quality</td>
            </tr>
            <tr class='clickable-row' data-href='/buy_tags/search_results?cert=7' data-no-turbolink>
              <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
              <td>Iowa</td>
              <td>Nitrification Filter</td>
              <td>68.5</td>
              <td>$18,483</td>
              <td>Water Quality</td>
            </tr>
            <tr class='clickable-row' data-href='/buy_tags/search_results?cert=8' data-no-turbolink>
              <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
              <td>Iowa</td>
              <td>Nitrification Filter</td>
              <td>64.6</td>
              <td>$16,849</td>
              <td>Water Quality</td>
            </tr>
            <tr class='clickable-row' data-href='/buy_tags/search_results?cert=9' data-no-turbolink>
              <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
              <td>Iowa</td>
              <td>Nitrification Filter</td>
              <td>62.8</td>
              <td>$14,394</td>
              <td>Water Quality</td>
            </tr>
            <tr class='clickable-row' data-href='/buy_tags/search_results?cert=10' data-no-turbolink>
              <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
              <td>Iowa</td>
              <td>Nitrification Filter</td>
              <td>61.4</td>
              <td>$12,478</td>
              <td>Water Quality</td>
            </tr>
            <tr class='clickable-row' data-href='/buy_tags/search_results?cert=11' data-no-turbolink>
              <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
              <td>Iowa</td>
              <td>Nitrification Filter</td>
              <td>54.4</td>
              <td>$11,483</td>
              <td>Water Quality</td>
            </tr>
            <tr class='clickable-row' data-href='/buy_tags/search_results?cert=12' data-no-turbolink>
              <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
              <td>Iowa</td>
              <td>Nitrification Filter</td>
              <td>50.4</td>
              <td>$10,479</td>
              <td>Water Quality</td>
            </tr>
            <tr class='clickable-row' data-href='/buy_tags/search_results?cert=13' data-no-turbolink>
              <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
              <td>Iowa</td>
              <td>Nitrification Filter</td>
              <td>48.7</td>
              <td>$9,368</td>
              <td>Water Quality</td>
            </tr>
          </table>
        </div>
        <div class="page-container">
          <div class="pagination">
            <p>
              <a href="#"><span class="green-text"><i class="fa fa-angle-left"></i> PREV</span></a> 
              <span class="pages">1</span> 
              <span class="pages green-text">2</span>
              <span class="pages">3</span>
              <span class="pages">4</span> 
              <span class="pages">5</span>
              <a href="#"><span class="green-text pages">NEXT <i class="fa fa-angle-right"></i></span></a>
            </p>
          </div>
        </div>
      </div>
    </div> <!-- /.content-wrap -->

  </section> <!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
      <div class="container clearfix">
        <p class="center">Redstone Standard &copy; 2015, All Rights Reserved<br></p>
      </div>
    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->
</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".clickable-row").mouseover(function(){
      $(".clickable-row").css({'cursor':'pointer'});
    });
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
  });
</script>
<script type="text/javascript">
  $(".selector-box").click(function(){
    $(".option-container").toggle(100);
  });
  $(".options").click(function(){
    $(".options").removeAttr('id','active');
    var state = $(this);
    $(".selected").text($(this).data("state"));
    $(this).attr('id','active');
  });

  $(".selector-box2").click(function(){
    $(".option-container2").toggle(100);
  });
  $(".options2").click(function(){
    $(".options2").removeAttr('id','active');
    var sector = $(this);
    $(".selected2").text($(this).data("sector"));
    $(this).attr('id','active');
  });

  $(".selector-box3").click(function(){
    $(".option-container3").toggle(100);
  });
  $(".options3").click(function(){
    $(".options3").removeAttr('id','active');
    var sector = $(this);
    $(".selected3").text($(this).data("sector"));
    $(this).attr('id','active');
  });
</script>
