

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Header
  ============================================= -->
  <header id="header" class="full-header">
    <div id="header-wrap">
      <div class="container clearfix">
        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
        <!-- Logo
        ============================================= -->
        <div id="logo" class="move-right">
         <a href='/' data-no-turbolink class="standard-logo" data-dark-logo="<%= image_path("logo-ecocredits.png") %>">
            <%= image_tag("logo-ecopractices.png", {:class=>"img-responsive"}) %>
          </a>
          <a href="" class="retina-logo" data-dark-logo="<%= image_path("logo-ecocredits@2x.png") %>">
            <%= image_tag("logo-ecocredits@2x.png", {:class=>"img-responsive"}) %>
          </a>
        </div><!-- #logo end -->
        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu">
          <ul>
            <li class="who_we_are"><%= link_to 'WHO WE ARE', controller: 'who_we_are' %></li>
            <li class="how_it_works_load"><%= link_to 'HOW IT WORKS', controller: 'how_it_works' %></li>
            <li class="produce_tag_load"><%= link_to 'PRODUCE ECOTAGS', controller: 'produce_tags' %></li>
            <li class="buy_tag_load"><%= link_to 'BUY ECOTAGS', controller: 'buy_tags' %></li>
          </ul>
          <ul style="border: none;">
            <li><a href="https://producer.ecocredits.me/user/register"><i class="fa fa-lock" style="color: #b4bb00; font-size: 18px !important;"></i> &nbsp;LOGIN</a></li>
          </ul>
        </nav><!-- #primary-menu end -->
      </div>
    </div>
  </header><!-- #header end -->


  <!-- Content
  ============================================= -->
  <section id="content">

    <div class="content-wrap">

      <div class="main-banner section parallax dark nobottommargin header-stick notopborder" style="background: url('<%= image_path("banner-001-lg.jpg") %>') no-repeat center center;background-size: cover;min-height: 650px;" data-stellar-background-ratio="0.3">
        <div class="container clearfix">
          <div class="heading-block center">
          <h1 class="caption-tite"><span style="font-weight:100; color: #FFF;">RECOGNIZING</span> RESPONSIBILITY</h1>
            <span>Introducing Ecotags, a compliance-driven method for preserving the environment while doubling food production and commoditizing sustainability</span>
          </div>
        </div>
        <div class="home-search-container" style="background: url('<%= image_path("home-search-bg.png") %>') repeat;">
          <div class="container-fluid">
            <div class="container">
              <div class="home-search">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <!-- Ravindra, inside of this comment is the button to launch the search -->
                    <a href="#" id="echo_tag_serach"><i class="fa fa-search"></i></a>
                    <!-- End of search button launch -->
                    <form action="" method="get" name="home-search_echotag" id='search-form'>
                      <label class="form-control" id="home-search-label" for="home-search">ENTER AN ECOTAG #</label>
                      <input type="text" class="form-control" id="home-search" name="cert">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-2">
        <div class="section-2-container">
          <div class="revenue-streams" style="background: url('<%= image_path("revenue-bg.png") %>') no-repeat center center;background-size: cover;min-height: 650px;">
            <div class="revenue-content">
              <div class="revenue-top">
                <h2>add revenue streams</h2>
                <div id="revenue-divider"></div>
                <br />
                <p>As a producer you can add an additional revenue stream just for changing a management practice on one of your fields. You can use one of our partner applications to help identify which practice changes can provide the most benefit for your specific operation.</p>
              </div>
              <p><a href="/produce_tags/index" data-no-turbolink class="learn-more-btn" id="go-bottom">LEARN MORE<i style="padding-left:25px;" class="fa fa-angle-right"></i></a></p>
            </div>
          </div>

          <div class="invest" style="background: url('<%= image_path("invest-bg.png") %>') no-repeat center center;background-size: cover;min-height: 650px;">
            <div class="invest-content">
              <div class="invest-top">
                <h2>invest green</h2>
                <div id="invest-divider"></div>
                <br />
                <p>Investing corporate dollars in green initiatives has always been hard. The Ecotags network provides the first compliance driven and fully auditable solution to investing in our environment. Now you can make your green investment choices with full confidence.</p>
              </div>
              <p><a href="/buy_eco/index" data-no-turbolink class="learn-more-btn" id="go-bottom">LEARN MORE<i style="padding-left:25px;" class="fa fa-angle-right"></i></a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="container"></div>

      <!-- Remove news section for now

      <section>
        <div class="news">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="news-head">
                  <h2 style="float:left;">NEWS</h2>
                  <p style="float:right;"><a href="#" class="blue-link">MORE NEWS &nbsp;<i class="fa fa-chevron-right"></i></a></p>
                </div>
              </div>
            </div>
            <hr style="border-color: #b4bb00;">
            <div class="row">
              <div class="col-md-4">
                <p><strong>FEBRUARY 5, 2016</strong></p><p id="up25" class="news-desc">3,000 Acres Recently added to the Ecotags Network offered by EcoPractices</p>
                <p><a href="#" class="read-more-btn" id="go-bottom">READ MORE &nbsp;<i class="fa fa-angle-right"></i></a></p>
              </div>
              <div class="col-md-4">
                  <p><strong>FEBRUARY 2, 2016</strong></p>
                  <p id="up25" class="news-desc">Ecotags Discussed on “The Ag Report” on Public Broadcasting Stations Around the U.S.A.</p>
                  <p><a href="#" class="read-more-btn" id="go-bottom">READ MORE &nbsp;<i class="fa fa-angle-right"></i></a></p>
              </div>
              <div class="col-md-4">
                  <p><strong>JANUARY 15, 2016</strong></p>
                  <p id="up25" class="news-desc">EcoPractices Partners with Sustainable Resources to Provide New Soxx<sup>&trade;</sup>-related Ecotags</p>
                  <p><a href="#" class="read-more-btn" id="go-bottom">READ MORE &nbsp;<i class="fa fa-angle-right"></i></a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
      -->

      <div id="eco-credits" class="section notopmargin bottommargin-lg">
        <div class="container clearfix">
          <div class="col_three_fifth topmargin-sm">
            <div class="heading-block topmargin">
              <h2 style="color: #b4bb00;">What Are Ecotags?</h2>
            </div>
            <p class="lead">An Ecotag represents a production acre that is impacted by a sustainable practice. One Ecotag is equal to one acre that is impacted by a sustainable practice.</p>
            <p class="lead">For the Soxx<sup>&trade;</sup> practice, one foot of Soxx<sup>&trade;</sup> implemented equals one Ecotag. <br />
            1 Ecotag = 1 foot of Soxx<sup>&trade;</sup> implemented or one cubic yard of compost.<br />
            </p>
          </div>

          <div class="col_two_fifth topmargin-sm bottommargin col_last">
            <%= image_tag("eco-photo.png", {:class=>"img-responsive", :'data-animate'=>"fadeInRightBig"}) %>
          </div>
        </div>
      </div>

      <div id="the-challenge" class="clear topmargin-lg bottommargin-lg"></div>

      <div class="col_full topmargin-lg bottommargin-lg common-height">
        <div class="heading-block center">
          <h2 style="color: #b4bb00;">The Challenge</h2>
        </div>
        <div class="col-md-3 dark col-padding ohidden" style="background: url(<%= image_path("section-challenge-004.jpg") %>) no-repeat center center;background-size: cover">
          <div>
            <h3 style="font-weight: 100; color: #FFF;">Meeting requirements of mankind - e.g doubling food production</h3>
          </div>
        </div>
        <div class="col-md-3 dark col-padding ohidden" style="background: url(<%= image_path("section-challenge-003.jpg") %>) no-repeat center center;background-size: cover">
          <div>
            <h3 style="font-weight: 100; color: #FFF;">Resource consumption is just as neccesary as preserving the environment</h3>
          </div>
        </div>
        <div class="col-md-3 dark col-padding ohidden" style="background: url(<%= image_path("section-challenge-002.jpg") %>) no-repeat center center;background-size: cover">
          <div>
            <h3 style="font-weight: 100; color: #FFF;">Resolving the conflicts between government, farmers/ranchers, &amp; industry</h3>
          </div>
        </div>
        <div class="col-md-3 dark col-padding ohidden" style="background: url(<%= image_path("section-challenge-001.jpg") %>) no-repeat center center;background-size: cover">
          <div>
            <h3 style="font-weight: 100; color: #FFF;">Make saving the environment economically attractive and sustainable</h3>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div id="how-it-works" class="clear bottommargin-lg"></div>

      <div class="topmargin-lg bottommargin-lg">
        <div class="clear"></div>
        <div class="container bottommargin-lg">
          <div class="heading-block center">
            <h2 style="color: #b4bb00;">How It Works</h2>
          </div>
          <div class="row">

            <div class="col-sm-4">
              <%= image_tag("section-how-003.png", {:class=>"img-responsive", :style=>"margin: auto;"}) %>
              <div class="title-center">
                  <h3 class="uppercase">Producer</h3>
              </div>
              <ul class="iconlist topmargin">
                  <li><i class="i-plain icon-leaf" style="color: #b4bb00;"></i><p>Agrees to measurable management change in exchange for money </p></li>
                  <li><i class="i-plain icon-leaf" style="color: #b4bb00;"></i><p>Agrees to sell these acres exclusively for the Ecotag fee</p></li>
                  <li><i class="i-plain icon-leaf" style="color: #b4bb00;"></i><p>Documents the process of implementing different management practice zones in a field using our applications</p></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <%= image_tag("section-how-002.png", {:class=>"img-responsive", :style=>"margin: auto;"}) %>
              <div class="title-center">
                  <h3 class="uppercase">Verification &amp; Certification</h3>
              </div>
              <ul class="iconlist">
                <li><i class="i-plain icon-leaf" style="color: #b4bb00;"></i><p>Verify that the grower is implementing the sustainable practice as described in the respective application</p></li>
                <li><i class="i-plain icon-leaf" style="color: #b4bb00;"></i><p>Provides certificate numbers for Ecotag tracking</p></li>
                <li><i class="i-plain icon-leaf" style="color: #b4bb00;"></i><p>Maintains tracking from certificate number to ensure a grower implemented a sustainable practice</p></li>
                <li><i class="i-plain icon-leaf" style="color: #b4bb00;"></i><p>Anonymizes all data</p></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <%= image_tag("section-how-001.png", {:class=>"img-responsive", :style=>"margin: auto;"}) %>
              <div class="title-center">
                  <h3 class="uppercase">Buyers</h3>
              </div>
              <ul class="iconlist topmargin">
                <li><i class="i-plain icon-leaf" style="color: #b4bb00;"></i><p>Purchase Ecotags for a fee</p></li>
                <li><i class="i-plain icon-leaf" style="color: #b4bb00;"></i><p>Will receive a certificate and the ability to audit the backing of the Ecotag</p></li>
                <li><i class="i-plain icon-leaf" style="color: #b4bb00;"></i><p>Will receive a media kit to aid in promoting the purchase of Ecotag</p></li>
                <li><i class="i-plain icon-leaf" style="color: #b4bb00;"></i><p>Will receive anonymous data of the field and a image to provide proof</p></li>
              </ul>
            </div>

          </div>
        </div>
      </div>

    </div> <!-- /.content-wrap -->

  </section> <!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
      <div class="container clearfix">
        <p class="center">Sustainability Partners &copy; 2016, All Rights Reserved<br></p>
      </div>
    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->
</div><!-- #wrapper end -->

<!-- Modal -->
                  <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                    
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">ECOTAG SEARCH</h4>
                        </div>
                        <div class="modal-body">
                          <span>You have entered an invalid Ecotag #. Please try again.</span>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                      
                    </div>
                  </div>



<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>


<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".buy_tag_load a, .produce_tag_load a, .how_it_works_load a, .who_we_are a").click(function() {
        window.document.location = $(this).attr("href");
    });
    $("#echo_tag_serach").click(function(e) {
      e.preventDefault();
      ecotag_id = $("#home-search").val();
      $.ajax({
          type: "GET",
          url: "/buy_tags/check_echotag?cert="+ecotag_id,
          dataType: "json",
          success: function(data){
              if(data == false){
                $('#myModal').modal('show')
              }
              else{
                window.document.location = "/buy_tags/search_results?cert="+ecotag_id;
              }
          }        
      });
    });
    $('#search-form').find('.form-control').keypress(function(e){
          if ( e.which == 13 ) // Enter key = keycode 13
          {
              $('#echo_tag_serach').trigger('click');
              return false;
          }
    })
  });
</script>
