<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Header
  ============================================= -->
  <header id="header" class="full-header">
    <div id="header-wrap">
      <div class="container clearfix">
        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
        <!-- Logo
        ============================================= -->
        <div id="logo">
         <a href='/' data-no-turbolink class="standard-logo" data-dark-logo="<%= image_path("logo-ecocredits.png") %>">
         <%= image_tag("logo-ecopractices.png", {:class=>"img-responsive"}) %>
          </a>
          <a href='/' data-no-turbolink class="retina-logo" data-dark-logo="<%= image_path("logo-ecocredits@2x.png") %>">
            <%= image_tag("logo-ecocredits@2x.png", {:class=>"img-responsive"}) %>
          </a>
        </div><!-- #logo end -->
        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu">
          <ul>
            <li><a href='/#how-it-works' data-no-turbolink>HOW IT WORKS</a></li>
            <li><%= link_to 'TRACK ECO TAGS', controller: 'track_tags' %></li>
            <li class="current"><%= link_to 'BUY ECO TAGS', controller: 'buy_tags' %></li>
            <li><%= link_to 'PRODUCE ECO TAGS', controller: 'produce_tags' %></li>
          </ul>
        </nav><!-- #primary-menu end -->
      </div>
    </div>
  </header><!-- #header end -->


  <!-- Content
  ============================================= -->
  <section id="content">

    <div class="content-wrap">

      <div class="main-banner section parallax dark nobottommargin header-stick notopborder" style="background: url('<%= image_path("banner-001-lg.jpg") %>') no-repeat center center;background-size: cover;height: 200px;" data-stellar-background-ratio="0.3">
        <div class="container clearfix">
          <div class="buy-header">
            <h2>ECO TAGS SEARCH</h2>
            <p id="up25">Find the perfect green investment for your unique portfolio criteria</p>
          </div>
        </div>
      </div>
      
      <div class="search-section">
        <div class="container clearfix">
          <div class="search-section-content">
            <div class="row">
              <div class="col-md-4">
                <span class="green-header">filters</span>
              </div>
              <div class="col-md-4">
                <div class="selector-contaniner">
                  <div class="selector-label">state</div>
                  <div class="selector-box">
                    <div class="selected">Iowa</div>
                    <div class="down-arrow"><i class="fa fa-angle-down"></i></div>
                    <div class="option-container">
                      <div class="options" data-state="Iowa">Iowa</div>
                      <div class="options" data-state="Kansas">Kansas</div>
                      <div class="options" data-state="Minnesota">Minnesota</div>
                      <div class="options" data-state="Missouri">Missouri</div>
                      <div class="options" data-state="Nebraska">Nebraska</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="selector-contaniner2">
                  <div class="selector-label2">sector</div>
                  <div class="selector-box2">
                    <div class="selected2">Corn</div>
                    <div class="down-arrow2"><i class="fa fa-angle-down"></i></div>
                    <div class="option-container2">
                      <div class="options2" data-sector="Beans">Beans</div>
                      <div class="options2" data-sector="Corn">Corn</div>
                      <div class="options2" data-sector="Soy Beans">Soy Beans</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="page-container">
          <div class="pagination">
            <p>
              <a href="#"><span class="green-text"><i class="fa fa-angle-left"></i> PREV</span></a> 
              <span class="pages">1</span> 
              <span class="pages green-text">2</span>
              <span class="pages">3</span>
              <span class="pages">4</span> 
              <span class="pages">5</span>
              <a href="#"><span class="green-text pages">NEXT <i class="fa fa-angle-right"></i></span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="container clearfix tags">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <th>&nbsp;</th>
              <th>State</th>
              <th>Sector</th>
              <th class="green-text">Acres <i class="fa fa-chevron-down"></i></th>
              <th>Price</th>
              <th>&nbsp;</th>
            </thead>
          <% @data.each do  |values| -%>
            <% @new_var = JSON.parse(values['data']) -%>
            <% @new_var.each do |new_val| -%>
            <tr class='clickable-row' data-href='/buy_tags/search_results?cert=<%=new_val['id'] -%>' data-no-turbolink>
              <td class="font24"><i class="fa fa-arrow-circle-right green-text"></i></td>
              <td><%= new_val['stateName'] -%></td>
              <td><%= new_val['practiceTypeName'] -%></td>
              <td><%= new_val['acres'] -%></td>
              <td>$64,064</td>
              <td class="font18 text-underline"><a href="#">View Details</a></td>
            </tr>
            <% end -%>
          <% end -%>
          </table>
        </div>
        <div class="page-container">
          <div class="pagination">
            <p>
              <a href="#"><span class="green-text"><i class="fa fa-angle-left"></i> PREV</span></a> 
              <span class="pages">1</span> 
              <span class="pages green-text">2</span>
              <span class="pages">3</span>
              <span class="pages">4</span> 
              <span class="pages">5</span>
              <a href="#"><span class="green-text pages">NEXT <i class="fa fa-angle-right"></i></span></a>
            </p>
          </div>
        </div>
      </div>
    </div> <!-- /.content-wrap -->

  </section> <!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
      <div class="container clearfix">
        <p class="center">Redstone Standard &copy; 2015, All Rights Reserved<br></p>
      </div>
    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->
</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".clickable-row").mouseover(function(){
      $(".clickable-row").css({'cursor':'pointer'});
    });
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
  });
</script>
<script type="text/javascript">
  $(".selector-box").click(function(){
    $(".option-container").toggle(100);
  });
  $(".options").click(function(){
    $(".options").removeAttr('id','active');
    var state = $(this);
    $(".selected").text($(this).data("state"));
    $(this).attr('id','active');
  });

  $(".selector-box2").click(function(){
    $(".option-container2").toggle(100);
  });
  $(".options2").click(function(){
    $(".options2").removeAttr('id','active');
    var sector = $(this);
    $(".selected2").text($(this).data("sector"));
    $(this).attr('id','active');
  });
</script>