

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Header
  ============================================= -->
  <header id="header" class="full-header">
    <div id="header-wrap">
      <div class="container clearfix">
        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
        <!-- Logo
        ============================================= -->
        <div id="logo" class="move-right">
         <a href='/' data-no-turbolink class="standard-logo" data-dark-logo="<%= image_path("logo-ecocredits.png") %>">
            <%= image_tag("logo-ecopractices.png", {:class=>"img-responsive"}) %>
          </a>
          <a href="#" class="retina-logo" data-dark-logo="<%= image_path("logo-ecocredits@2x.png") %>">
            <%= image_tag("logo-ecocredits@2x.png", {:class=>"img-responsive"}) %>
          </a>
        </div><!-- #logo end -->
        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu">
          <ul>
            <li class="who_we_are"><%= link_to 'WHO WE ARE', controller: 'who_we_are' %></li>
            <li class="how_it_works_load"><%= link_to 'YOUR ECOTAGS', controller: 'marketing' %></li>
            <li class="how_it_works_load current"><%= link_to 'MARKETING', controller: 'marketing' %></li>
            <li class="buy_tag_load"><%= link_to 'YOUR ACCOUNT', controller: 'marketing' %></li>
            <li class="buy_tag_load"><%= link_to 'FAQ', controller: 'marketing' %></li>
            <li class="buy_tag_load"><%= link_to 'HELP', controller: 'marketing' %></li>
          </ul>
          <ul class="member-options">
            <li><i class="fa fa-user"></i> &nbsp;Username &nbsp;|&nbsp; <i class="fa fa-sign-out green-text"></i></li>
         </ul>
        </nav><!-- #primary-menu end -->
      </div>
    </div>
  </header><!-- #header end -->


  <!-- Content
  ============================================= -->
  <section id="content">

    <div class="content-wrap" style="background: #f9f9f9;">

      <div class="main-banner section parallax dark nobottommargin header-stick notopborder" style="background: url('<%= image_path("show-head.png") %>') no-repeat center center;background-size: cover;height: 250px;" data-stellar-background-ratio="0.3">
        <div class="container clearfix">
          <div class="buy-header">
            <h2>MARKETING MATERIALS</h2>
            <p id="up25">Everything that you need to publicize your Ecotags</p>
          </div>
        </div>
          <div class="sub-nav-container">
          <div class="sub-nav-m">
            <div class="container">
            <div class="row">
              <div class="col-md-12">
                  <ul>
                    <li><a href="#social" id="social-link">social media</a></li>
                    <li><a href="#press" id="press-link">press releases</a></li>
                    <li><a href="#images" id="images-link">images</a></li>
                    <li><a href="#logos" id="logos-link">logos &amp; Cert symbol</a></li>
                    <li><a href="#order" id="order-link">order materials</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container" style="margin-top:50px;">
         <div class="row">
            <div class="col-md-12" id="social">
               <h2 style="color:#00b033; font-size:32px;">SOCIAL MEDIA <span class="view-all"><a href="#">VIEW ALL <i class="fa fa-long-arrow-right"></i></a></h2>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <div id="revenue-divider" style="border: 1px solid #222;width: 40px;"></div>
               <br />
               <p style="color:#222; font-size:20px;font-weight:500;">Download example social media posts customized for each outlet. From 140 characters and beyond, we have samples ready for you to let the world know how proud you are to be helping the environment.<br />
               <a href="#">Learn more <i class="fa fa-long-arrow-right"></i></a></p>
            </div>

            <div class="col-md-4">
               <%= image_tag("sample-tweet-1.png", {:'data-animate'=>"fadeIn"}) %>
            </div>
            <div class="col-md-4">
               <%= image_tag("sample-tweet-2.png", {:'data-animate'=>"fadeIn"}) %>
            </div>
        </div>
        <span id="what-are-eco-tags"></span>
        <h1>&nbsp;</h1>
     </div>

     <div class="container-fluid pr-release" style="background: url('<%= image_path("pr-background.png") %>')no-repeat center center;background-size: cover;">
      <div class="container">
         <div class="row">
            <div class="col-md-12" id="press">
               <h2 style="color:#FFF; font-size:32px;">PRESS RELEASES <span class="view-all-pr"><a href="#">VIEW ALL <i class="fa fa-long-arrow-right"></i></a></h2>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <div id="revenue-divider" style="border: 1px solid #FFF;width: 40px;"></div>
               <br />
               <p class="pr-p">Choose from multiple press releases that will get your message across to the media. Choose from several samples and customize as you need.<br />
               <a href="#">Learn more <i class="fa fa-long-arrow-right"></i></a></p>
            </div>
            <div class="col-md-8">
               <%= image_tag("sample-pr.png", {:class=>"img-responsive pr-sample",:'data-animate'=>"fadeIn"}) %>
            </div>
         </div>
      </div>
     </div>

      <div class="container-fluid" style="margin-top:50px; background:#f9f9f9;">
         <div class="container">
            <div class="row">
               <div class="col-md-12" id="images">
                  <h2 style="color:#00b033; font-size:32px;">IMAGES <span class="view-all"><a href="#">VIEW ALL <i class="fa fa-long-arrow-right"></i></a></h2>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div id="revenue-divider" style="border: 1px solid #222;width: 40px;"></div>
                  <br />
                  <p style="color:#222; font-size:20px;font-weight:500;">Download example social media posts customized for each outlet. From 140 characters and beyond, we have samples ready for you to let the world know how proud you are to be helping the environment.<br />
                  <a href="#">Learn more <i class="fa fa-long-arrow-right"></i></a></p>
               </div>

               <div class="col-md-8">
                  <%= image_tag("images-group.png", {:class=>"img-responsive images-group", :'data-animate'=>"fadeIn"}) %>
               </div>
           </div>
           <span id="what-are-eco-tags"></span>
           <h1>&nbsp;</h1>
        </div>
     </div>

      <div class="container-fluid" style="padding-top:50px; background: #FFF;">
         <div class="container">
            <div class="row">
               <div class="col-md-12" id="logos">
                  <h2 style="color:#00b033; font-size:32px;">LOGOS &amp; CERTIFICATION SYMBOL <span class="view-all"><a href="#">VIEW ALL <i class="fa fa-long-arrow-right"></i></a></h2>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div id="revenue-divider" style="border: 1px solid #222;width: 40px;"></div>
                  <br />
                  <p style="color:#222; font-size:20px;font-weight:500;">Download our logo and official certification symbol in multiple formats for use on the web or in print along with guidelines to use them.<br />
                  <a href="#">Learn more <i class="fa fa-long-arrow-right"></i></a></p>
               </div>

               <div class="col-md-4">
                  <%= image_tag("logo-ecopractices.png", {:class=>"img-responsive", :'data-animate'=>"fadeIn"}) %>
               </div>

               <div class="col-md-4">
                  <%= image_tag("cert-badge.png", {:class=>"img-responsive", :'data-animate'=>"fadeIn"}) %>
               </div>
           </div>
           <span id="what-are-eco-tags"></span>
           <h1>&nbsp;</h1>
        </div>
     </div>

      <div class="container-fluid" style="margin-top:50px; background: #f9f9f9;">
         <div class="container">
            <div class="row">
               <div class="col-md-12" id="order">
                  <h2 style="color:#00b033; font-size:32px;">ORDER MATERIALS <span class="view-all"><a href="#">VIEW ALL <i class="fa fa-long-arrow-right"></i></a></h2>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div id="revenue-divider" style="border: 1px solid #222;width: 40px;"></div>
                  <br />
                  <p style="color:#222; font-size:20px;font-weight:500;">Order physical items from us such as wall hanging Ecotags certificates, self-standing trophies, or brochures customized with your company name and logo.<br />
                  <a href="#">Learn more <i class="fa fa-long-arrow-right"></i></a></p>
               </div>

               <div class="col-md-6 col-md-offset-2">
                  <%= image_tag("trophy-brochures.png", {:class=>"img-responsive", :'data-animate'=>"fadeIn"}) %>
               </div>
           </div>
           <span id="what-are-eco-tags"></span>
           <h1>&nbsp;</h1>
        </div>
     </div>

    </div> <!-- /.content-wrap -->

  </section> <!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark" style="margin-top:-30px;">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
      <div class="container clearfix">
        <p class="center">Sustainability Partners &copy; 2016, All Rights Reserved<br></p>
      </div>
    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->
</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".buy_tag_load a, .produce_tag_load a, .how_it_works_load a, .who_we_are a").click(function() {
        window.document.location = $(this).attr("href");
    });
    mSub();
  });

  function mSub(){
    $("#social-link").click(function(){
      $('html, body').animate({
        scrollTop: $("#social").offset().top -25
      }, 700);
    });
    $("#press-link").click(function(){
      $('html, body').animate({
        scrollTop: $("#press").offset().top -25
      }, 700);
    });
    $("#images-link").click(function(){
      $('html, body').animate({
        scrollTop: $("#images").offset().top -25
      }, 700);
    });
    $("#logos-link").click(function(){
      $('html, body').animate({
        scrollTop: $("#logos").offset().top -25
      }, 700);
    });
    $("#order-link").click(function(){
      $('html, body').animate({
        scrollTop: $("#order").offset().top -25
      }, 700);
    });
  }
</script>
