

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Header
  ============================================= -->
  <header id="header" class="full-header">
    <div id="header-wrap">
      <div class="container clearfix">
        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
        <!-- Logo
        ============================================= -->
        <div id="logo" class="move-right">
         <a href='/' data-no-turbolink class="standard-logo" data-dark-logo="<%= image_path("logo-ecocredits.png") %>">
            <%= image_tag("logo-ecopractices.png", {:class=>"img-responsive"}) %>
          </a>
          <a href="/" class="retina-logo" data-dark-logo="<%= image_path("logo-ecocredits@2x.png") %>">
            <%= image_tag("logo-ecocredits@2x.png", {:class=>"img-responsive"}) %>
          </a>
        </div><!-- #logo end -->
        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu">
          <ul class="member-options" style="color: #000 !important;">
           <li class="home_load"><a href="/">ECOPRACTICES.COM<i class="fa fa-angle-right" style="color: #009fed !important; font-size: 16px !important;"></i></li>
         </ul>
        </nav><!-- #primary-menu end -->
      </div>
    </div>
  </header><!-- #header end -->


  <!-- Content
  ============================================= -->
  <section id="content">

    <div class="content-wrap" style="background: #f9f9f9; padding: 0 !important;">

      <div class="main-banner section parallax dark nobottommargin notopborder" style="top:-115px; background: url('<%= image_path("buyer-bg.png") %>') no-repeat center center;background-size: cover;min-height: 250px;" data-stellar-background-ratio="0.3">

         <div class="sub-nav-container">
            <div class="sub-nav-m">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <ul>
                          <li class="index_load" style="padding-left:0 !important;"><a href="index">introduction to ecopractices</a></li>
                          <li class="active effects_load"><a href="effects">effects of ecotags</a></li>
                          <li class="intro_load" style="padding-right:0 !important; border-right: none !important;"><a href="intro">what you receive</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>

        <div class="container">
          <div class="buy-header">
            <h2>&nbsp;</h2>
            <h2 id="up25">EFFECTS OF ECOTAGS</h2>
          </div>
        </div>
      </div>

        <div class="container-fluid" style="background: #135eab; margin-top: -115px;">
         <div class="container receive-text">
            <div class="row">
               <div class="col-sm-12">
                  <p style="text-align: left;">Listed below is an overview of how you can support a sustainable practice by purchasing Ecotags and the tangible effects that it has on our environment.</p>
               </div>
            </div>
         </div>
        </div>

      <div class="container-fluid" style="padding-top: 75px; padding-bottom: 50px; background: #92a1a1;">
        <div class="container">
         <div class="row">
            <div class="col-md-12 text-center">
               <h2 style="color:#FFF; font-size:32px; padding-bottom: 50px;">THE PROCESS OF BUYING ECOTAGS</h2>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-3">
              <p><%= image_tag("round-phone.png", {:class=>"img-responsive", :'data-animate'=>"fadeIn"}) %></p>
              <p style="font-size: 20px; color: #FFF;font-weight: 100;">The buyer will reach out to EcoPractices Product Manager to specify the quantity of Ecotags they would like to purchase.</p>
            </div>
            <div class="col-sm-3">
              <p><%= image_tag("round-stocks.png", {:class=>"img-responsive", :'data-animate'=>"fadeIn"}) %></p>
              <p style="font-size: 20px; color: #FFF;font-weight: 100;">EcoPractices Product Manager purchases Ecotags for the buyer. An invoice showing the purchases is generated.</p>
            </div>
            <div class="col-sm-3">
              <p><%= image_tag("round-statement.png", {:class=>"img-responsive", :'data-animate'=>"fadeIn"}) %></p>
              <p style="font-size: 20px; color: #FFF;font-weight: 100;">The invoice is then sent to the buyer. All money is held in escrow until the sustainable practice is verified.</p>
            </div>
            <div class="col-sm-3">
              <p><%= image_tag("round-price.png", {:class=>"img-responsive", :'data-animate'=>"fadeIn"}) %></p>
              <p style="font-size: 20px; color: #FFF;font-weight: 100;">The purchased Ecotags will appear as unavailable to other buyers. The original buyer has the first opportunity to renew those Ecotags each year.</p>
            </div>
        </div>
      </div>
     </div>

        <div class="container-fluid" style="background: #135eab;padding-top:50px;padding-bottom:50px;font-weight: 100;">
         <div class="container receive-text">
            <div class="row">
               <div class="col-sm-12">
                  <p style="text-align: left;">Listed below is an example of a single practice supports the process of using Nitrification Inhibitors. This is how much just a single practice affects our environment. </p>
               </div>
            </div>
         </div>
        </div>

      <div class="container-fluid" style="padding-top: 100px;">
         <div class="container">
            <div class="row" style="padding-bottom: 50px;">
               <div class="col-md-12" id="images">
                  <h2 style="color:#6c7a7a; font-size:32px;">
                    <%= image_tag("cert-logo.png", {:class=>"img-responsive", :'data-animate'=>"fadeIn", :style=>"float:left;padding-right:25px;margin-top:-25px;"}) %>
                    <span class="green-text" style="padding-top: 50px;">NITRIFICATION INHIBITOR</span>
                  </h2>
                  <h2 style="font-weight: 100; color: #6c7a7a;margin-top: -40px;">
                    Example Ecotag
                  </h2>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <div class="responsive-table">
                    <table class="table eco-example">
                      <tr>
                        <td class="no-top-border"><strong>Acres</strong></td>
                        <td class="no-top-border">149.94
                      </tr>
                      <tr>
                        <td><strong>Ecotags</strong></td>
                        <td>149</td>
                      </tr>
                      <tr>
                        <td><strong>Practice</strong></td>
                        <td>Nitrification Inhibitors</td>
                      </tr>
                      <tr>
                        <td><strong>Description</strong></td>
                        <td>Nitrification inhibitors slow the microbial conversion of ammonium-nitrogen to nitrate-N, which helps reduce nitrogen losses (IDALS, IDNR, & ISU CALS, 2014). Inhibitors slow the conversion of N into forms that could easily be lost (USDA NRCS, 2014).</td>
                      </tr>
                      <tr>
                        <td><strong>Price Per Ecotag</strong></td>
                        <td>$21.34/Ecotag</td>
                      </tr>
                      <tr>
                        <td>Total Cost</td>
                        <td>#3212.36</td>
                      </tr>
                    </table>
                  </div>
               </div>

               <div class="col-md-6">
                  <%= image_tag("eco-example-screen.png", {:class=>"img-responsive", :'data-animate'=>"fadeIn"}) %>
               </div>
           </div>
           <span id="what-are-eco-tags"></span>
           <h1>&nbsp;</h1>
        </div>
     </div>

      <div class="container-fluid" style="padding-top:75px; background:#f0f5f5;">
         <div class="container" style="border-bottom: 1px solid #b9c7c7; padding-bottom: 25px; font-family: 'Montserrat', sans-serif;">
            <div class="row">
               <div class="col-md-2">
                  <%= image_tag("lg-bathtub.png", {:class=>"img-responsive", :'data-animate'=>"fadeIn"}) %>
               </div>
               <div class="col-md-4 text-center">
                  <p style="font-size: 70px; color: #343b3b;"><strong>24</strong></p>
                  <p style="font-size: 34px; color: #343b3b;;margin-top: -70px;">BATHTUBS</p>
                  <p style="font-size: 32px; color: #6c7a7a;margin-top: -55px;">OF NITRATES</p>
               </div>
               <div class="col-md-6">
                  <div class="table-responsive" style="font-size: 18px;">
                    <table class="table">
                      <th class="no-top-border">&nbsp;</th>
                      <th class="no-top-border">Annual nitrate loss (lbs NO3)</th>
                      <th class="no-top-border">Bathtubs</th>
                      <tr>
                        <td>No nitrification inhibitor <sup style="color: #009973;">*</sup></td>
                        <td>8,000</td>
                        <td>32</td>
                      </tr>
                      <tr>
                        <td>Nitrification inhibitor <sup style="color: #009973;">*</sup></td>
                        <td>2,000</td>
                        <td>8</td>
                      </tr>
                      <tr>
                        <td>Effect of inhibitor</td>
                        <td>6,000 less</td>
                        <td>24 less</td>
                      </tr>
                    </table>
                  </div>
                  <p style="color: #6c7a7a;"><sup style="color: #009973;">*</sup>These numbers are not representative of the impact a conservation practice has on the environment at this time.</p>
               </div>
           </div>
        </div>

        <div class="container" style="padding-top: 25px;padding-bottom: 25px; font-family: 'Montserrat', sans-serif;">
            <div class="row">
                <div class="col-md-2" style="padding-top: 50px;">
                  <%= image_tag("lg-car.png", {:class=>"img-responsive", :'data-animate'=>"fadeIn"}) %>
                </div>
                <div class="col-md-4 text-center">
                  <p style="font-size: 70px; color: #343b3b;"><strong>2</strong></p>
                  <p style="font-size: 34px; color: #343b3b;margin-top: -70px;">CARS</p>
                  <p style="font-size: 32px; color: #6c7a7a;margin-top: -55px;">OFF THE ROAD</p>
                </div>
                <div class="col-md-6">
                  <div class="table-responsive" style="font-size: 18px;">
                    <table class="table">
                      <th class="no-top-border">&nbsp;</th>
                      <th class="no-top-border">Annual CO2 loss (lbs CO2)</th>
                      <th class="no-top-border">Cars</th>
                      <tr>
                        <td>No nitrification inhibitor <sup style="color: #009973;">*</sup></td>
                        <td>200,000</td>
                        <td>8</td>
                      </tr>
                      <tr>
                        <td>Nitrification inhibitor <sup style="color: #009973;">*</sup></td>
                        <td>150,000</td>
                        <td>6</td>
                      </tr>
                      <tr>
                        <td>Effect of inhibitor</td>
                        <td>50,000 less</td>
                        <td>2 less</td>
                      </tr>
                    </table>
                  </div>
                  <p style="color: #6c7a7a;"><sup style="color: #009973;">*</sup>These numbers are not representative of the impact a conservation practice has on the environment at this time.</p>
                </div>
            </div>
        </div>
     </div>

      <div class="container-fluid" style="background: #008ed3; padding-top: 60px;padding-bottom: 60px;">
        <div class="container">
         <div class="row">
            <div class="col-md-8">
              <p style="font-size: 28px; color: #FFF; font-weight: 100;">Now that you know the specifics about your Ecotags and how they affect the environment, read more about the marketing materials and support you will receive with your purchase.</p>
            </div>
            <div class="col-md-4">
              <p style="padding-top: 50px;" class="intro_load"><a href="intro" class="more-btn">READ MORE <i class="fa fa-angle-right" style="padding-left: 20px; font-size: 26px;"></i></a></p>
            </div>
         </div>
       </div>
      </div>

    </div> <!-- /.content-wrap -->

  </section> <!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark" style="margin-top:-30px;">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
      <div class="container clearfix">
        <p class="center">Sustainability Partners &copy; 2016, All Rights Reserved<br></p>
      </div>
    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->
</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".home_load a, .intro_load a, .effects_load a, .index_load a, .who_we_are a").click(function() {
        window.document.location = $(this).attr("href");
    });
  });
</script>
