

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Header
  ============================================= -->
  <header id="header" class="full-header">
    <div id="header-wrap">
      <div class="container clearfix">
        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
        <!-- Logo
        ============================================= -->
        <div id="logo" class="move-right">
         <a href='/' data-no-turbolink class="standard-logo" data-dark-logo="<%= image_path("logo-ecocredits.png") %>">
            <%= image_tag("logo-ecopractices.png", {:class=>"img-responsive"}) %>
          </a>
          <a href="/" class="retina-logo" data-dark-logo="<%= image_path("logo-ecocredits@2x.png") %>">
            <%= image_tag("logo-ecocredits@2x.png", {:class=>"img-responsive"}) %>
          </a>
        </div><!-- #logo end -->
        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu">
          <ul class="member-options" style="color: #000 !important;">
           <li class="home_load"><a href="/">ECOPRACTICES.COM<i class="fa fa-angle-right" style="color: #009fed !important; font-size: 16px !important;"></i></li>
         </ul>
        </nav><!-- #primary-menu end -->
      </div>
    </div>
  </header><!-- #header end -->


  <!-- Content
  ============================================= -->
  <section id="content">

    <div class="content-wrap" style="background: #f9f9f9; padding: 0 !important;">

      <div class="main-banner section parallax dark nobottommargin notopborder" style="top:-115px; background: url('<%= image_path("buyer-bg.png") %>') no-repeat center center;background-size: cover;min-height: 250px;" data-stellar-background-ratio="0.3">

         <div class="sub-nav-container">
            <div class="sub-nav-m">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <ul>
                          <li class="active index_load" style="padding-left:0 !important;"><a href="index">introduction to ecopractices</a></li>
                          <li class="effects_load"><a href="effects">effects of ecotags</a></li>
                          <li class="intro_load" style="padding-right:0 !important; border-right: none !important;"><a href="intro">what you receive</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>

        <div class="container">
          <div class="buy-header">
            <h2>&nbsp;</h2>
            <h2 id="up25">INTRODUCTION TO ECOPRACTICES</h2>
          </div>
        </div>
      </div>

        <div class="container-fluid" style="background: #135eab; margin-top: -115px;">
         <div class="container receive-text">
            <div class="row">
               <div class="col-sm-12">
                  <p style="padding-top: 45px;padding-bottom: 45px;padding-right: 45px;text-align: left;">Sustaining our ecosystem is of utmost importance, but there are some challenges, such as doubling our food production; resolving conflicts between government, farmers/ranchers, and industry; and making saving the environment economically attractive and sustainable. Through the use of our Ecotags, we can take steps to tackle those challenges to make sustainability more of a reality. </p>
               </div>
            </div>
         </div>
        </div>

        <div class="container-fluid" style="background:#f0f5f5;">
        <div class="container" style="padding-top: 75px; padding-bottom: 50px !important;">
           <div class="row">
              <div class="col-md-12" id="social">
                 <h2 style="color:#6c7a7a; font-size:32px;">WHAT ARE ECOTAGS</h2>
              </div>
           </div>
           <div class="row">
              <div class="col-md-4">
                 <div id="revenue-divider" style="border: 1px solid #c0cb00;width: 40px;"></div>
                 <br />
                 <p style="color:#222; font-size:20px;font-weight:500;">You will receive a printed certificate for your total purchase of Ecotags, You will also have a customized page on our website detailing the purchase and how it affects the environment. This can also be embedded on your own website.</p>
              </div>

              <div class="col-md-8">
                 <%= image_tag("eco-photo.png", {:'data-animate'=>"fadeInLeftBig", :style=>"padding-left:200px;margin-top:-75px;"}) %>
              </div>
          </div>
          <span id="what-are-eco-tags"></span>
          <h1>&nbsp;</h1>
       </div>
     </div>

      <div class="section-2">
          <%= render :partial => 'shared/j_scroller_buyer' %>
      </div>

     <div class="container-fluid pr-release" style="background: #92a1a1; padding-bottom: 30px !important">
      <div class="container">
         <div class="row">
            <div class="col-md-12 text-center">
               <h2 style="color:#FFF; font-size:32px; padding-bottom: 50px;">BENEFITS OF INVESTING IN ECOTAGS</h2>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4">
              <p><%= image_tag("round-building.png", {:'data-animate'=>"fadeInLeftBig"}) %></p>
              <p style="font-weight: 100;">Invest money in compliance measures to help support conservation practices that farmers can implement to sustain the environment, reduce greenhouse gas emissions, and have an impact on climate change.</p>
            </div>
            <div class="col-sm-4">
              <p><%= image_tag("round-pig.png", {:'data-animate'=>"fadeInLeftBig"}) %></p>
              <p style="font-weight: 100;">Ability to invest in conservation practices that have documented beneficial impacts on the environment.</p>
            </div>
            <div class="col-sm-4">
              <p><%= image_tag("round-farmers.png", {:'data-animate'=>"fadeInLeftBig"}) %></p>
              <p style="font-weight: 100;">With this investment, you have the ability to show consumers that you, as the buyer, are supporting sustainable practices that farmers are implementing as well as help reduce your carbon footprint.</p>
            </div>
         </div>
      </div>
     </div>

      <div class="container-fluid" style="background: #008ed3; padding-top: 60px;padding-bottom: 60px;">
        <div class="container">
         <div class="row">
            <div class="col-md-8">
              <p style="font-size: 28px; color: #FFF; font-weight: 100;">Now that you know the process behind Ecotags, click here to learn the specifics about purchasing Ecotags and how they affect the environment.</p>
            </div>
            <div class="col-md-4">
              <p style="padding-top: 50px;" class="effects_load"><a href="effects" class="more-btn">READ MORE <i class="fa fa-angle-right" style="padding-left: 20px; font-size: 26px;"></i></a></p>
            </div>
         </div>
       </div>
      </div>

    </div> <!-- /.content-wrap -->

  </section> <!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark" style="margin-top:-30px;">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
      <div class="container clearfix">
        <p class="center">Sustainability Partners &copy; 2016, All Rights Reserved<br></p>
      </div>
    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->
</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".home_load a, .intro_load a, .effects_load a, .index_load a, .who_we_are a").click(function() {
        window.document.location = $(this).attr("href");
    });
  });
</script>
