

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Header
  ============================================= -->
  <header id="header" class="full-header">
    <div id="header-wrap">
      <div class="container clearfix">
        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
        <!-- Logo
        ============================================= -->
        <div id="logo" class="move-right">
         <a href='/' data-no-turbolink class="standard-logo" data-dark-logo="<%= image_path("logo-ecocredits.png") %>">
            <%= image_tag("logo-ecopractices.png", {:class=>"img-responsive"}) %>
          </a>
          <a href="/" class="retina-logo" data-dark-logo="<%= image_path("logo-ecocredits@2x.png") %>">
            <%= image_tag("logo-ecocredits@2x.png", {:class=>"img-responsive"}) %>
          </a>
        </div><!-- #logo end -->
        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu">
          <ul class="member-options" style="color: #000 !important;">
           <li class="home_load"><a href="/">ECOPRACTICES.COM<i class="fa fa-angle-right" style="color: #009fed !important; font-size: 16px !important;"></i></li>
         </ul>
        </nav><!-- #primary-menu end -->
      </div>
    </div>
  </header><!-- #header end -->


  <!-- Content
  ============================================= -->
  <section id="content">

    <div class="content-wrap" style="background: #f9f9f9; padding: 0 !important;">

      <div class="main-banner section parallax dark nobottommargin notopborder" style="top:-115px; background: url('<%= image_path("buyer-bg.png") %>') no-repeat center center;background-size: cover;min-height: 250px;" data-stellar-background-ratio="0.3">

         <div class="sub-nav-container">
            <div class="sub-nav-m">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <ul>
                          <li class="index_load" style="padding-left:0 !important;"><a href="index">introduction to ecopractices</a></li>
                          <li class="effects_load"><a href="effects">effects of ecotags</a></li>
                          <li class="active intro_load" style="padding-right:0 !important; border-right: none !important;"><a href="intro">what you receive</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>

        <div class="container">
          <div class="buy-header">
            <h2>&nbsp;</h2>
            <h2 id="up25">WHAT YOU RECEIVE</h2>
          </div>
        </div>
      </div>

        <div class="container-fluid" style="background: #135eab; margin-top: -115px;">
         <div class="container receive-text">
            <div class="row">
               <div class="col-sm-12">
                  <p>Along with your purchase of Ecotags, you will receive a marketing kit to promote your green investment. Different marketing pieces that will be a part of this packet will include the following:</p>
               </div>
            </div>
         </div>
        </div>

      <div class="container" style="padding-top: 75px; padding-bottom: 0 !important;">
         <div class="row">
            <div class="col-md-12" id="social">
               <h2 style="color:#6c7a7a; font-size:32px;">PROOF OF PURCHASE</h2>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <div id="revenue-divider" style="border: 1px solid #c0cb00;width: 40px;"></div>
               <br />
               <p style="color:#222; font-size:20px;font-weight:500;">You will receive a printed certificate for your total purchase of Ecotags, You will also have a customized page on our website detailing the purchase and how it affects the environment. This can also be embedded on your own website.</p>
            </div>

            <div class="col-md-8">
               <%= image_tag("p-o-p.png", {:'data-animate'=>"fadeIn"}) %>
            </div>
        </div>
        <span id="what-are-eco-tags"></span>
        <h1>&nbsp;</h1>
     </div>

      <div class="container-fluid" style="margin-top:-85px; background:#f0f5f5; padding-top: 75px;">
         <div class="container">
            <div class="row">
               <div class="col-md-12" id="images">
                  <h2 style="color:#6c7a7a; font-size:32px;">SOCIAL MEDIA</h2>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div id="revenue-divider" style="border: 1px solid #c0cb00;width: 40px;"></div>
                  <br />
                  <p style="color:#222; font-size:20px;font-weight:500;">Download example social media posts customized for each platform. From 140 characters and beyond, we have samples ready for you on Twitter, Facebook, Google+, LinkedIn, & Instagram.</p>
               </div>

               <div class="col-md-8">
                  <%= image_tag("new-tweets.png", {:class=>"img-responsive", :'data-animate'=>"fadeIn", :style=>"margin-top:-90px"}) %>
               </div>
           </div>
           <span id="what-are-eco-tags"></span>
           <h1>&nbsp;</h1>
        </div>
     </div>

     <div class="container-fluid pr-release" style="background: url('<%= image_path("pr-background.png") %>')no-repeat center center;background-size: cover; margin-top: -84px;">
      <div class="container">
         <div class="row">
            <div class="col-md-12" id="press">
               <h2 style="color:#FFF; font-size:32px;">PRESS RELEASES</h2>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <div id="revenue-divider" style="border: 1px solid #c0cb00;width: 40px;"></div>
               <br />
               <p class="pr-p">Choose from multiple press releases that will get your message across to the media. Choose from several samples and customize as you need.</p>
            </div>
            <div class="col-md-8">
               <%= image_tag("sample-pr.png", {:class=>"img-responsive pr-sample",:'data-animate'=>"fadeIn"}) %>
            </div>
         </div>
      </div>
     </div>

      <div class="container-fluid" style="padding-top:75px; background:#f0f5f5;">
         <div class="container">
            <div class="row">
               <div class="col-md-12" id="images">
                  <h2 style="color:#6c7a7a; font-size:32px;">IMAGES</h2>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div id="revenue-divider" style="border: 1px solid #c0cb00;width: 40px;"></div>
                  <br />
                  <p style="color:#222; font-size:20px;font-weight:500;">Download example social media posts customized for each outlet. From 140 characters and beyond, we have samples ready for you to let the world know how proud you are to be helping the environment.</p>
               </div>

               <div class="col-md-8">
                  <%= image_tag("images-group.png", {:class=>"img-responsive images-group", :'data-animate'=>"fadeIn"}) %>
               </div>
           </div>
           <span id="what-are-eco-tags"></span>
           <h1>&nbsp;</h1>
        </div>
     </div>

      <div class="container-fluid" style="padding-top:75px; background: #FFF;">
         <div class="container">
            <div class="row">
               <div class="col-md-12" id="logos">
                  <h2 style="color:#6c7a7a; font-size:32px;">LOGOS &amp; CERTIFICATION SYMBOL</h2>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div id="revenue-divider" style="border: 1px solid #c0cb00;width: 40px;"></div>
                  <br />
                  <p style="color:#222; font-size:20px;font-weight:500;">Download our logo and official certification symbol in multiple formats for use on the web or in print along with guidelines to use them.</p>
               </div>

               <div class="col-md-8">
                  <div class="stacked-logo">
                     <%= image_tag("stacked-logo.png", {:class=>"img-responsive", :'data-animate'=>"fadeIn"}) %>
                  </div>
                  <div class="buyer-cert-badge">
                     <%= image_tag("cert-badge.png", {:class=>"img-responsive", :'data-animate'=>"fadeIn"}) %>
                  </div>
               </div>
           </div>
           <span id="what-are-eco-tags"></span>
           <h1>&nbsp;</h1>
        </div>
     </div>

      <div class="container-fluid" style="padding-top:75px; background: #f0f5f5;">
         <div class="container">
            <div class="row">
               <div class="col-md-12" id="order">
                  <h2 style="color:#6c7a7a; font-size:32px;">ORDER MATERIALS</h2>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div id="revenue-divider" style="border: 1px solid #c0cb00;width: 40px;"></div>
                  <br />
                  <p style="color:#222; font-size:20px;font-weight:500;">Order physical items from us such as wall-hanging Ecotag certificates, self-standing trophies, or brochures customized with your company name and logo.</p>
               </div>

               <div class="col-md-6 col-md-offset-2">
                  <%= image_tag("trophy-brochures.png", {:class=>"img-responsive", :'data-animate'=>"fadeIn", :style=>"margin-top:-75px;"}) %>
               </div>
           </div>
           <span id="what-are-eco-tags"></span>
           <h1>&nbsp;</h1>
        </div>
     </div>

      <div class="container-fluid" style="background: #135eab;">
         <div class="row">
            <div class="col-md-8">
               <div class="container">
                  <div class="row">
                     <div class="col-md-8">
                        <p style="padding-left:50px; padding-top: 100px; padding-right: 20px; padding-bottom: 50px; font-size: 28px; color: #FFF; font-weight: 100;">EcoPractices can offer completely customized marketing materials that are ready for print, ready for the press, and ready for the public. This can take the form of printed materials, a customized mini-website, or social media.</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4"style="background: url('<%= image_path("custom-marketing-bg.png") %>') no-repeat center center;background-size: cover;min-height: 450px; height: auto;">
               <div class="container-fluid" >
                  <div class="row">
                     <div class="col-md-4">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="contact-container" style="background: url('<%= image_path("inv-form-bg.png") %>') no-repeat center center;background-size: cover;min-height: 560px;height:auto">
      <div class="container">
         <div class="contact-body">
            <div class="row">
               <div class="col-md-12">
                  <h3 style="color:#FFF;text-align:center;">CONTACT US TO LEARN MORE ABOUT PRODUCING ECOTAGS</h3>
               </div>
            </div>
            <form action="/produce_tags/index" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <div class="row">
                  <div class="col-md-4">
                     <label for="name" style="color:#FFF;">NAME*</label>
                     <input type="text" class="form-control" id="name" name="name" required>
                  </div>
                  <div class="col-md-4">
                     <label for="name" style="color:#FFF;">EMAIL*</label>
                     <input type="text" class="form-control" id="email" name="email" required>
                  </div>
                  <div class="col-md-4">
                     <label for="name" style="color:#FFF;">PHONE*</label>
                     <input type="text" class="form-control" id="phone" name="phone" required>
                  </div>
              </div>
              <div class="row">
                 <div class="col-md-12">
                    <label for="subject" style="color:#FFF;">SUBJECT*</label>
                    <input type="text" class="form-control" id="subject" name="subject" required>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-12">
                    <label for="message" style="color:#FFF;">MESSAGE*</label>
                    <textarea class="form-control" rows="5" name="message" required></textarea>
                 </div>
              </div>
               <div class="row">
                  <div class="col-md-12">
                     <div class="submit-container">
                        <input type="submit" class="submit-btn" value="send message">
                     </div>
                  </div>
              </div>
        </form>
     </div>

    </div> <!-- /.content-wrap -->

  </section> <!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark" style="margin-top:-30px;">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
      <div class="container clearfix">
        <p class="center">Sustainability Partners &copy; 2016, All Rights Reserved<br></p>
      </div>
    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->
</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".home_load a, .intro_load a, .effects_load a, .index_load a, .who_we_are a").click(function() {
        window.document.location = $(this).attr("href");
    });
  });
</script>
