<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>A website user just submitted the following information to Redstone:</h3>
<p>
  <b>Name:</b> <%= @message.name %><br>
  <b>Email:</b> <%= @message.email %><br>
  <b>Phone:</b> <%= @message.phone %><br>
  <b>Subject:</b> <%= @message.subject %><br>
  <b>Message:</b> <%= @message.message %><br>
</p>
</body>
</html>