/*-----------------------------------------------------------------------------------

    Theme Name: Canvas
    Theme URI: http://themes.semicolonweb.com/html/canvas
    Description: The Multi-Purpose Template
    Author: SemiColonWeb
    Author URI: http://themeforest.net/user/semicolonweb
    Version: 2.5

    LESS Stylesheet

-----------------------------------------------------------------------------------*/

// Bootstrap core variables and mixins
@import "less/bootstrap/variables.less"; 
@import "less/bootstrap/mixins.less";

// Initialize
@import "less/variables.less";
@import "less/mixins.less";


// Core CSS
@import "less/typography.less";
@import "less/helpers.less";
@import "less/layouts.less";


// Content Blocks
@import "less/topbar.less";
@import "less/header.less";
@import "less/sliders.less";
@import "less/pagetitle.less";
@import "less/content.less";
@import "less/portfolio.less";
@import "less/blog.less";
@import "less/shop.less";
@import "less/events.less";


// Shortcodes
@import "less/shortcodes.less";


// Footer
@import "less/footer.less";


// Widgets
@import "less/widgets.less";


// Extras
@import "less/extras.less";

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

/* ----------------------------------------------------------------
    Custom Styles
-----------------------------------------------------------------*/
#primary-menu a:hover{
    color: #b4bb00 !important;
}
#logo{
    @media(min-width:992px) and (max-width:1142px){
        height: 100px;
        padding-top: 20px;
        width: 210px;
    }
}
#logo img{
    @media(min-width:992px) and (max-width:1142px){
        width: 210px;
        height: auto;
    }
    @media(max-width:767px){
        margin-left: 25px; 
        width: 250px;
        height: auto;
        margin-top: 12px;
    }
}
.header{
    position: fixed;
    top: 0;
    left: ;
}
#primary-menu-trigger{
    font-size: 26px;
}
.mobi-nav-container{
    position: fixed;
    top: 100px;
    left: 0;
    height: 100%;
    width: 100%;
    background:#000;
    text-align: center;
    z-index: 999 !important;
    padding-top: 50px;
    display: none;
    a{
        color: #FFF;
        font-size: 4vw;
    }
}
.blue-link{
    color: #009fed;
}
.blue-link:hover{
    color:#b4bb00;
}
.blue-text{
    color: #009fed;
}
.offset-icons{
    position: relative;
    width: 250px;
    height: auto;
    margin: 0 auto;
}

.purchase-btn{
    background: #009fed;
    color: #FFF;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 300px;
    height: 60px;
    border-radius: 10px;
}
.purchase-btn:hover{
    cursor: pointer;
    color: #d1eded;
}
/* ================= Home Search Bar ==================*/
.home-search-container{
    position: absolute;
    min-height: 250px;
    width: 100%;
    bottom: 0;
    @media(min-width: @screen-md) {
        min-height: 250px;
    }
}
.home-search{
    position: relative;
    z-index: 10;
    width: 100%;
    padding-top: 70px;
    @media(max-width: @screen-lg) {
        margin-top: -40px;
    }
    @media(max-width: @screen-md) {
        margin-top: -30px;
    }
    @media(max-width: @screen-sm) {
        margin-top: -30px;
    }
}
.home-search a{
    color: #FFF;
}
.home-search .fa-search{
    position: absolute;
    top: 52px;
    right: 27px;
    font-size: 35px;
    background: #b4bb00;
    height: 41px;
    width: 50px;
    padding-left: 10px;
}
.home-search .fa-search:hover{
    cursor: pointer;
}
.home-search #home-search-label{
    font-size: 24px;
    color: #FFF !important;
    text-align: center;
    background: none;
    border:none;
    @media(max-width: @screen-sm) {
        font-size: 20px;
    }
}
.home-search #home-search-label:hover{
    cursor: default;
}
.home-search input{
    background: #b4bb00 !important;
    height: 53px;
    border-radius: 30px;
    font-size:28px !important;
    color: #FFF !important;
    padding-left: 50px !important;
    padding-bottom: 10px;
    border:none !important;
}
/* ================= Home Search Bar ==================*/
/* ================= Audience Section ==================*/
.learn-more-btn {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #009fed;
    border-radius: 10px;
    color: #FFF;
    font-size: 24px;
}
.learn-more-btn:hover {
    color: #e1eded;
}
.section-2{
    z-index: 99;
    position: relative;
    height: auto;
    min-height: 600px;
    @media(max-width: @screen-sm) {
        margin-top: -60px !important;
    }
    @media(max-width: @screen-md) {
        margin-top: -60px !important;
    }
    @media(max-width: @screen-lg) {
        margin-top: -60px !important;
    }
}
.section-2 h2{
    font-size: 30px;
    text-transform: uppercase;
    color: #FFF;
}
.section-2-container{
}
.revenue-content{
    color: #FFF;
    padding: 100px 25px 25px 25px;
    min-height: 500px;
    width: auto;
    max-width: 600px;
    position: relative;
    margin: 0 auto;
    font-size: 20px;
    @media(max-width: @screen-md) {
        width: 100%;
    }
}
.revenue-top{
    min-height: 350px;
    max-height: 480px;
}
.revenue-streams{
    position: relative;
    float: left;
    width: 50%;
    height: auto;
    @media(max-width: @screen-md) {
        width: 100%;
    }
}
#revenue-divider{
    height: 2px;
    width: 55px;
    border: 1px solid #FFF;
}
.invest{
    position: relative;
    float: right;
    width: 50%;
    height: auto;
    @media(max-width: @screen-md) {
        width: 100%;
    }
}
.invest-top{
    min-height: 350px;
    max-height: 500px;
}
.invest-content{
    color: #FFF;
    padding: 100px 25px 25px 25px;
    min-height: 500px;
    width: auto;
    max-width: 600px;
    position: relative;
    margin: 0 auto;
    font-size: 20px;
    @media(max-width: @screen-md) {
        width: 100%;
    }
}
#invest-divider{
    height: 2px;
    width: 55px;
    border: 1px solid #FFF;
}
/* ================= End Audience Section ==================*/
/* ================= News Section ==================*/
.read-more-btn{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #009fed;
    border-radius: 5px;
    color: #009fed;
    font-size: 12px;
}
.read-more-btn:hover {
    color: #b4bb00;
    border: 1px solid #b4bb00;
}
.news{
    width: auto;
    height: auto;
    min-height: 400px;
}
.news h2{
    color: #b4bb00 !important;
}
.news-head{ 
    margin-top:100px !important;
    width: auto;
    height: auto;
    min-height: 60px;
    @media(max-width: @screen-sm) {
        margin-top: 30px !important;
    }
}
.news-head p{
    color: #00b033 !important;
}
.news hr{
    border-color: #00b033;
    width: 100%;
}
.news-container{
    width: 90%;
    position: relative;
    margin: 0 auto;
    background: #333;
    @media(min-width: @screen-md) {
        width: 70%;
    }
}
.news-header{
    min-height: 100px;
    color: #00b033;
    text-transform: uppercase;
    width: auto;
    position: relative;
    background: #FFF;
}
#news-left{
    font-size: 33px;
    font-weight: 600;
    letter-spacing: .02em;
    position: relative;
    float: left;
    margin-top: 75px;
    font-family: @mega-menu-title;
    @media(max-width: @screen-md) {
        font-size: 20px;
    }
}
#news-right{
    font-size: 14px;
    position: relative;
    float: right;
    margin-top: 100px;
    font-family: @primary-menu-font;
    @media(max-width: @screen-md) {
        font-size: 14px;
        margin-top: 75px;
    }
}
.article-container{
    min-height: 150px;
    @media(max-width: @screen-md) {
        min-height: 225px;
    }
    @media(max-width: @screen-sm) {
        min-height: 50px;
        padding-top: 25px;
    }
}
.news-body{
    position: relative;
}
.news-desc{
    color: #77787a;
    font-size: 20px;
}
/* ================= End News Section ==================*/
/* ================= End Welcome Page ==================*/

/* ================= Buy Tags Page ==================*/
.buy-header p{
   font-size: 20px;
   font-family: @body-font !important;
   font-weight: 200;
}
.buy-header h2{
   font-family: @heading-font !important;
   font-weight: 500;
}
.search-section{
    background: #000;
    min-height: 150px;
}
.search-section-content{
    padding-top: 50px;
}
.search-section-content label{
    font-size: 16px;
    color: #FFF;
    padding-right: 10px;
}
.filters-container{

}
.page-container{
    width: 100%;
    height: 100px;
    position: relative;
    text-align: center;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    z-index: 99;
}
.page-container a{
    color: #009fed !important;
}
.page-container a:hover{
    color: #333 !important;
}
.pagination{
    width: auto;
    height: auto;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.tags{
    font-size: 20px;

    @media(max-width: @screen-sm) {
        margin-top: -410px;
    }
    @media(max-width: @screen-xs) {
        margin-top: -610px;
    }
}
.tags-c{
    font-size: 20px;
}
/* ================= End Buy Tags Page ==================*/

/* ================= Show Tags Page ==================*/
.return-search{
    color: #009fed !important;
    font-size: 20px;
}
.return-search a{
    color: #009fed !important;
}
.return-search a:hover{
    color: #888 !important;
}

.summ-wrapper{
    width: 100%;
    height: auto;
    min-height: 300px;
    font-family: @price-font;
    font-weight: bold;
}
.cert-logo{
    padding-top: 75px;
    float: left;
    padding-right: 25px;
    @media(max-width: @screen-md) {
        width: 130px;
        padding-top: 50px;
    }
    @media(max-width: @screen-sm) {
        width: 110px;
    }
    @media(max-width: @screen-xs) {
        width: 100px;
    }
}
.tag-count{
    padding-top: 35px;
    float: left;
    color: #b4bb00;
    font-size: 126px;
    font-weight: bold;
    @media(max-width: @screen-md) {
        font-size: 80px;
    }
    @media(max-width: @screen-sm) {
        font-size: 60px;
    }
}
.tag-count-title{
    float: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #333;
    margin-top: -35px;
    @media(max-width: @screen-md) {
        font-size: 16px;
        margin-top: -25px;
    }
}
.price{
    float: left;
    width: 100%;
    height: 110px;
    font-size: 60px;
    color: #999;
    text-transform: uppercase;
    @media(max-width: @screen-md) {
        font-size: 45px;
    }
    @media(max-width: @screen-sm) {
        font-size: 35px;
    }
}
.buy-btn{
    float: left;
    width: 100%;
    max-height: 100px;
}
.overview{
    padding-top: 75px;
    font-size: 22px;
}
.overview tr{
    padding: 25px !important;
}
.stat-img{
    height: 110px;
    width: 150px;
    margin: 0 auto;
}
.stats{
    font-family: @mega-menu-title;
    font-size: 60px;
    margin-left: -40px;
    margin-top: -25px;
    color: #fff;
}
.small-stats{
    font-size: 24px;
    margin-left: -40px;
    color: #fff;
    font-weight: normal !important;
    text-transform: uppercase;
}
#stat-divider{
    height: 2px;
    width: 55px;
    border: 1px solid #FFF;
    margin: 0 auto;
}
.right-border{
    height: 150px;
    width: 1px;
    position: absolute;
    right: 0;
    top: 50px;
    background: #d1eded;
    @media(max-width: @screen-sm) {
        display: none; 
    }
}
.land-stats-container{
    height: auto;
    width: 100%;
    max-width: 400px;
    z-index: 999;
    font-size: 35px;
    color: #ccc;
    text-transform: uppercase;
}
.land-stats-a{
    margin-top: 0px;
    background: #444;
    border-bottom: 2px solid #FFF;
    padding-left: 25px;
    width: 100%;
}
.land-stats-e{
    margin-top: 0;
    background: #444;
    padding-left: 25px;
    width: 100%;
}
.accordion-wrapper{
    width: 95%;
    height: auto;
    margin: 0 auto;
}
.accordion-header1{
    color: #222;
    font-size: 22px;
    font-weight: bold;
}
.accordion-header1:hover{
    color: #888;
    cursor:pointer;
}
.accordion-body1{
    width: 90%;
    margin-left: 10%;
    height: auto;
    min-height: 200px;
    font-size: 18px;
    display: none;
}

.accordion-header2{
    color: #222;
    font-size: 22px;
    font-weight: bold;
}
.accordion-header2:hover{
    color: #888;
    cursor:pointer;
}
.accordion-body2{
    width: 90%;
    margin-left: 10%;
    height: auto;
    min-height: 200px;
    font-size: 18px;
    display: none;
}
.references{
    margin-top: 75px;
}
.ref-header{
    color: #b4bb00;
    font-size: 24px;
    text-transform: uppercase;
    font-family: @price-font;
}
.ref-body{
    font-size: 16px;
}
.ref-body a{
    color: #333;
    text-decoration: underline !important;
}
.ref-body a:hover{
    color: #00b033;
}
/* ================= End Show Tags Page ==================*/

/* ================= Checkout Page ==================*/
.subtotal-container{
    height: 100px;
}
.total-container{
    margin-top:30px;
    height: 200px;
}
.total-bg{
    margin-top:-55px; 
    padding-top: 50px;
    min-height:600px; 
    height: 100%;
    width:100%;
}
/* ================= End Checkout Page ==================*/

/* ================= Produce Eco-tags Page ==================*/
.produce-head{
    background:#009fed;
    font-size: 30px;
    font-weight: 100;
    color: #FFF;
    min-height: 300px;
    @media(max-width: @screen-lg) {
        margin-top: -56px;
        padding-top: 50px;
    }
    @media(min-width: @screen-lg) {
        margin-top: -56px;
        padding-top: 56px;
    }
}
.produce-head-content{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    text-align: left;
}
.cert-body{
    background:#333333;
    font-size: 30px;
    font-weight: 100;
    color: #FFF;
    text-align: center;
    min-height: 300px;
    width: 100%;
    @media(max-width: @screen-lg) {
        margin-top: -56px;
        padding-top: 50px;
    }
    @media(min-width: @screen-lg) {
        margin-top: -56px;
        padding-top: 56px;
    }
}
.cert-badge{
    position: relative;
    height: 235px;
    width: 235px;
    float:left;
    margin-left:-140px; 
    margin-top:10px;
    @media(max-width: @screen-lg) {
        margin-left:5px; 
    }
    @media(max-width: @screen-sm) {
        margin-left:100px; 
    }
    @media(max-width: @screen-xs) {
        margin-left:30px; 
    }
}
.cert-badge-buy{
    position: relative;
    height: 235px;
    width: 235px;
    float:right;
    margin-right:-135px; 
    margin-top:10px;
    z-index: 99;
    @media(max-width: @screen-lg) {
        margin-right:-50px; 
        margin-top: -20px;
    }
    @media(max-width: @screen-sm) {
        margin-right: 20%;
        margin-left: auto; 
        margin-top: 50px;
    }
    @media(max-width: @screen-xs) {
        margin-left:auto;
        margin-right: 10%; 
    }
}
.cert-p{
    position: relative;
    height: auto;
    width: 90%;
    float:left;
    text-align: left;
    margin-left:140px; 
    margin-top:-200px;
    font-weight:100;
    @media(max-width: @screen-lg) {
        margin-left:250px; 
        width: 80%;
    }
    @media(max-width: @screen-sm) {
        margin-left:0px; 
        margin-top: 25px;
        width: 100%;
    }
}
.cert-p-buy{
    position: relative;
    height: auto;
    width: 90%;
    float:left;
    margin-left:-50px; 
    font-weight:100;
    text-align: left;
    @media(max-width: @screen-lg) {
        margin-left:-50px; 
        width: 80%;
    }
    @media(max-width: @screen-sm) {
        margin-left:0px; 
        margin-top: 25px;
        width: 100%;
    }
}
.produce-body{
    background:#e6e6e6;
    min-height: 400px;
 }
 .contact-container{
    height: auto;
    width: 100%;
 }
 .contact-container input{
    background: #292929;
    border: 1px solid #4d4d4d;
    border-radius: none !important;
    color: #FFF;
    font-size: 24px;
    height: 40px;
 }
 .contact-container textarea{
    background: #292929;
    border: 1px solid #4d4d4d;
    color: #FFF;
    font-size: 24px;
    border-radius: none !important;
}
 .contact-body{
    margin-top: 75px;
 }
 .show-small{
    display: none;
    @media(max-width: @screen-md) {
        display: block;
    }
 }
 .hide-small{
    @media(max-width: @screen-md) {
        display: none;
    }
 }
 .hide-med{
    @media(max-width: @screen-lg) {
        display: none;
    }
 }
/* ================= End Produce Eco-tags Page ==================*/


/* ================= How it Works Page ==================*/
.how-sub{
    position: relative;
    min-height: 75px;
    margin-top: -67px;
    padding-top: 5px;
}
.how-sub li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: @mega-menu-title;
    margin-top: 20px;
    border-right:1px solid #777;
    @media(max-width: @screen-md) {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #777;
        padding-bottom: 15px;
    }
}
.how-sub a{
    color: #009fed;
}
.how-sub a:hover{
    color: #FFF;
}
.sub-nav-container{
    width: 100%;
    height: auto;
    min-height: 75px;
    background: #343b3b;
    z-index: 99;
    margin-top: -57px;
}
.sub-nav-how{
    height: 75px;
}
.sub-nav-how li{
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-family: @mega-menu-title;
    padding-right: 20px;
    padding-top: 7px;
    height: 35px;
    margin-top: 20px;
    z-index: 99;
}
.sub-nav-how a{
    color: #009fed !important;
}
.sub-nav-how a:hover{
    color: #FFF !important;
}
.whatis-head{
    background:#009fed;
    font-size: 30px;
    font-weight: 100;
    color: #FFF;
    min-height: 250px;
    @media(max-width: @screen-lg) {
        margin-top: -56px;
        padding-top: 50px;
    }
    @media(min-width: @screen-lg) {
        margin-top: -56px;
        padding-top: 56px;
    }
}
.whatis-head-content{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

.fixed-left{
    color: #FFF;
    padding: 100px 25px 25px 25px;
    min-height: 500px;
    width: auto;
    max-width: 600px;
    position: relative;
    margin: 0 auto;
    font-size: 20px;
    @media(max-width: @screen-md) {
        width: 100%;
    }
}
.fixed-left-content{
    position: relative;
    float: left;
    width: 50%;
    height: auto;
    @media(max-width: @screen-md) {
        width: 100%;
    }
}

.fixed-right{
    position: relative;
    float: right;
    width: 50%;
    height: auto;
    @media(max-width: @screen-md) {
        width: 100%;
    }
}
.fixed-right-content{
    color: #FFF;
    padding: 100px 25px 25px 25px;
    min-height: 500px;
    width: auto;
    max-width: 600px;
    position: relative;
    margin: 0 auto;
    font-size: 20px;
    @media(max-width: @screen-md) {
        width: 100%;
    }
}
.black-bar{
    width: 100%;
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #343b3b;
    color: #FFF;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    @media(max-width: @screen-md) {
        min-height: 250px;
    }
}
/* ================= End How it Works Page ==================*/

/* ================= Marketing Page ==================*/
/* ================= Member Navigation ==================*/
.member-options {
    border: none !important;
    width: auto;
}
.member-options li{
    width: auto !important;
}
.sub-nav-container{
    margin-top: -5px;
}
.sub-nav-m{
    height: 65px;
}
.sub-nav-m li{
    display: inline-block;
    text-transform: uppercase;
    font-family: @mega-menu-title;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 3px;
    height: 30px;
    margin-top: 20px;
    border-right: 1px solid #777;
}
.sub-nav-m a{
    color: #009fed;
    font-weight: 500;
    font-size: 16px;
    margin-top: -10px;
}
.sub-nav-m a:hover{
    color: #b9c7c7 !important;
}
.sub-nav-m .active a{
    color: #b9c7c7 !important;
}
/* ================= End Member Navigation ==================*/
.view-all{
    font-size: 16px !important;
    float: right;
    font-family: @body-font !important;
}
.view-all a{
    color: #444 !important;
}
.view-all a:hover{
    color: #00b033 !important;
}
.pr-release{
    padding: 75px;
    color: #FFF !important;
    font-size:20px;
    font-weight:500;
    position: relative;
}
.view-all-pr{
    font-size: 16px !important;
    float: right;
    font-family: @body-font !important;
}
.view-all-pr a{
    color: #FFF !important;
}
.view-all-pr a:hover{
    color: #00b033 !important;
}
.pr-p a:hover{
    color: #FFF !important;
}
.pr-release .pr-sample{
    position: relative;
    bottom: -75px;
}
.images-group{
    position: relative;
    bottom: -84px;
}

.receive-text{
    color: #FFF;
    font-size: 27px;
    font-weight: lighter;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
}
.buyer-cert-badge{
    float: left;
    padding-left: 50px;
    width: 27%;
    padding-top: 15px;
}
.stacked-logo{
    float: left;
    border-right: 1px solid #b9c7c7; 
    height: 200px;
    padding-left: 150px;
    padding-top: 15px;
    padding-right: 50px;
}
.more-btn{
    font-size: 23px;
    border: 2px solid #FFF;
    color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: .1em;
}
/* ================= End Marketing Section ==================*/

/* ================= Random Settings ==================*/

/* ================= Select Box Settings ==================*/
@media(max-width: @screen-lg) {
    .hsm{
        display: none;
    }
}
@media(max-width: @screen-md) {
    .hsm{
        display: block;
    }
}
.submit-container{
    height: 50px;
    width: 275px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    padding-bottom: 75px;
}
.submit-btn{
    background: #009fed !important;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    height: 45px !important;
    width: 275px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 15px;
    font-size: 17px !important;
    border:none !important;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}
.submit-btn:hover{
    color: #e1eded !important;
}

 .selector-contaniner{
    height: 50px;
    width: 315px;
    border:none;
    position: relative;
    left: -100px;

    @media(max-width: @screen-lg) {
        left: -50px;
    }

    @media(max-width: @screen-md) {
        left: 1px;
    }
 }
 .selector-label{
    position: relative;
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
    padding-right: 10px;
    text-transform: uppercase;
    padding-top: 10px;
    float: left;
    width: 50px;
 }
 .selector-box{
    position: relative;
    float: right;
    background: #FFF;
    border-radius: 7px;
    height: 40px;
    width: 235px;
    margin-right: 20px;
 }
 .selector-box:hover{
    cursor: pointer;
}
 .down-arrow{
    float: right;
   font-size: 32px;
   font-weight: 200;
   color:#333;
   margin-top: -5px;
   margin-right: 15px;
   height: 40px;
   width: 7%;
   z-index: 10;
 }
 .down-arrow:hover{
    cursor: pointer;
}
.option-container{
    height: auto;
    width: 235px;
    background: #FFF;
    border: 1px solid #777;
    position: absolute;
    margin-top: 38px;
    z-index: 999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}
.options{
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ccc;
    color: #999;
}
.options:hover{
    background: #eee;
    color: #000;
    cursor: pointer;
}
.selected{
    font-size: 20px;
    padding-left: 15px;
    padding-top: 5px;
    float: left;
    width: 195px;
    height: 40px;
    border-right: 1px solid #333;
} 

 .selector-contaniner2{
    height: 50px;
    width: 330px;
    border:none;
    position: relative;
    left: -60px;

    @media(max-width: @screen-lg) {
        left: 30px;
    }

    @media(max-width: @screen-md) {
        left: 15px;
    }
 }
 .selector-label2{
    position: relative;
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
    padding-right: 20px;
    text-transform: uppercase;
    padding-top: 10px;
    float: left;
    width: 50px;
    margin-left: -15px;
 }
 .selector-box2{
    position: relative;
    float: right;
    background: #FFF;
    border-radius: 7px;
    height: 40px;
    width: 235px;
    margin-right: 20px;
 }
 .selector-box2:hover{
    cursor: pointer;
}
 .down-arrow2{
    float: right;
   font-size: 32px;
   font-weight: 200;
   color:#333;
   margin-top: -5px;
   margin-right: 15px;
   height: 40px;
   width: 7%;
   z-index: 10;
 }
 .down-arrow2:hover{
    cursor: pointer;
}
.option-container2{
    height: auto;
    width: 235px;
    background: #FFF;
    border: 1px solid #777;
    position: absolute;
    margin-top: 38px;
    z-index: 999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}
.options2{
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ccc;
    color: #999;
}
.options2:hover{
    background: #eee;
    color: #000;
    cursor: pointer;
}
.selected2{
    font-size: 20px;
    padding-left: 15px;
    padding-top: 5px;
    float: left;
    width: 195px;
    height: 40px;
    border-right: 1px solid #333;
} 



 .selector-contaniner3{
    height: 50px;
    width: 330px;
    border:none;
    position: relative;

    @media(max-width: @screen-lg) {
        left: 115px;
    }

    @media(max-width: @screen-md) {
        left: 3px;
    }
 }
 .selector-label3{
    position: relative;
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
    padding-right: 20px;
    text-transform: uppercase;
    padding-top: 10px;
    float: left;
    width: 50px;
    margin-left: -1px;
 }
 .selector-box3{
    position: relative;
    float: right;
    background: #FFF;
    border-radius: 7px;
    height: 40px;
    width: 235px;
    margin-right: 20px;
 }
 .selector-box3:hover{
    cursor: pointer;
}
 .down-arrow3{
    float: right;
   font-size: 32px;
   font-weight: 200;
   color:#333;
   margin-top: -5px;
   margin-right: 15px;
   height: 40px;
   width: 7%;
   z-index: 10;
 }
 .down-arrow3:hover{
    cursor: pointer;
}
.option-container3{
    height: auto;
    width: 235px;
    background: #FFF;
    border: 1px solid #777;
    position: absolute;
    margin-top: 38px;
    z-index: 999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}
.options3{
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ccc;
    color: #999;
}
.options3:hover{
    background: #eee;
    color: #000;
    cursor: pointer;
}
.selected3{
    font-size: 20px;
    padding-left: 15px;
    padding-top: 5px;
    float: left;
    width: 195px;
    height: 40px;
    border-right: 1px solid #333;
} 
#active{
    background: #FFF !important;
    color: #000 !important;
}

/* ================= Select Box Settings ==================*/

#up25{
    margin-top: -25px;
}
.green-header{
    color: #b4bb00;
    text-transform: uppercase;
    font-size: 30px;
}
.green-text{
    color: #b4bb00;
}
.black-text{
    color: #000;
}
.font16{
    font-size: 16px;
}
.font18{
    font-size: 18px;
}
.font20{
    font-size: 20px;
}
.font22{
    font-size: 22px;
}
.font24{
    font-size: 24px;
}
.text-underline{
    text-decoration: underline;
}
.pad-25-left{
    padding-left: 25px;
}
.pad-50-left{
    padding-left: 50px;
}
.pages{
    padding-left: 15px;
}
.pages:hover{
    cursor: pointer;
    color: #00b033;
}
#go-bottom{
    z-index: 9999;
}
.float-right{
    float: right;
}
thead{
    border-color: #00b033 !important;
}

.new-table th{
    border-bottom: 1px solid #ddd !important;
}
.lg-left{
    margin-left: 15%;
    @media(max-width: @screen-md) {
        margin-left: 0;
    }
}
#footer{
    border-top:5px solid #343b3b !important;
    color: #92a1a1 !important;
}
#copyrights{
    color: #92a1a1 !important;
    background-color: #343b3b !important;
}
.no-top-border{
    border-top: 0px !important;
}
.eco-example{
    font-size: 20px;
    color: #000;
}
.content-p{
    margin-top: -115px;
    @media(max-width:767px){
        margin-top: 0;
    }
}
/* ================= End Random Settings ==================*/
.move-right{
}
.main-banner {
    @media(min-width: @screen-md) {
        .heading-block {
            padding-top: 180px;
            padding-bottom: 200px;
        }
        .caption-tite {
            font-size: 60px;
        }
    }
}
@media(max-width: @screen-xs) {
    body.stretched #header.full-header .container {
        width: 100% !important;
    }
}
/* ==============================
        J Scroller Settings
        ==================================== */
        .counter{
            color:#222;
         }
         .slide-container{
            min-height: 650px;
            position: relative;
         }
         .window{
            min-height: 650px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background:#fff;
         }
         .left-pane{
            height: 650px;
            background: url(step-1-bg.png)no-repeat center center;
            background-size: cover;
            padding: 0;
            margin: 0;
         }
         .left-content{
            position: absolute;
            z-index: 5
         }
         .left-bg-2{
            display: none;
            height: 650px;
            width: 100%;
            z-index: 2;
         }
         .left-bg-3{
            display: none;
            height: 650px;
            width: 100%;
            background: url(/assets/step-3-bg.png)no-repeat center center;
            background-size: cover;
            z-index: 2;
         }
         .left-bg-4{
            display: none;
            height: 650px;
            width: 100%;
            background: url(/assets/step-4-bg.png)no-repeat center center;
            background-size: cover;
            z-index: 2;
         }
         .left-bg-5{
            display: none;
            height: 650px;
            width: 100%;
            background: url(/assets/step-5-bg.png)no-repeat center center;
            background-size: cover;
            z-index: 2;
         }
         .left-bg-6{
            display: none;
            height: 650px;
            width: 100%;
            background: url(/assets/step-6-bg.png)no-repeat center center;
            background-size: cover;
            z-index: 2;
         }
         .left-bg-7{
            display: none;
            height: 650px;
            width: 100%;
            background: url(/assets/step-7-bg.png)no-repeat center center;
            background-size: cover;
            z-index: 2;
         }
         .left-bg-8{
            display: none;
            height: 650px;
            width: 100%;
            background: url(/assets/step-8-bg.png)no-repeat center center;
            background-size: cover;
            z-index: 2;
         }
         .left-header{
            font-size: 28px;
            color: #FFF;
            text-transform: uppercase;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            padding-top: 50px;
         }
         .left-page{
            height: 248px;
            width: 248px;
            background:url(/assets/step-1.png);
            position: relative;
            top: 100px;
            margin-left: auto;
            margin-right: auto;
         }
         .left-page-2{
            height: 248px;
            width: 248px;
            background:url(/assets/step-2.png);
            position: relative;
            top: 100px;
            margin-left: auto;
            margin-right: auto;
            display: none;
         }
         .left-page-3{
            height: 248px;
            width: 248px;
            background:url(/assets/step-3.png);
            position: relative;
            top: 100px;
            margin-left: auto;
            margin-right: auto;
            display: none;
         }
         .left-page-4{
            height: 248px;
            width: 248px;
            background:url(/assets/step-4.png);
            position: relative;
            top: 100px;
            margin-left: auto;
            margin-right: auto;
            display: none;
         }
         .left-page-5{
            height: 248px;
            width: 248px;
            background:url(/assets/step-5.png);
            position: relative;
            top: 100px;
            margin-left: auto;
            margin-right: auto;
            display: none;
         }
         .left-page-6{
            height: 248px;
            width: 248px;
            background:url(/assets/step-6.png);
            position: relative;
            top: 100px;
            margin-left: auto;
            margin-right: auto;
            display: none;
         }
         .left-page-7{
            height: 248px;
            width: 248px;
            background:url(/assets/step-7.png);
            position: relative;
            top: 100px;
            margin-left: auto;
            margin-right: auto;
            display: none;
         }
         .left-page-8{
            height: 248px;
            width: 248px;
            background:url(/assets/step-8.png);
            position: relative;
            top: 100px;
            margin-left: auto;
            margin-right: auto;
            display: none;
         }
         .right-pane{
            height: 650px;
         }
         .right-page{
            position: relative;
            height: 40px;
            width: 30px;
            border-bottom: 2px solid #b4bb00;
            color: #000;
            font-size: 28px;
            padding-left: 6px;
            margin-left: 30px;
            margin-top: 50px;
         }
         .right-body{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            font-size: 30px;
            color: #555555;
            padding-top: 100px;
            font-weight: 100;
         }
         #down{
            height: 45px;
            width: 140px;
            position: absolute;
            bottom: 30px;
            left: 45%;
            display: none;
         }
         #down:hover{
            cursor: pointer;
         }
         #up{
            height: 45px;
            width: 140px;
            position: absolute;
            top: 30px;
            left: 45%;
             -ms-transform: rotate(180deg); /* IE 9 */
             -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
             transform: rotate(180deg);
             display: none;
         }
         #up:hover{
            cursor: pointer;
         }
/* ==============================
        End J Scroller Settings
        ==================================== */


/* ============ Safari Fix for How it works sub nav ========== */
@supports (overflow:-webkit-marquee) and (justify-content:inherit) 
{

  .saf-fix {
    margin-top: -25px !important;
  }

}
_::-webkit-full-page-media, _:future, :root .saf-fix {

  margin-top: -25px !important; 

}
