

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Header
  ============================================= -->
  <header id="header" class="full-header">
    <div id="header-wrap">
      <div class="container clearfix">
        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
        <!-- Logo
        ============================================= -->
        <div id="logo" class="move-right">
         <a href='/' data-no-turbolink class="standard-logo" data-dark-logo="<%= image_path("logo-ecocredits.png") %>">
            <%= image_tag("logo-ecopractices.png", {:class=>"img-responsive"}) %>
          </a>
          <a href="#" class="retina-logo" data-dark-logo="<%= image_path("logo-ecocredits@2x.png") %>">
            <%= image_tag("logo-ecocredits@2x.png", {:class=>"img-responsive"}) %>
          </a>
        </div><!-- #logo end -->
        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu">
          <ul>
            <li class="who_we_are"><%= link_to 'WHO WE ARE', controller: 'who_we_are' %></li>
            <li class="how_it_works_load"><%= link_to 'HOW IT WORKS', controller: 'how_it_works' %></li>
            <li class="produce_tag_load current"><%= link_to 'PRODUCE ECOTAGS', controller: 'produce_tags' %></li>
            <li class="buy_tag_load"><%= link_to 'BUY ECOTAGS', controller: 'buy_tags' %></li>
          </ul>
          <ul style="border: none;">
            <li><a href="https://producer.ecocredits.me/user/register"><i class="fa fa-lock" style="color: #b4bb00; font-size: 18px !important;"></i> &nbsp;LOGIN</a></li>
          </ul>
        </nav><!-- #primary-menu end -->
      </div>
    </div>
  </header><!-- #header end -->

<!-- Flash Notice
  ============================================= -->
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value.html_safe %></div>
    <% end %>
  </div><!-- #Notice end -->

  
  <!-- Content
  ============================================= -->
  <section id="content">

    <div class="content-wrap">

      <div class="main-banner section parallax dark nobottommargin header-stick notopborder" style="background: url('<%= image_path("show-head.png") %>') no-repeat center center;background-size: cover;height: 250px;" data-stellar-background-ratio="0.3">
        <div class="container clearfix">
          <div class="buy-header">
            <h2>PRODUCE ECOTAGS</h2>
            <p id="up25">The process for purchasing Ecotags</p>
          </div>
        </div>
      </div>
      
      <div class="produce-head">
         <div class="container clearfix">
            <div class="row">
               <div class="col-lg-12">
                  <div class="produce-head-content">
                   <p style="text-align:left;">By producing Ecotags, you can now add additional revenue streams to your enterprise by simply changing a few management practices that have a positive effect on the environment or enter your sustainable practices that you already have implemented.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="container" style="margin-top:50px;">
         <div class="row">
            <div class="col-md-6">
               <h2 style="color:#b4bb00; font-size:32px;">HOW TO PRODUCE ECOTAGS</h2>
               <div id="revenue-divider" style="border: 1px solid #222;width: 40px;"></div>
               <br />
               <p style="color:#555555; font-size:28px;font-weight:200;">First, a producer can define and store their fields in our database.</p>
            </div>

            <div class="col-md-6">
               <%= image_tag("field-map.png", {:'data-animate'=>"fadeInRightBig"}) %>
            </div>
        </div>
     </div>

     <div class="produce-body">
        <br />
        <div class="container" style="margin-top:50px;padding-bottom:2px;">
           <div class="row">
            <div class="col-md-6 show-small">
               <p style="color:#555555; font-size:28px;font-weight:200;">Producers can then add pre-defined sustainable practices along with verifiable data to prove it.</p>
            </div>
            <div class="col-md-6">
               <%= image_tag("form-img.png", {:'data-animate'=>"fadeInLeftBig"}) %>
            </div>
            <div class="col-md-6 hide-small">
               <p style="color:#555555; font-size:28px;font-weight:200;">Producers can then add pre-defined sustainable practices along with verifiable data to prove it.</p>
            </div>
           </div>
         </div>
      </div>
      
      <div class="produce-head" style="margin-top:-1px; padding-bottom:2px;">
         <div class="container clearfix">
            <div class="row">
               <div class="col-lg-8">
                  <div class="produce-head-content">
                     <p style="margin-top:50px;font-weight:200; text-align:left;">EcoPractices then reviews the practice to ensure it is accurate and can be validated.
                  </div>
               </div>
               <div class="col-lg-4 hide-med" style="background: url('<%= image_path("computer-bg.png") %>') no-repeat center center;background-size: cover;height: 360px; margin-top:-56px;">
                  
               </div>
            </div>
         </div>
      </div>
      
      <div class="cert-body" style="margin-top:-2px;">
         <div class="container clearfix">
            <div class="row">
               <div class="col-lg-5 hide-med" style="background: url('<%= image_path("stamp.png") %>') no-repeat center center;background-size: cover;height: 360px; margin-top:-56px;">
               <br />
               </div>
               <div class="col-lg-7">
                  <div class="produce-head-content">
                     <%= image_tag("cert-badge.png", {:class=>"img-responsive cert-badge"}) %>
                     <p class="cert-p">Once approved, the practice is then listed for sale on our site for buyers to purchase as Ecotags per practice per field.
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="container" style="margin-top:50px;">
         <div class="row">
            <div class="col-md-6">
              <br />
              <br />
               <p style="color:#555555; font-size:28px;font-weight:200;">Buyers will be able to search for your sustainable practices by practice type, by state, and by environmental impact. All personal data is kept strictly anonymous and will not be displayed.</p>
            </div>

            <div class="col-md-6">
               <%= image_tag("tag-detail.png", {:'data-animate'=>"fadeInRightBig"}) %>
            </div>
        </div>
     </div>

     <div class="contact-container" style="background: url('<%= image_path("contact-bg.png") %>') no-repeat center center;background-size: cover;min-height: 560px;height:auto">
      <div class="container">
         <div class="contact-body">
            <div class="row">
               <div class="col-md-12">
               <h3 style="color:#FFF;text-align:center;">CONTACT US TO LEARN MORE ABOUT PRODUCING ECOTAGS</h3>
               </div>
            </div>
            <form action="/produce_tags/index" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <div class="row">
                  <div class="col-md-4">
                     <label for="name" style="color:#FFF;">NAME*</label>
                     <input type="text" class="form-control" id="name" name="name" required>
                  </div>
                  <div class="col-md-4">
                     <label for="name" style="color:#FFF;">EMAIL*</label>
                     <input type="text" class="form-control" id="email" name="email" required>
                  </div>
                  <div class="col-md-4">
                     <label for="name" style="color:#FFF;">PHONE*</label>
                     <input type="text" class="form-control" id="phone" name="phone" required>
                  </div>
              </div>
              <div class="row">
                 <div class="col-md-12">
                    <label for="subject" style="color:#FFF;">SUBJECT*</label>
                    <input type="text" class="form-control" id="subject" name="subject" required>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-12">
                    <label for="message" style="color:#FFF;">MESSAGE*</label>
                    <textarea class="form-control" rows="5" name="message" required></textarea>
                 </div>
              </div>
               <div class="row">
                  <div class="col-md-12">
                     <div class="submit-container">
                        <input type="submit" class="submit-btn" value="send message">
                     </div>
                  </div>
              </div>
            </form>
         </div>
        </div>
     </div>

    </div> <!-- /.content-wrap -->

  </section> <!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark" style="margin-top:-80px;">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
      <div class="container clearfix">
        <p class="center">Sustainability Partners &copy; 2016, All Rights Reserved<br></p>
      </div>
    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->
</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".buy_tag_load a, .produce_tag_load a, .how_it_works_load a, .who_we_are a").click(function() {
        window.document.location = $(this).attr("href");
    });
  });
</script>
