

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Header
  ============================================= -->
  <header id="header" class="full-header">
    <div id="header-wrap">
      <div class="container clearfix">
        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
        <!-- Logo
        ============================================= -->
        <div id="logo" class="move-right">
         <a href='/' data-no-turbolink class="standard-logo" data-dark-logo="<%= image_path("logo-ecocredits.png") %>">
         <%= image_tag("logo-ecopractices.png", {:class=>"img-responsive"}) %>
          </a>
          <a href='/' data-no-turbolink class="retina-logo" data-dark-logo="<%= image_path("logo-ecocredits@2x.png") %>">
            <%= image_tag("logo-ecocredits@2x.png", {:class=>"img-responsive"}) %>
          </a>
        </div><!-- #logo end -->
        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu">
          <ul>
            <li class="who_we_are"><%= link_to 'WHO WE ARE', controller: 'who_we_are' %></li>
            <li><%= link_to 'HOW IT WORKS', controller: 'how_it_works' %></li>
            <li class="current"><%= link_to 'TRACK ECOTAGS', controller: 'track_tags' %></li>
            <li><%= link_to 'PRODUCE ECOTAGS', controller: 'produce_tags' %></li>
            <li><%= link_to 'BUY ECOTAGS', controller: 'buy_tags' %></li>
          </ul>
          <ul style="border: none;">
            <li><a href="https://producer.ecocredits.me/user/register"><i class="fa fa-lock" style="color: #b4bb00; font-size: 18px !important;"></i> &nbsp;LOGIN</li>
          </ul>
        </nav><!-- #primary-menu end -->
      </div>
    </div>
  </header><!-- #header end -->


  <!-- Content
  ============================================= -->
  <section id="content">

    <div class="content-wrap">

      <div class="main-banner section parallax dark nobottommargin header-stick notopborder" style="background: url('<%= image_path("track-head.png") %>') no-repeat center center;background-size: cover;height: 250px;" data-stellar-background-ratio="0.3">
        <div class="container clearfix">
          <div class="buy-header">
            <h2 style="color:#000;">ECOTAG CERTIFICATE - #48934</h2>
            <p id="up25">This Ecotag is Available for Purchase</p>
          </div>
        </div>
      </div>
      <div class="total-bg" style="background: url('<%= image_path("company-bg.png") %>') no-repeat center center;background-size: cover;" data-stellar-background-ratio="0.5">
        <div class="container">
           <div class="row">
            <div class="col-md-6">
              <%= image_tag("sustainable-logo", {:class=>"img-responsive"}) %>
            </div>
           </div>
           <br />
           <hr style="border-color:#00b033;">
           <div class="row">
              <div class="col-md-6">
                 <div class="overview">
                  <p>Sustainable Environmental Consultants (SEC) helps businesses create and maintain a sustainable infrastructure. Assisting the agriculture, construction, turf and landscape industries, as well as engineering firms, utilities and other energy organizations, We are proud to sponsor these Ecotags and help this grower in their sustainability practices.</p>
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="summ-wrapper">
                    <div class="cert-logo">
                       <%= image_tag("cert-logo", {:class=>"img-responsive"}) %>
                    </div>
                    <div class="tag-count">
                       150
                       <div class="tag-count-title">
                          certified Ecotags
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      </div>

      <div class="section parallax dark" style="padding-top: 50px;background: url('<%= image_path("stat-bg.png") %>') no-repeat center center;background-size: cover;height: 750px;" data-stellar-background-ratio="0.3">
        <div class="container clearfix">
          <div class="buy-header">
          <h2 style="font-size: 34px;"><span class="green-text">WHAT DOES THIS OFFSET?</span></h2>
          </div>
          <div class="row">
            <div class="col-md-3">
               <div class="pad-50-left">
                  <%= image_tag("car-icon", {:class=>"img-responsive"}) %>
                  <br />
                  <div class="stats">
                     2,400
                  </div>
                  <br />
                  <div id="invest-divider"></div>
                  <div class="small-stats">
                     car emissions offset
                  </div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="pad-50-left">
                  <%= image_tag("food-icon", {:class=>"img-responsive"}) %>
                  <br />
                  <div class="stats">
                     500
                  </div>
                  <br />
                  <div id="invest-divider"></div>
                  <div class="small-stats">
                     more people fed per day
                  </div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="pad-50-left">
                  <%= image_tag("cloud-icon", {:class=>"img-responsive"}) %>
                  <br />
                  <div class="stats">
                     56,000
                  </div>
                  <br />
                  <div id="invest-divider"></div>
                  <div class="small-stats">
                     kg if co<sup>2</sup> reduced
                  </div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="pad-50-left">
                  <%= image_tag("people-icon", {:class=>"img-responsive"}) %>
                  <br />
                  <div class="stats" style="margin-left:1px;">
                  6<span style="font-size:26px; margin-top:-40px;"><i class="fa fa-plus"></i></span>
                  </div>
                  <br />
                  <div id="invest-divider"></div>
                  <div class="small-stats">
                     months of avg. life expectancy
                  </div>
               </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container clearfix">
         <h2 style="font-size: 34px;"><span class="green-text">WHAT ARE THE DIRECT EFFECTS</span></h2>
         <div id="invest-divider" style="border-color:#00b033;"></div>
         <br />
         <br />
         <div class="row">
            <div class="col-md-5">
               <%= image_tag("field", {:class=>"img-responsive"}) %>
               <div class="land-stats-container">
                  <div class="land-stats">
                     acres: <span class="green-text">150</span>
                  </div>
               
                  <div class="land-stats">
                     Ecotags: <span class="green-text">150</span>
                  </div>
               </div>
            </div>
            <div class="col-md-7">
               <p class="font22">This Ecotag directly offsets the eco-friendly practices of a specific food producer and helps to supplement the costs if the following good practices for sustainability:
               <br />
               <hr style="border-color:#888;">
               <div class="accordion-wrapper">
                  <div class="accordion-header1">
                     <span class="green-text arrow-down" style="font-size:30px;"><i class="fa fa-angle-down"></i></span>
                     <span class="green-text arrow-up" style="font-size:30px;display:none;"><i class="fa fa-angle-up"></i></span>
                     <span class="pad-25-left">GROWER USES LOW-TILL</span> 
                     <span style="padding-left:15px; color:#999; font-size:30px;"><i class="fa fa-question-circle"></i></span>
                  </div>
               </div>
            <hr style="border-color:#888;">
            <div class="accordion-body1">
               <p>Tillage that covers 30% or more of the soil surface with crop residue, after planting, to reduce soil erosion by water (IDALS, IDNR, & ISU CALS, 2014). Managing the amount, orientation, and distribution of crop and other plant residue on the soil surface year round while limiting the soil disturbing activities used to grow and harvest crops in systems where the field surface is tilled prior to planting (USDA NRCS, 2013b). There is an expected phosphorus load reduction of 11% with low-till practices (IDALS, IDNR, & ISU CALS, 2014).
            </div>
               <hr style="border-color:#888;">
               <div class="accordion-wrapper">
                  <div class="accordion-header2">
                     <span class="green-text arrow-down2" style="font-size:30px;"><i class="fa fa-angle-down"></i></span>
                     <span class="green-text arrow-up2" style="font-size:30px;display:none;"><i class="fa fa-angle-up"></i></span>
                     <span class="pad-25-left">GROWER USES LOW-TILL</span> 
                     <span style="padding-left:15px; color:#999; font-size:30px;"><i class="fa fa-question-circle"></i></span>
                  </div>
               </div>
            <hr style="border-color:#888;">
            <div class="accordion-body2">
               <p>Tillage that covers 30% or more of the soil surface with crop residue, after planting, to reduce soil erosion by water (IDALS, IDNR, & ISU CALS, 2014). Managing the amount, orientation, and distribution of crop and other plant residue on the soil surface year round while limiting the soil disturbing activities used to grow and harvest crops in systems where the field surface is tilled prior to planting (USDA NRCS, 2013b). There is an expected phosphorus load reduction of 11% with low-till practices (IDALS, IDNR, & ISU CALS, 2014).
            </div>
            <div class="references">
               <div class="ref-header">
                  references
               </div>
               <hr style="border-color:#666;">
               <div class="ref-body">
                  <p>Iowa Department of Agriculture and Land Stewardship (IDALS), Iowa Department of Natural Resources (IDNR), Iowa State University College of Agriculture and Life Sciences (ISU CALS) (2014). Iowa nutrient reduction strategy. Retrieved from <a href="http://www.nutrientstrategy.iastate.edu/sites/default/files/documents/NRS2-141001.pdf" target="_blank">http://www.nutrientstrategy.iastate.edu/sites/default/files/documents/NRS2-141001.pdf</a></p>
                  <br />
                  <p>United States Department of Agriculture (USDA) National Resources Conservation Service (NRCS) (2013b). Conservation practice standard: Residue and tillage management reduced till code 345. Retrieved from <a href="http://www.nrcs.usda.gov/Internet/FSE_DOCUMENTS/stelprdb1254982.pdf" target="_blank">http://www.nrcs.usda.gov/Internet/FSE_DOCUMENTS/stelprdb1254982.pdf</a></p>
               </div>
            </div>
         </div>
      </div>
    </div> <!-- /.content-wrap -->

  </section> <!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
      <div class="container clearfix">
        <p class="center">Sustainability Partners &copy; 2016, All Rights Reserved<br></p>
      </div>
    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->
</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>
<script type="text/javascript">
  $(".accordion-header1").click(function(){
    $(".accordion-body1").slideToggle("slow");
        $(".arrow-down").toggle();
        $(".arrow-up").toggle();
  });
  $(".accordion-header2").click(function(){
    $(".accordion-body2").slideToggle("slow");
    $(".arrow2").toggleClass("fa.fa-angle-up");
        $(".arrow-down2").toggle();
        $(".arrow-up2").toggle();
  });
</script>
