<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <title>EcoPractices</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>

    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- JavaScripts
    ============================================= -->
    <%= javascript_include_tag 'application-polyfills', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'main', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body class="stretched">
    <!--[if lt IE 8]>
        <p class="alert alert-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <%= yield %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <% if Rails.env == "production"  %>
        <script> 
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ 
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), 
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) 
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); 

        ga('create', 'UA-821816-103', 'auto'); 
        ga('send', 'pageview'); 

        </script>
    <% end %>
    <!-- MOBI NAV -->
    <div class="mobi-nav-container">
        <p class="who_we_are"><%= link_to 'WHO WE ARE', controller: 'who_we_are' %></p>
        <p class="how_it_works_load"><%= link_to 'HOW IT WORKS', controller: 'how_it_works' %></p>
        <p class="produce_tag_load"><%= link_to 'PRODUCE ECOTAGS', controller: 'produce_tags' %></p>
        <p class="buy_tag_load"><%= link_to 'ECOTAGS SEARCH', controller: 'buy_tags' %></p>
        <p><a href='/buy_eco/index' data-no-turbolink>BUY ECOTAGS</a></p>
        <p><a href="https://producer.ecocredits.me/user/register"><i class="fa fa-lock" style="color: #b4bb00; font-size: 18px !important;"></i> &nbsp;LOGIN</a></p>
    </div>
    <script>
        $('#primary-menu-trigger').click(function(){
            $('.mobi-nav-container').toggle(250);
        });
    </script>

  </body>
</html>
