
<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Header
  ============================================= -->
  <header id="header" class="full-header">
    <div id="header-wrap">
      <div class="container clearfix">
        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
        <!-- Logo
        ============================================= -->
        <div id="logo" class="move-right logo">
         <a href='/' data-no-turbolink class="standard-logo" data-dark-logo="<%= image_path("logo-ecocredits.png") %>">
            <%= image_tag("logo-ecopractices.png", {:class=>"img-responsive"}) %>
          </a>
          <a href="#" class="retina-logo" data-dark-logo="<%= image_path("logo-ecocredits@2x.png") %>">
            <%= image_tag("logo-ecocredits@2x.png", {:class=>"img-responsive"}) %>
          </a>
        </div><!-- #logo end -->
        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu">
          <ul>
            <li class="who_we_are current"><%= link_to 'WHO WE ARE', controller: 'who_we_are' %></li>
            <li class="how_it_works_load"><%= link_to 'HOW IT WORKS', controller: 'how_it_works' %></li>
            <li class="produce_tag_load"><%= link_to 'PRODUCE ECOTAGS', controller: 'produce_tags' %></li>
            <li class="buy_tag_load"><%= link_to 'BUY ECOTAGS', controller: 'buy_tags' %></li>
          </ul>
          <ul style="border: none;">
            <li><a href="https://producer.ecocredits.me/user/register"><i class="fa fa-lock" style="color: #b4bb00; font-size: 18px !important;"></i> &nbsp;LOGIN</a></li>
          </ul>
        </nav><!-- #primary-menu end -->
      </div>
    </div>
  </header><!-- #header end -->


  <!-- Content
  ============================================= -->
  <section id="content">

    <div class="content-wrap">

      <div class="main-banner section parallax dark nobottommargin header-stick notopborder" style="background: url('<%= image_path("show-head.png") %>') no-repeat center center;background-size: cover;min-height: 250px;" data-stellar-background-ratio="0.3">
        <div class="container clearfix">
          <div class="buy-header">
            <h2>WHO WE ARE</h2>
            <p id="up25">Our mission, values, and services</p>
          </div>
        </div>
      </div>

      <div class="container-fluid how-sub" style="background: #343b3b; z-index: 9;">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <ul>
                <li style="padding-left: 0 !important; padding-top: 10px;"><a id="what" href="#overview">overview</a></li>
                <li><a id="tags" href="#what-we-do">what we do</a></li>
                <li><a id="process" href="#what-we-offer">what we offer</a></li>
                <li style="border-right: none; border-bottom: none;" id="service"><a href="#services">services</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid saf-fix content-p" style="background: #4a5454; z-index: 5;">
        <div class="container receive-text">
          <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
              <p style="padding-top: 65px;padding-bottom: 45px;padding-right: 45px; font-weight: 100;">EcoPractices generates, verifies, and markets Ecotags to promote collective carbon neutral goals.</p>
            </div>
          </div>
        <span id="what-are-ecopractices"></span>
        </div>
      </div>

      <div class="container" style="margin-top:50px;">
         <div class="row">
            <div class="col-md-6">
               <h2 style="color:#b4bb00; font-size:32px;">OVERVIEW</h2>
               <div id="revenue-divider" style="border: 1px solid #222;width: 40px;"></div>
               <br />
               <p style="color:#555555; font-size:20px;font-weight:100;">EcoPractices strives to inspire and engage companies to be leaders of sustainability by promoting the use of mindful practices and products that reduce environmental impacts with the goal of a brighter future.</p>
               <p style="color:#555555; font-size:20px;font-weight:100;">That’s why we offer a white-labeled platform that can be integrated into an already existing sustainable platform. EcoPractices is a private voluntary platform that brings private industries to the table to help fund conservation practices and sustainable BMPs while offering direct documentation and third party verified proof of those efforts.</p>
            </div>

            <div class="col-md-6">
            <span class="lg-left"><%= image_tag("handshake.png", {:'data-animate'=>"fadeIn"}) %></span>
            </div>
        </div>
        <span id="what-are-eco-tags"></span>
        <h1>&nbsp;</h1>
        
     </div>

     <div class="produce-body" style="padding-bottom: 100px;background:#f7f7f7;">
        <br />
        <div class="container">
           <div class="row" style="padding-top:50px;">
            <div class="col-md-6 show-small">
               <h2 style="color:#b4bb00; font-size:32px;">WHAT WE DO</h2>
               <div id="revenue-divider" style="border: 1px solid #222;width: 40px;"></div>
               <br />
               <p style="color:#555555; font-size:20px;font-weight:100;">EcoPractices is a Sustainability Partners Brand.  Sustainability Partners, SP, understands and agrees that decreasing greenhouse gas emissions from agriculture can only be achieved through a collaborative effort. SP has many service providers and partners working to make EcoPractices successful. SPs services can be utilized though a white label website offering the capability to be adopted into an existing sustainability framework. </p>
               <p style="color:#555555; font-size:20px;font-weight:100;">Your company would have complete control of the EcoPractices platform and services can be molded to fit your needs. EcoPractices would give your company the proof and credit they deserve for practices already being implemented and provide the advantage needed to encourage further sustainable advances. EcoPractices consistent method and Ecotag program brings stability and consistency across the entire agricultural industry. EcoPractices is the complete package needed to fulfill a company’s sustainability performance with EcoPractices transparent process. </p>
            </div>
            <div class="col-md-6 text-left">
               <%= image_tag("what-we-do.png", {:'data-animate'=>"fadeInLeftBig"}) %>
            </div>
            <div class="col-md-6 hide-small text-left">
               <h2 style="color:#b4bb00; font-size:32px;">WHAT WE DO</h2>
               <div id="revenue-divider" style="border: 1px solid #222;width: 40px;"></div>
               <br />
               <p style="color:#555555; font-size:20px;font-weight:100;">EcoPractices is a Sustainability Partners Brand.  Sustainability Partners, SP, understands and agrees that decreasing greenhouse gas emissions from agriculture can only be achieved through a collaborative effort. SP has many service providers and partners working to make EcoPractices successful. SPs services can be utilized though a white label website offering the capability to be adopted into an existing sustainability framework. </p>
               <p style="color:#555555; font-size:20px;font-weight:100;">Your company would have complete control of the EcoPractices platform and services can be molded to fit your needs. EcoPractices would give your company the proof and credit they deserve for practices already being implemented and provide the advantage needed to encourage further sustainable advances. EcoPractices consistent method and Ecotag program brings stability and consistency across the entire agricultural industry. EcoPractices is the complete package needed to fulfill a company’s sustainability performance with EcoPractices transparent process. </p>
            </div>
           </div>
         </div>
         <span id="the-process"></span>
      </div>
    
      <div class="container-fluid" style="background:#343b3b;padding-top:75px;padding-bottom:75px;">
        <div class="container">
            <div class="row">
                <h2 style="color:#FFF; font-size:32px;">WHAT WE OFFER</h2>
                <div id="revenue-divider" style="border: 1px solid #FFF;width: 40px;"></div>
            </div>
            <div class="row" style="padding-top:75px;">
                <div class="col-xs-2 col-sm-1"><%= image_tag("Puzzle.png", {:'data-animate'=>"fadeInLeftBig"}) %></div>
                <div class="col-xs-8 col-sm-4">
                    <p style="font-size:18px; color:#FFF;">EcoPractices platform can be integrated into an already existing sustainable framework to achieve higher adoption levels of sustainable practices and increase a buyer’s attention to drive environmental.</p>
                </div>
                <div class="hidden-xs col-sm-1"></div>
                <div class="col-xs-2 col-sm-1"><%= image_tag("Government.png", {:'data-animate'=>"fadeInLeftBig"}) %></div>
                <div class="col-xs-8 col-sm-4">
                    <p style="font-size:18px; color:#FFF;">EcoPractices commits to offering government supported conservation practices and sustainable products.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-1"><%= image_tag("Book.png", {:'data-animate'=>"fadeInLeftBig"}) %></div>
                <div class="col-xs-8 col-sm-4">
                    <p style="font-size:18px; color:#FFF;">EcoPractices provides brief educational explanations of environmental benefits attributed to each practice or product referenced to widely accepted sources.</p>
                </div>
                <div class="hidden-xs col-sm-1"></div>
                <div class="col-xs-2 col-sm-1"><%= image_tag("Checklist.png", {:'data-animate'=>"fadeInLeftBig"}) %></div>
                <div class="col-xs-8 col-sm-4">
                    <p style="font-size:18px; color:#FFF;">EcoPractices provides a multi-party, multi-step verification process that provides auditable proof of implementation or installment.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-1"><%= image_tag("Tractor.png", {:'data-animate'=>"fadeInLeftBig"}) %></div>
                <div class="col-xs-8 col-sm-4">
                    <p style="font-size:18px; color:#FFF;">EcoPractices produces Ecotags attributed to each best management practice available from producers to buyers to reduce their carbon footprint.</p>
                </div>
                <div class="hidden-xs col-sm-1"></div>
                <div class="col-xs-2 col-sm-1"><%= image_tag("BarGraph.png", {:'data-animate'=>"fadeInLeftBig"}) %></div>
                <div class="col-xs-8 col-sm-4">
                    <p style="font-size:18px; color:#FFF;">EcoPractices generates measurable environmental impacts to a field specific level and interprets those impacts to the general public in a friendly format. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-1"><%= image_tag("Bank.png", {:'data-animate'=>"fadeInLeftBig"}) %></div>
                <div class="col-xs-8 col-sm-4">
                    <p style="font-size:18px; color:#FFF;">EcoPractices provides an independent financial confirmation process.</p>
                </div>
                <div class="hidden-xs col-sm-1"></div>
                <div class="col-xs-2 col-sm-1"><%= image_tag("Chemistry.png", {:'data-animate'=>"fadeInLeftBig"}) %></div>
                <div class="col-xs-8 col-sm-4">
                    <p style="font-size:18px; color:#FFF;">EcoPractices has a consortium of scientific support for EcoPractices process and industry expertise for sustainable practices and sustainable products available.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-1"><%= image_tag("MoneyHand.png", {:'data-animate'=>"fadeInLeftBig"}) %></div>
                <div class="col-xs-8 col-sm-4">
                    <p style="font-size:18px; color:#FFF;">EcoPractices Ecotags provide a financial incentive to producers to make it feasible to implement conservation practices or install sustainable products.</p>
                </div>
                <div class="hidden-xs col-sm-1"></div>
                <div class="col-xs-2 col-sm-1"><%= image_tag("WebMarketing.png", {:'data-animate'=>"fadeInLeftBig"}) %></div>
                <div class="col-xs-8 col-sm-4">
                    <p style="font-size:18px; color:#FFF;">EcoPractices provides associated specialized packages called Marketing Tool Kits that are included with a buyer’s Ecotag purchase.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-1"><%= image_tag("EcoFriendly.png", {:'data-animate'=>"fadeInLeftBig"}) %></div>
                <div class="col-xs-8 col-sm-4">
                    <p style="font-size:18px; color:#FFF;">EcoPractices is dedicated to ensuring a trustworthy process for producers, clients, corporations, and other entities to assist collaborative sustainable efforts to achieve common goals.</p>
                </div>
            </div>
        </div>
      </div>
        
      <div class="container-fluid" style="background:#FFF;padding-top:75px; padding-bottom:75px;">
        <div class="container" id="services">
            <div class="row">
                <div class="col-xs-12 text-center">
                   <h2 style="color:#b4bb00; font-size:32px;">SERVICES</h2>
                   <div id="revenue-divider" style="border: 1px solid #222;width: 40px;margin:0 auto;"></div> 
                </div>
            </div>
        </div>
      </div>
        
      <div class="container-fluid" style="padding-top:75px;padding-bottom:75px;background:#f7f7f7;">
        <div class="container">
            <div class="row">
                <div class="col-xs-5">
                    <%= image_tag("Soxx.jpg", {:'data-animate'=>"fadeInLeftBig"}) %>
                </div>
                <div class="col-xs-7">
                    <h2 style="color:#008ed3; font-size:24px;">PROVIDE AVAILABLE PRACTICES</h2>
                    <div id="revenue-divider" style="border: 1px solid #222;width: 40px;"></div>
                    <p style="color:#555555; font-size:20px;font-weight:100;margin-top:35px;">EcoPractices has a database of conservation practices and sustainable products available that are government supported and university supported. Each practice offered has a description that explains the practice as well as explanations of each benefit that is supported with peer reviewed, widely accepted sources. New practices can be developed and integrated into the EcoPractices platform with the assistance of AgSolver’s scientific and software support.</p>
                </div>
            </div>
        </div>
      </div>
        
      <div class="container-fluid" style="padding-top:75px;padding-bottom:75px;background:#FFF;">
        <div class="container">
            <div class="row">
                <div class="col-xs-7">
                    <h2 style="color:#008ed3; font-size:24px;">ECOTAG PRODUCTION</h2>
                    <div id="revenue-divider" style="border: 1px solid #222;width: 40px;"></div>
                    <p style="color:#555555; font-size:20px;font-weight:100;margin-top:35px;">EcoPractices has created a database used for uploading and storing information. EcoPractices site makes uploading of producer’s information quick and efficient. Upon submission, the verification process and generation of environmental impacts stages are completed and approved by SP employees. EcoPractices platform will then assign an Ecotag to the producers practice along with the environmental impact values and produce the marketing materials essential for a buyer. Ecotag production involves a numbering system that links to all documentation involved for the practices associated with that Ecotag. A complete paper trail is created in case of audit or if issues arise where it is needed to present the company’s voluntary environment progress to a governmental agency </p>
                </div>
                <div class="col-xs-5">
                    <span class="lg-left"><%= image_tag("Certificate_Detail_Available_v03c.jpg", {:'data-animate'=>"fadeIn"}) %></span>
                </div>
            </div>
        </div>
      </div>
        
      <div class="container-fluid" style="padding-top:75px;padding-bottom:75px;background:#f7f7f7;">
        <div class="container">
            <div class="row">
                <div class="col-xs-5">
                    <%= image_tag("Offset.jpg", {:'data-animate'=>"fadeInLeftBig"}) %>
                </div>
                <div class="col-xs-7">
                    <h2 style="color:#008ed3; font-size:24px;text-transform:uppercase;">Environmental Impact Generation</h2>
                    <div id="revenue-divider" style="border: 1px solid #222;width: 40px;"></div>
                    <p style="color:#555555; font-size:20px;font-weight:100;margin-top:35px;">EcoPractices generates environmental impacts from conservation practices and sustainable products with the assistance of service providers and other industry experts to obtain the most precise impacts associated with each practice down to the specific location of implementation or installation. Some of the values EcoPractices is able to estimate include, but are not limited to; greenhouse gas reductions, soil loss reduced, amount of nitrogen fertilizer loss reduced due to less leaching, amount of organic matter diverted from a landfill, and amount of storm water absorption potential. EcoPractices presents raw results and then interprets these results and displays values based on publicly consumable values with the help of publications from government and or university research.</p>
                </div>
            </div>
        </div>
      </div>
        
      <div class="container-fluid" style="padding-top:75px;padding-bottom:75px;background:#FFF;">
        <div class="container">
            <div class="row">
                <div class="col-xs-7">
                    <h2 style="color:#008ed3; font-size:24px;">THIRD PARTY VARIFICATION</h2>
                    <div id="revenue-divider" style="border: 1px solid #222;width: 40px;"></div>
                    <p style="color:#555555; font-size:20px;font-weight:100;margin-top:35px;">The Verification Process includes multiple phases and has the potential for additional steps to be included in this process upon a company’s desires. The first step includes the NRCS Technical Guide standards. SP utilizes Sustainable Environmental Consultants, which can design and approve of design criteria up to NRCS specifications and will assist SP in overseeing and releasing data for the second phase. Next, AgSolver’s software workflow will verify and track practice information that is provided by the producer and or company. Lastly, a spot-check process where a third party and or a contracted university would provide field agents to go out to a location and manually verify the practice was implemented. This process requests six main components of information to complete all stages, which includes, but is not limited to; practice specifications, field location and boundaries, as applied machine data, satellite data, invoices and receipts, and photographs. EcoPractices Product Manager will facilitate the verification process and approve each stage in the process to be accurate and complete before the next stage is completed. </p>
                </div>
                <div class="col-xs-5">
                    <span class="lg-left"><%= image_tag("3rd_Party.jpg", {:'data-animate'=>"fadeIn"}) %></span>
                </div>
            </div>
        </div>
      </div>
        
      <div class="container-fluid" style="padding-top:75px;padding-bottom:75px;background:#f7f7f7;">
        <div class="container">
            <div class="row">
                <div class="col-xs-5">
                    <%= image_tag("Piggy_Bank.jpg", {:'data-animate'=>"fadeInLeftBig"}) %>
                </div>
                <div class="col-xs-7">
                    <h2 style="color:#008ed3; font-size:24px;text-transform:uppercase;">Independent Financial Processing</h2>
                    <div id="revenue-divider" style="border: 1px solid #222;width: 40px;"></div>
                    <p style="color:#555555; font-size:20px;font-weight:100;margin-top:35px;">SP is the accounting and monetary verification component for the EcoPractices Platform. SP has set up an Escrow account with West Bank of Des Moines, Iowa. SP will oversee all accounting processes and will work directly with a company’s accountants to provide the necessary financials. SP is the independent financial management and supervision step that hold funds in the Escrow account and only releases financial incentives to producers after the verification process has been completed and approved. Financial incentives released to support a farmer’s sustainable efforts and alleviate high implementation costs will be released from SP to the farmer, and not directly from associated parties. There are different financial flow situations depending on the practices implemented. EcoPractices pricing compensation is discussed with all parties involved and the entire EcoPractices team.</p>
                </div>
            </div>
        </div>
      </div>
        
      <div class="container-fluid" style="padding-top:75px;padding-bottom:75px;background:#FFF;">
        <div class="container">
            <div class="row">
                <div class="col-xs-7">
                    <h2 style="color:#008ed3; font-size:24px;">MARKETING TOOL KITS</h2>
                    <div id="revenue-divider" style="border: 1px solid #222;width: 40px;"></div>
                    <p style="color:#555555; font-size:20px;font-weight:100;margin-top:35px;">EcoPractices Marketing Services comprises Red 5 Interactive. Red 5 is a Des Moines based marketing firm for the EcoPractices brand, associated marketing services, and the production of Marketing Tool Kits. The Marketing Tool Kit includes six main components; proof of purchase, social media posts, press release documents, an image library, logo &amp; certification symbol use, and customization needs. These pieces can be downloaded within the buyer’s portal on EcoPractices website once an Ecotag transaction has been completed. Red 5 will work closely with a company’s marketing department to assist with the EcoPractices platform and with the EcoPractices brand to ensure a consistent message is translated.</p>
                </div>
                <div class="col-xs-5">
                    <span class="lg-left"><%= image_tag("CertBuyer_Landing_v04.jpg", {:'data-animate'=>"fadeIn"}) %></span>
                </div>
            </div>
        </div>
      </div>

    </div> <!-- /.content-wrap -->

  </section> <!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark" style="margin-top:-30px;">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
      <div class="container clearfix">
        <p class="center">Sustainability Partners &copy; 2016, All Rights Reserved<br></p>
      </div>
    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->
</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".buy_tag_load a, .produce_tag_load a, .how_it_works_load a, .who_we_are a").click(function() {
        window.document.location = $(this).attr("href");
    });
    mSub();
  });

    function mSub(){
      $("#what").click(function(){
        $('html, body').animate({
          scrollTop: $("#what-are-ecopractices").offset().top +15
        }, 700);
      });
      $("#tags").click(function(){
        $('html, body').animate({
          scrollTop: $("#what-are-eco-tags").offset().top +100
        }, 700);
      });
      $("#process").click(function(){
        $('html, body').animate({
          scrollTop: $("#the-process").offset().top +10
        }, 700);
      });
      $("#service").click(function(){
        $('html, body').animate({
          scrollTop: $("#services").offset().top -10
        }, 700);
      });
    }
</script>